{% load i18n %}<html>
    <body style="margin: 0; padding: 20px 50px;">
		<div style=" padding: 15px 8px;">
			<p style="margin-bottom:30px;">{% block hello %}{% blocktrans with name=update.author %}Hello {{ name }},{% endblocktrans %}{% endblock %}</p>

			{% block content %}{% endblock %}
			{% block thanks %}
			<p style="margin-top:25px;">{% trans 'Thank you,' %}</p>
			<p>{% trans 'The Fix My Street Team' %}</p>
            			<img src="http://fixmystreet.irisnetlab.be/static/images/logo.png"/>
			{% endblock %}
			{% block signature %}{% endblock %}
		</div>
	</body>
</html>
