{% load i18n %}
<h2>{% trans 'Report overview:' %}</h2>

<p>{% trans 'Address:'%} {{report.address}}</p>
<p>{% trans 'Postal code:'%} {{report.postalcode}}</p>
<p>{% trans 'Description:'%} {{report.description}}</p>
<p>{% trans 'Type:'%} {{report.category.name}}</p>
<p>{% trans 'Creator:'%} 
	{% if report.creator %}
	{{report.creator.username}}
	{% else %}
	{{report.citizen.username}}
	{% endif %}
</p>
<p>{% trans 'Created at:'%} {{report.created|date}}</p>
{% if report.comments.all %}
<h3> {% trans 'Extra comments'%} </h3>
{% for  comment in report.comments.all %}
<p>{% trans 'Comment:' %} {{comment.text}}</p>
{% endfor %}
{% endif %}
{% if report.files.all %}
<h3> {% trans 'Extra files'%} </h3>
{% for  file in report.files.all %}
{% if file.is_visible %}
<p>{% trans 'Title:'%} {{file.title}}</p>
{% if file.file_type == 4 %}
<p><img src="cid:image{{file.id}}"></p>
{% endif %}
{% endif %}
{% endfor %}
{% endif %}
