{% load i18n %}
<hr/>
<h2><u>{% trans 'Report overview:' %}</u></h2>
<p><strong>{% trans 'Address:'%}</strong> {{report.address}}, {{report.address_number}}</p>
<p><strong>{% trans 'Postal code:'%}</strong> {{report.postalcode}}</p>
<p><strong>{% trans 'Type:'%}</strong> {{report.display_category}}</p>
<p><strong>{% trans 'Creator:'%}</strong>
	{% if report.created_by %}
	{{report.created_by.username}}
	{% else %}
	{{report.citizen.username}}
	{% endif %}
</p>
<p><strong>{% trans 'Created at:'%}</strong> {{report.created|date}}</p>
{% if report.comments.all %}

<hr/>
<h3><u>{% trans 'Extra comments'%}</u></h3>
{% for  comment in report.comments.all %}
<p><strong>{% trans 'Comment:' %}</strong> {{comment.text}}</p>
{% endfor %}
{% endif %}
{% if report.files.all %}

<hr/>
<h3><u>{% trans 'Extra files'%}</u></h3>
{% for file in report.files.all %}
{% if file.is_public %}
<p><strong>{% trans 'Title:'%}</strong> {{file.title}}</p>
{% if file.file_type == 4 %}
<p><img src="cid:image{{file.reportattachment_ptr_id}}"></p>
{% endif %}
{% endif %}
{% endfor %}
{% endif %}
