{% extends 'emails/base_email.html' %}
{% load i18n %}
{% get_available_languages as languages %}

{% block content %}
{% get_language_info for "nl" as langNL %}
{% get_language_info for "fr" as langFR %}
{% language langFR.code %}
{% blocktrans with reportType=related.display_category date=related.created|date reportId=related.id url=mail_url %}
<p>A report of type {{reportType}} created at {{date}} is assigned to you. If you want to see the content of the report, click the following link: <a href="{{SITE_URL}}{{url}}">{{SITE_URL}}{{url}}</a> .</p>
{% endblocktrans %}
{% include "emails/report_show.html" with report=related %}
{% endlanguage %}
<br/>
-------------------------------------------------
<br/>
{% language langNL.code %}
{% blocktrans with reportType=related.display_category date=related.created|date reportId=related.id url=mail_url %}
<p>A report of type {{reportType}} created at {{date}} is assigned to you. If you want to see the content of the report, click the following link: <a href="{{SITE_URL}}{{url}}">{{SITE_URL}}{{url}}</a> .</p>
{% endblocktrans %}
{% include "emails/report_show.html" with report=related %}
{% endlanguage %}

{% endblock %}
