{% extends "base.html" %}
{% load i18n %}
{% load tags %}
{% block title %}{% trans 'Sign in' %} {% endblock %}

{% block content %}
<div id="reporting-download">
    <h2>{% trans 'Reporting' %} <small>{{ request.fmsuser.organisation }}</small></h2>

    <br/>

    {% if message %}

        <div class="alert alert-block">
            {{ message|safe }}
        </div>

    {% endif %}

    <table class="table table-hover">
        <thead>
            <tr>
                <th>{% trans 'Rapport quotidien' %}</th>
            </tr>
        </thead>

        <tbody>
            {% if xls or pdf_kpi %}
                {% if xls %}
                <tr onclick="document.location = '{% url 'reporting_download' xls.path %}';" class="pointer">
                    <td>
                        {% trans 'Télécharger le rapport quotidien du' %}
                        <strong>{{ xls.modified_date|date:"d/m/Y" }}</strong>
                    </td>
                </tr>
                {% endif %}
                {% if pdf_kpi %}
                     <tr onclick="document.location = '{% url 'reporting_download' pdf_kpi.path %}';" class="pointer">
                    <td>
                        {% trans 'Télécharger le rapport KPI quotidien du' %}
                        <strong>{{ pdf_kpi.modified_date|date:"d/m/Y" }}</strong>
                    </td>
                </tr>
                {% endif %}
            {% else %}
                <tr class="loading"><td>{% trans 'Aucun rapport disponible' %}</td></tr>
            {% endif %}
        </tbody>
    </table>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>{% trans 'Rapports mensuels' %} <span class="badge badge-info">{{ pdf|length }}</span></th>
            </tr>
        </thead>

        <tbody>
            {% if pdf %}

                {% for file in pdf|dictsortreversed:"modified_date" %}
                    <tr onclick="document.location = '{% url 'reporting_download' file.path %}';" class="pointer">
                        <td>
                            {% trans 'Télécharger le rapport mensuel du' %}
                            <strong>{{ file.modified_date|date:"m/Y" }}</strong>
                        </td>
                    </tr>
                {% endfor %}

            {% else %}

                <tr class="loading"><td>{% trans 'Aucun rapport disponible' %}</td></tr>

            {% endif %}

        </tbody>
    </table>
{% endblock %}
</div>
