{% extends "base.html" %}
{% load i18n %}
{% load tags %}
{% block title %}{% trans 'Sign in' %} {% endblock %}

{% block content %}
	<form method="post" action="" class="form-centered form-signin">
	    <h1>{% trans 'Sign in' %}</h1>
		{% if form.non_field_errors %}
		{{ form.non_field_errors }}
		{% endif %}
	    <input type="hidden" name="next" value="{{ request.GET.next }}" />
		{% include "_form_horizontal.html" with form=form %}

		<div class="login-btns">
			<input type="submit" value="{% trans 'login' %}" class='btn btn-large btn-login'/>
	    	<p>
		        <a class="foroget-pwd" href="{% url 'django.contrib.auth.views.password_reset' %}">{% trans 'Forgot password?' %}</a>
	    	</p>
	    </div>
	</form>	

{% endblock %}
