{% extends "base.html" %}
{% load tags %}
{% block script %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL}}js/jquery/iphone-style-checkboxes.js"></script>
{% endblock %}

{% block main_menu %}
<ul class='leftPane' id="leftMenuPanePro">
    <li> <a id="allMenuItem" class='category positionable' href="{% url report_list_pro 'all' %}"> Reports <p class="category_number">{{request.user|numberOfReports}}</p></a></a> </li>
    
    <li><a id='createdMenuItem' class='subcategory positionable' href="{% url report_list_pro 'created' %}"> Created <p class="category_number">{{request.user|numberOfCreatedReports}}</p></a> </li>
    <li><a id='progressMenuItem' class='subcategory positionable' href="{% url report_list_pro 'in_progress' %}"> Progress <p class="category_number">{{request.user|numberOfInProgressReports}}</p></a></li>
    <li><a id='closedMenuItem' class='subcategory positionable' href="{% url report_list_pro 'closed' %}"> Closed <p class="category_number">{{request.user|numberOfClosedReports}} </p></a> </li>
    <li><a id="subscriptionMenuItem" class='subcategory' href="{% url report_subscription_pro %}?subscription=1"> My subscriptions <p class="category_number">{{request.user|numberOfSubscriptions}}</p> </a> <p class="category_number"></p></li>
    <li> <a class='category' href="{% url usersOverview %}?userType=users"> Collaborators <p class="category_number">{{request.user|numberOfUsers}}</p></a></a></li>
    
    <li><a class='subcategory' href="{% url usersOverview %}?userType=agent">Agents <p class="category_number">{{request.user|numberOfAgents}}</p></a> </a> </li>
    <li><a class='subcategory' href="{% url usersOverview %}?userType=contractor">Exec de travaux <p class="category_number">{{request.user|numberOfContractors}}</p></a></a> </li>
    <li><a class='subcategory' href="{% url usersOverview %}?userType=impetrant"> Impétrants <p class="category_number">{{request.user|numberOfImpetrants}}</p></a></a></li>

    <li><a class='subcategory' href="{% url usersOverview %}?userType=manager"> Gestionnaires <p class="category_number">{{request.user|numberOfManagers}}</p></a></a></li>
    
    {% if request.user.id|isLeader %}
        {% if request.user.id|hasAtLeastAManager %}
        <li> <a class='category'> Configuration </a></li>
        <li><a class='subcategory' href="{% url category_gestionnaire_configuration %}"> Gestionnaires </a></li>
        {% endif %}
    {% endif %}

    
    <li><a id='createMenu' class='category' href=""> Create </a></li> 
    {% if request.user.id|hasAtLeastAManager %}
        <li><a id='createReportMenuItem' class='subcategory' href="{% url report_new_pro %}?x=150035.431&y=170906.871#form"> Report </a></li> 
    {% endif %}
    {% if request.user.id|isLeader or request.user.id|isManager %}
        <li><a id='createUserMenuItem' class='subcategory' href="{% url create_user_pro %}"> Create users </a></li>
    {% endif %}
</ul>
{% endblock %}
