{% extends "base.html" %}
{% load i18n %}
{% load tags %}
{% block title %}{% trans 'Sign in' %} {% endblock %}

{% block content %}
	<form method="post" action="" class="form-centered">
		<h1>{% trans 'Change password' %}</h1>
		{% if form.errors %}
		<p class="error">{% trans "Validation error" %}</p>
		{% endif %}
		{% include "_form_horizontal.html" with form=form %}

		<input type="submit" value="{% trans 'Change' %}" class='btn pull-right'/>
		<input type="hidden" name="next" value="{{ next }}" />
	</form>
{% endblock %}
