{% extends "pro/base.html" %}
{% load i18n tags %}

{% block script %}
{{ block.super }}

<script>
    function disableFormFields() {
        $.each($(":input"),function(idx,value){
            $(value).pro("disabled", true);
        });
        $("form :submit, form .btn, .helptext").hide();
    }
    {% if not can_edit %}
    disableFormFields();
    {% endif %}
</script>
{% endblock %}

{% block title %}{% trans "User overview:"%}{%if editForm %}: {{editForm.username.value}}{%endif%}{% endblock %}

{% block content %}
<div id='page_content_container'>

    {% if contractor_form %}
    <h1>
        {%if user_form %}
            <a href="mailto:{{ user_form.instance.email }}">{{ contractor_form.instance.name }} - {{ user_form.instance.get_full_name }}</a>
        {% else %}
            {% trans "Contractors" %}
        {% endif %}
    </h1>
    <div id="leftcol">
        <form action="" method="POST" class="form-horizontal">
            <fieldset>
                <legend>{% trans "Contractor" %}</legend>
                {% include "_form_horizontal.html" with form=contractor_form %}
            </fieldset>
            <fieldset>
                <legend>{% trans "User" %}</legend>
                {% include "_form_horizontal.html" with form=user_form %}
            </fieldset>
            <input type="submit" value="{% trans 'Submit' %}" class="btn"/>
            <a class= "btn pull-right btn-danger" href='{% url delete_contractor contractor_id=contractor_form.instance.id %}' onclick="return confirm('Are you sure you want to delete this user?')" >{% trans 'Delete' %}</a>
        </form>
    </div>
    {%endif%}

    <div id="{% if contractor_form %}rightcol{% else %}leftcol{% endif %}" class="list_contractors">
        <div id='search_results'>
            <a class="report" href="{% url create_contractor %}">
                <h3>+ {% trans 'Create a new contractor' %}</h3>
            </a>

            {% for contractor in contractors %}
            <a class="report" href="{% url edit_contractor contractor.id %}">
                <p>
                    <img src="{{ STATIC_URL }}images/contractor.png"/>
                    {{ contractor.name }}
                </p>
            </a>
            {% endfor %}
        </div>

    </div>
</div>


{% endblock %}
