{% extends "home.html" %}
{% load i18n %}

{% block js_vars %}
    {{ block.super }}
    var NEW_INCIDENT_URL = '{% url "report_verify_pro" %}';
{% endblock %}

{% block script-search %}
  <script type="text/javascript">
    $(function(){
      {% if popup_reports%}
      $("#report_popup").modal();
      {% endif %}
    });

    var zipcodes = new Object();

    {% for zip in all_zipcodes %}
        zipcodes[{{zip.code}}] = new Object();
        zipcodes[{{zip.code}}].participation = {{ zip.commune.active|yesno:"true,false" }};
        zipcodes[{{zip.code}}].phone = " {{zip.commune.phone}} ";
        zipcodes[{{zip.code}}].commune = "{{zip.commune.name}}";
    {% endfor %}

  </script>
{% endblock %}

{% block content %}
    {{ block.super }}
{% endblock %}

{% block statistics %}
<article id="statistics">
    <div class='pro-counter'>
       <span class='text'>{% trans 'Unpublished' %}</span>
    <table align="center">
    {% for stat in stats %}
    <tr>
    <td>
           <span class='qualifier'>
        {{ stat.stat_name }}:
        </span>
    </td>
    <td>
        <a style="color:white" href="{% url 'report_prepare_pro' %}?stat_type={{stat.stat_key}}&stat_status=unpublished" >
           <span class='qualifier'>
        {{stat.stat_value.get_count_new}}
        </span>
    </a>
    </td>
    </tr>
    {% endfor %}
    </table>
       </span>
    </div>
    <div class='pro-counter'>
       <span class='text'>{% trans 'In progress' %}</span>
       <span class='qualifier'>
    <table align="center">
    {% for stat in stats %}
        <tr>
        <td>
           <span class='qualifier'>
        {{ stat.stat_name }}:
        </span>
        </td>
        <td>
        <a style="color:white" href="{% url 'report_prepare_pro' %}?stat_type={{stat.stat_key}}&stat_status=in_progress" >
           <span class='qualifier'>
        {{stat.stat_value.get_count_in_progress}}
        </span>
    </a>
        </td>
        </tr>
        {% endfor %}
    </table>
       </span>
    </div>
    <div class='pro-counter'>
       <span class='text'>{% trans 'Closed' %}</span>
       <span class='qualifier'>
        <table align="center">
        {% for stat in stats %}
        <tr>
        <td>
           <span class='qualifier'>
        {{ stat.stat_name }}:
        </span>
        </td>
        <td>
        <a style="color:white" href="{% url 'report_prepare_pro' %}?stat_type={{stat.stat_key}}&stat_status=closed" >
           <span class='qualifier'>
        {{stat.stat_value.get_count_closed}}
        </span>
    </a>
        </td>
        </tr>
        {% endfor %}
        </table>
       </span>
    </div>
</article>
<div id="report_popup" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2>{% trans request.GET.stat_type %} {% trans request.GET.stat_status %}</h2>
    </div>
    <div id="search_results" class="modal-body">
        {% for report in popup_reports %}
        {% include "reports/_navigation.html" with url=report.get_absolute_url_pro %}
        {% endfor %}
    </div>
</div>
{% endblock %}

