{% extends "base.html" %}
{% load i18n %}
{% load tags %}
{% block title %}{% trans 'Sign in' %} {% endblock %}

{% block content %}

    <table class="table table-hover">
        <thead>
            <tr>
                <th>{% trans 'Filename' %}</th>
                <th>{% trans 'File date' %}</th>
            </tr>
        </thead>

        <tbody>
            {% for file in files %}
                <tr onclick="document.location = '{% url 'reporting_download' file.path %}';" class="pointer">
                    <td>
                        {{ file.path }}
                    </td>
                    <td>
                        {{ file.modified_date|date:"d/m/Y" }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
