{% extends "base.html" %}
{% load i18n %}
{% load tags %}
{% block title %}{% trans 'Sign in' %} {% endblock %}

{% block content %}
<form method="post" action="" class="form-centered">
    <h1>{% trans 'Sign in' %}</h1>
	{% if form.non_field_errors %}
	{{ form.non_field_errors }}
	{% endif %}
    <input type="hidden" name="next" value="{{ request.GET.next }}" />
	{% include "_form_horizontal.html" with form=form %}

	<input type="submit" value="login" class='big_button'/>
</form>
{% endblock %}
