{% extends "pro/base.html" %}
{% load i18n %}
{% load tags %}
{% block title %}
{% trans 'Default manager configuration' %}
{% endblock %}
{% block script %}
{{ block.super }}

<script>
$(document).ready(function(){

  $.each($(".matrixButton"),function(idx,value){
    if($(value).text().indexOf("No manager selected")!=-1){
      $(value).addClass("emptySelection");
    }
  });

  /*Hide empty selection zones*/
  if($("#54").is("button")){
    $('#54').hide();
  }
  if($("#38").is("button")){
    $('#38').hide();
  }
  if($("#58").is("button")){
    $('#58').hide();
  }
});

</script>
{% if categories %}
    <script>
    $(function() {
        $("#dialog").modal();
    });
    </script>
  {% endif %}
{% endblock %}


{% block content %}

<div id="fullwidth">
  <h1>{% trans 'Configure gestionnaire categories' %}</h1>
  <div id="dialog" role="dialog" class="modal hide fade" title="{{firstCateg.name}} / {{secondCateg.name}}">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3>{{firstCateg.name}} / {{secondCateg.name}}</h3>
    </div>

    <div class="modal-body">
        <form action="{% url 'saveSelection' %}" method="GET">
            <table style="padding:20px">
                {% for cat in categories %}
                <tr>
                    <td style="padding:5px;">{{ cat.name }}</td>
                    <td>
                        <input type="hidden" value="{{cat.id}}" name="category" />
                        <p>
                            <select name="group" id="id_manager">
                                {% for group in groupDropDown %}
                                    <option value="{{group.id}}" {% if group in cat.assigned_to_department.all %}selected="selected"{% endif %}>{{group}}</option>
                                {% endfor %}
                            </select>
                        </p>
                    </td>
                </tr>
                {% endfor %}
            </table>

            <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn" >{% trans 'Cancel' %}</a>
                <button class="btn" type="submit" >{% trans 'Save' %}</button>
            </div>
        </form>
    </div>


  </div>


    <div id="configurationTable">
        <table class="configTable">
            <tr>
                <th style="border-right:1px solid black"></th>
                {% for mainCat in maincategories %}
                    <th style="width:18%; text-align:center">{{mainCat.name}}</th>
                {% endfor %}
            </tr>

            {% for line in table %}
                <tr>
                    <td class="firstItem">{{ line.secondCategory.name }}</td>

                        {% for mainCategory in line.mainCategories %}
                            <td>
                            {% if not mainCategory.groups.0 %}
                                no group
                            {% else %}
                                <a id="{{mainCategory.id}}{{line.secondCategory.id}}" class="matrixButton" href="{% url 'gestionnaire_selection_dialog' %}?main={{mainCategory.id}}&second={{line.secondCategory.id}}">
                                {% for group in mainCategory.groups %}
                                    {{ group.0.name }}
                                {% endfor %}
                                </a>
                            {% endif %}
                            </td>
                        {% endfor %}

                </tr>
            {% endfor %}
        </table>
    </div>

</div>

{% endblock %}
