{% extends "pro/base.html" %}
{% load i18n %}
{% load tags %}
{% block title %}
{% trans 'Default manager configuration' %}
{% endblock %}
{% block script %}
{{ block.super }}

<script>
$(document).ready(function(){

  $.each($(".matrixButton"),function(idx,value){
    if($(value).text().indexOf("No manager selected")!=-1){
      $(value).addClass("emptySelection");
    }
  });

  /*Hide empty selection zones*/
  if($("#54").is("button")){
    $('#54').hide();
  }
  if($("#38").is("button")){
    $('#38').hide();
  }
  if($("#58").is("button")){
    $('#58').hide();
  }
});
function saveSelection(){
  var url='{% url saveSelection %}?';
  var i =0;
  $.each($('[name=manager]'),function(idx,value){
    url+="cat"+i+"="+$(value).parent().parent().attr("id")+"&man"+i+"="+value.value+"&";
    i= i+1;
  });
  window.location.href=url;
}

</script>
{% if categories %}
  <script>
    $(function() {
    $.each($("#dialog").find("select"),function(idx,value){
      var catId =parseInt($(value).parent().parent().attr("id"));
      catId = catId-1;
      var userIDForCat = {{categoryUserMapping}}[catId];
      $(value).val(userIDForCat);
    });
    $("#dialog").modal();
    });
  </script>
  {% endif %}
{% endblock %}


{% block content %}

<div id="fullwidth">
  <h1>{% trans 'Configure gestionnaire categories' %}</h1>
  <div id="dialog" role="dialog" class="modal hide fade" title="{{firstCateg.name}} / {{secondCateg.name}}">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3>{{firstCateg.name}} / {{secondCateg.name}}</h3>
    </div>
    <div class="modal-body">
      <form action="">
        <table style="padding:20px">
          {% for cat in categories %}
          <tr>
            <td style="padding:5px;">{{cat.name}}</td>
        <td id="{{cat.id}}">
                                        <p><select name="manager" id="id_manager">
                                                {% for choice in managerDropDown %}
                                                        <option value="{{choice.0}}">{{choice.1}}</option>
                                                {% endfor %}
                                        </select></p>
                                </td>
      </tr>
          {% endfor %}
        </table>
         </div>
      </form>
      <div class="modal-footer">
        <a href="#" data-dismiss="modal" class="btn" >{% trans 'Cancel' %}</a>
        <a href="#" onclick="saveSelection();" class="btn" >{% trans 'Save' %}</a>
      </div>
  </div>


  <div id="configurationTable">
  	<table class="configTable">
  		<tr>
  			<th style="border-right:1px solid black"></th>
  			{% for mainCat in maincategories %}
  				<th style="width:18%; text-align:center">{{mainCat.name}}</th>
  			{% endfor %}
  		</tr>
  		{% for secondCat in secondcategories %}
  			<tr>
  				<td class="firstItem">{{secondCat.name}}</td>
  				{% for m in maincategories %}
  				<td>
            <button id="{{m.id}}{{secondCat.id}}" class="matrixButton" onclick='window.location.href="{% url gestionnaire_selection_dialog %}?main={{m.id}}&second={{secondCat.id}}"'>
              {{currentSelectedList|get_element_from_list:forloop.counter0|get_element_from_list:forloop.parentloop.counter0}}
            </button>
          </td>
  				{% endfor %}
  			</tr>
  		{% endfor %}
  	</table>
  </div>

</div>

{% endblock %}
