{% extends "base.html" %}

{% load i18n tags %}

{% block base %}
<base href="{% if request.is_secure %}https{% else %}http{% endif %}://{{request.get_host}}" target="_blank"/>
{% endblock %}

<!-- ############################################################## -->
<!-- #######################JAVASCRIPT IMPORTS #################### -->
<!-- ############################################################## -->
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}OpenLayers-2.11/OpenLayers.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/proj4js/engine/proj4js-compressed.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/proj4js/defs/EPSG31370.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/fixmystreetmap.js"></script>

<!-- ############################################################## -->
<!-- #######################JQUERY INIT METHOD #################### -->
<!-- ############################################################## -->
{% block script %}
{{ block.super }}
<script>
$(document).ready(function() {
	fms.currentMap = new fms.Map(
		'map',
		{apiLang:'nl',
        	localizeUrl: 'http://service.gis.irisnet.be/urbis/Rest/Localize/getaddressfromxy',
        	urbisUrl: 'http://geoserver.gis.irisnet.be/geoserver/wms',
        	origin: {
			x:{{report.point.x}},
			y:{{report.point.y}}
			}
		});
	fms.currentMap.addReport({{ report.to_JSON|dict_to_json|safe }}, 1);

});
</script>
{% endblock %}

{% block nav %}
{% endblock %}
{% block lng %}
{% endblock %}

{% block css %}
{{ block.super }}
<style>
header {
	height: 100px;
	width: auto;
	background-color: white;
}
body {
	width: 800px;
}
</style>
{% endblock %}

{% block content %}
<!-- ############################################################## -->
<!-- ####################### REPORT ############################### -->
<!-- ############################################################## -->
<div id="map">
</div>
<hr/>
<h1>{% trans 'Incident numero' %} : {{report.get_ticket_number}}</h1>




<h2>{% trans 'Information '%}</h2>
<table style="width:100%">
	<tr>
		<td>
			<strong>
				{% trans 'Address' %}
			</strong>
		</td>	
		<td>
			<strong>
				{% trans 'Geolocation' %} (EPSG 31370)
			</strong>
		</td>
                <td>
			&nbsp;
		</td>	
	</tr>
	<tr>
		<td>
			{{report.address}}, {{report.address_number}} ({{report.postalcode}} {{report.get_address_city_name}})
		</td>	
		<td>
			L:{{report.point.x}} l:{{report.point.y}}
		</td>	
                <td>
			&nbsp;
		</td>	
	</tr>
	<tr>
		<td>
			<strong>
				{% trans 'Category' %}
			</strong>
		</td>	
		<td>
			<strong>
				{% trans 'Creation Date' %}
			</strong>
		</td>
                <td>
			&nbsp;
		</td>	
	</tr>
	<tr>
		<td>
			{{report.display_category}}
		</td>	
		<td>
			{{report.created|date:"d/m/Y H:m"}}
		</td>	
                <td>
			&nbsp;
		</td>	
	</tr>
</table>





<h2>{% trans 'Author'%}</h2>
<table style="width:100%">
	<tr>
		<td>
			<strong>
				{% trans 'Name' %}
			</strong>
		</td>	
		<td>
			&nbsp;
		</td>	
		<td>
			&nbsp;
		</td>
	</tr>
	<tr>
		<td>
			{% if report.citizen %}
				{{report.citizen.fmsuser.get_display_name}}
			{% else %}
				{{report.created_by.fmsuser.get_display_name}}
			{% endif %}
		</td>
		<td>
			&nbsp;
		</td>	
		<td>
			&nbsp;
		</td>
	</tr>
	<tr>
		<td>
			<strong>
				{% if user.can_see_confidential %}
					{% trans 'Mail' %}
				{% endif %}
			</strong>
		</td>	
		<td>
			<strong>
				{% if user.can_see_confidential %}
					{% trans 'Phone' %}
				{% endif %}
			</strong>
		</td>	
		<td>
			&nbsp;
		</td>
	</tr>
	<tr>
		<td>
 			{% if report.citizen %}
                                <!-- Protect citizen privacy -->
                                {% if user.can_see_confidential %}
                                        {% trans 'mail'%}:{{report.citizen.fmsuser.email}}
                                {% endif %}
                        {% else %}
                                <a href="mailto:{{report.created_by.fmsuser.email}}">{{report.created_by.fmsuser.email}}</a>
                        {% endif %}
		</td>
		<td>
			{% if user.can_see_confidential %}
				{% if report.citizen %}
					{% if report.citizen.fmsuser.telephone %}
						tel:{{report.citizen.fmsuser.telephone}}
					{% else %}
						-
					{% endif %}
				{% else %}
					{% if report.created_by.fmsuser.telephone %}
						tel:{{report.created_by.fmsuser.telephone}}
					{% else %}
						-
					{% endif %}
				{% endif %}
			{% endif %}
		</td>
		<td>
			&nbsp;
		</td>
	</tr>

</table>





<h2>{% trans 'Manager'%}</h2>
<table style="width:100%">
	<tr>
		<td>
			<strong>
				{% trans 'Name' %}
			</strong>
		</td>	
		<td>
			<strong>
				{% trans 'Status' %}
			</strong>
		</td>
                <td>
			&nbsp;
		</td>	
	</tr>
	<tr>
		<td>
			{{report.responsible_manager.first_name}} {{report.responsible_manager.last_name}} ({{report.responsible_manager.organisation.name}})
		</td>	
		<td>
			{{ report.get_status_display }}
		</td>
                <td>
			&nbsp;
		</td>	
	</tr>
	<tr>
		<td>
			<strong>
				{% trans 'Mail' %}
			</strong>
		</td>
		<td>
			<strong>
				{% trans 'Phone' %}
			</strong>
		</td>	
                <td>
			&nbsp;
		</td>	
	</tr>
	<tr>
		<td>
			{% trans 'mail' %}:{{report.responsible_manager.email}}
		</td>	
		<td>
			{% trans 'tel' %}:{{report.responsible_manager.telephone}}
		</td>	
                <td>
			&nbsp;
		</td>	
	</tr>
</table>


<!-- ############################################################## -->
<!-- ####################### HISTORY ############################## -->
<!-- ############################################################## -->
<hr/>
<h1>{% trans 'History' %}</h1>
{% if activity_list %}
<table width="100%">
	{% for activity in activity_list %}
	<tr>
		<td colspan="2">
			<li><strong>{{activity.event_at|date:"d/m/Y H:m"}} : </strong>{{activity}}</li>
		</td>
	</tr>
	{% endfor %}
</table>

{% else %}

<h3>{% trans 'No Report History' %}</h3>

{% endif %}

<!-- ############################################################## -->
<!-- ###################### COMMENTS ############################## -->
<!-- ############################################################## -->
<hr/>
<h1>{% trans 'Comments' %}</h1>
{% if pro_version == "1" or report.has_at_least_one_non_confidential_comment %}
{% if comment_list %}
<table width="100%">
	{% for comment in comment_list %}
	<!-- If we asked for a public version -->
	{% if not comment.is_citizen_visible and pro_version == "0" %}
		<!-- SKIP ROW if the current file annex is confidential -->
	{% elif not comment.is_confidential_visible and pro_version == "1" %}
		
	{% else %}
	<tr>
                <td colspan="2">
                        <li>
				<strong>{{comment.created|date:"d/m/Y H:m"}} : </strong> 
				 {% if comment.created_by %}
         		               {{comment.created_by.fmsuser.get_display_name}} 
					(<strong>{{comment.created_by.fmsuser.organisation.name}}</strong>,
					 <strong>mail:</strong>{{comment.created_by.fmsuser.email}}, 
					 <strong>tel:</strong>{{comment.created_by.fmsuser.telephone}})
                        	{% else %}
                        		{% trans 'Anonymous' %}
                        	{% endif %}
			</li>
                </td>
        </tr>	
	<tr>
		<td width="5%">
			&nbsp;
		</td>
		<td>
			{{comment.text}}
		</td>
	</tr>
	{% endif %}
	{% endfor %}
</table>

{% else %}

<h3>{% trans 'No Comment' %}</h3>

{% endif %}
{% endif %}



<!-- ############################################################## -->
<!-- ####################### PHOTOS ############################### -->
<!-- ############################################################## -->
<hr/>
<h1>{% trans 'Files' %}</h1>
{% if pro_version == "1" or report.has_at_least_one_non_confidential_file %}
{% if file_list %}
<table width="100%">
	{% for file in file_list %}
	<!-- If we asked for a public version -->
	{% if not file.is_citizen_visible and pro_version == "0" %}
		<!-- SKIP ROW if the current file annex is confidential -->
	{% elif not file.is_confidential_visible and pro_version == "1" %}
		<!-- SKIP ROW if the current file annex is confidential -->
	{% else %}
	<tr>
                <td colspan="2">
                        <li>
                                <strong>{{file.created|date:"d/m/Y H:m"}} : </strong>
                                 {% if file.created_by %}
                                       {{file.created_by.fmsuser.get_display_name}} (mail:{{file.created_by.fmsuser.email}}</a>, tel:{{file.created_by.fmsuser.telephone}})
                                {% else %}
                                        {% trans 'Anonymous' %}
                                {% endif %}
                        </li>
			<br/>
                </td>
        </tr>
        <tr>
                <td width="5%">
                        &nbsp;
                </td>
		<td rowspan="11" width="30%">
			{% if file.file_type == 1 %}
			<a href="{{file.file.url}}"><img width="128px" height="128px" src="{{STATIC_URL}}images/icon-pdf.png"/></a>
			{% endif %}
			{% if file.file_type == 2 %}
			<a href="{{file.file.url}}"><img width="128px" height="128px" src="{{STATIC_URL}}images/icon-word.jpg"/></a>
			{% endif %}
			{% if file.file_type == 3 %}
			<a href="{{file.file.url}}"><img width="128px" height="128px" src="{{STATIC_URL}}images/icon-excel.png"/></a>
			{% endif %}
			{% if file.file_type == 4 %}
			<a href="{{file.file.url}}"><img style="max-width:128px;max-height:128px;" src="{% if request.is_secure %}https{% else %}http{% endif %}://{{request.get_host}}{{file.file.url}}"/></a>
			{% endif %}
		</td>
	</tr>
	<tr>
		<td>
			&nbsp;
		</td>
		<td>
			<strong>{% trans 'Creation Date' %} : </strong>
                        {% if file.file_creation_date %}
                                {{file.file_creation_date|date:"d/m/Y H:m"}}
                        {% else %}
                                -
                        {% endif %}
		</td>
	</tr>
	<tr>
		<td>
			&nbsp;
		</td>
		<td>
			<strong>{% trans 'Publication Date' %} : </strong>
                        {{file.created|date:"d/m/Y H:m"}}
		</td>
	</tr>
	<tr>
		<td>
			&nbsp;
		</td>
		<td>
			<strong>{% trans 'By' %} : </strong> 
			{% if file.created_by %}	
				{{file.created_by.fmsuser.get_display_name}}
				(mail:{{file.created_by.fmsuser.email}}, tel:{{file.created_by.fmsuser.telephone}})
			{% else %}
				{% trans 'Anonymous '%}
			{% endif %}
		</td>
	</tr>
        <tr>
                <td>
                        &nbsp;
                </td>
                <td>
			<strong>{% trans 'City' %} : </strong>
                        {{report.responsible_entity.name}}
                </td>
        </tr>
	<tr>
                <td>
                        &nbsp;
                </td>
                <td>
			<strong>{% trans 'Comment' %} : </strong>
                        {{file.title}}
		</td>
	</tr>
	<tr>
                <td>
                        &nbsp;
                </td>
                <td>
                        &nbsp;
		</td>
	</tr>
	<tr>
                <td>
                        &nbsp;
                </td>
                <td>
			&nbsp;
		</td>
	</tr>
	{% endif %}
	{% endfor %}
</table>

{% else %}

<h3>{% trans 'No File' %}</h3>

{% endif %}
{% endif %}
<hr/>
{% endblock %}
