{% load i18n %}

<!-- ############################################################## -->
<!-- ####################### REPORT ############################### -->
<!-- ############################################################## -->
<hr/>
<h1>{% trans 'label_pdf_report_title_main' %}</h1>

<table>
	<tr>
		<td>
			<strong>
				{% trans 'label_pdf_report_title_localisation' %}
			</strong>
		</td>	
		<td colspan="2">
			<strong>
				{% trans 'label_pdf_report_title_commune' %}
			</strong>
		</td>	
	</tr>
	<tr>
		<td>
			{{report.address}}
		</td>	
		<td colspan="2">
			{{report.postalcode}} {{report.responsible_entity.name}}
		</td>	
	</tr>
	<tr>
		<td>
			<strong>
				{% trans 'label_pdf_report_title_category' %}
			</strong>
		</td>	
		<td>
			<strong>
				{% trans 'label_pdf_report_title_manager' %}
			</strong>
		</td>
	</tr>
	<tr>
		<td>
			{{report.display_category}}
		</td>	
		<td>
			{{report.responsible_manager.first_name}} {{report.responsible_manager.last_name}} (<a href="mailto:{{report.responsible_manager.email}}">{{report.responsible_manager.email}}</a>, {{report.responsible_manager.telephone}})
		</td>
	</tr>


</table>
<hr/>
<table>
	<tr>
		<td colspan="2">
			<strong>
				{% trans 'label_pdf_report_title_ticket_number' %}
			</strong>
		</td>	

		<td colspan="2">
			<strong>
				{% trans 'label_pdf_report_title_geocode' %}
			</strong>
		</td>	
	</tr>
	<tr>
		<td colspan="2">
			{{report.get_ticket_as_string}}	
		</td>	
		<td colspan="2">
			L:{{report.point.x}} l:{{report.point.y}}
		</td>	
	</tr>
	<tr>
		<td colspan="2">
			<strong>
				{% trans 'label_pdf_report_title_date' %}
			</strong>
		</td>
		<td>
			<strong>
				{% trans 'label_pdf_report_title_author' %}
			</strong>
		</td>	
		<td>
			<strong>
				{% trans 'label_pdf_report_title_phone' %}
			</strong>
		</td>	
	</tr>
	<tr>
		<td colspan="2">
			{{report.created}}
		</td>	
		<td>
			{% if report.created_by %}
			{{report.created_by.fmsuser.get_display_name}}
			{% else %}
			{{report.citizen.fmsuser.get_display_name}}
			{% endif %}
		</td>
		<td>
			{% if report.created_by %}
			{{report.created_by.fmsuser.telephone}}
			{% else %}
			{{report.citizen.fmsuser.telephone}}
			{% endif %}
		</td>	
	</tr>
	<tr>
		<td colspan="2">
			<strong>
				{% trans 'label_pdf_report_title_status' %}
			</strong>
		</td>
		<td colspan="2">
			<strong>
				{% trans 'label_pdf_report_title_email' %}
			</strong>
		</td>	
		<td>
			&nbsp;
		</td>	
	</tr>
	<tr>
		<td colspan="2">
			{{ report.get_status_display }}
		</td>	
		<td colspan="2">
			{% if report.created_by %}
			<a href="mailto:{{report.created_by.fmsuser.email}}">{{report.created_by.fmsuser.email}}</a>
			{% else %}
			<a href="mailto:{{report.citizen.fmsuser.email}}">{{report.citizen.fmsuser.email}}</a>
			{% endif %}
		</td>	
		<td>
			&nbsp;
		</td>	
	</tr>
</table>


<!-- ############################################################## -->
<!-- ####################### HISTORY ############################## -->
<!-- ############################################################## -->
<hr/>
<h1>{% trans 'label_pdf_historique_title_main' %}</h1>
<!-- 
{% if report.has_at_least_one_non_confidential_comment %}

<table>
	<th><strong>{% trans 'label_pdf_historique_title_date' %}</strong></th>
	<th><strong>{% trans 'label_pdf_historique_title_from' %}</strong></th>
	<th><strong>{% trans 'label_pdf_historique_title_title' %}</strong></th>
	<th><strong>{% trans 'label_pdf_historique_title_text' %}</strong></th> -->

	<!-- {% for comment in comment_list %}
	{% if not comment.is_citizen_visible and pro_version == "0" %}
		<!-- SKIP ROW if the current comment annex is confidential ->
	{% elif not comment.is_confidential_visible and pro_version == "1" %}
	
        {% else %}
	<tr>
		<td>{{comment.created}}</td>
		<td>{{comment.created_by.fmsuser.get_display_name}}</td>
		<td>{{comment.title}}</td>
		<td>{{comment.text}}</td>
	</tr>
	{% endif %}
	{% endfor %} -->
<!-- </table> -->

<!-- {% else %} -->

<h3>{% trans 'label_pdf_historique_title_no_content' %}</h3>

<!-- {% endif %} -->

<hr/>


<!-- ############################################################## -->
<!-- ###################### COMMENTS ############################## -->
<!-- ############################################################## -->



<h1>{% trans 'label_pdf_comment_title_main' %}</h1>
{% if pro_version == "1" or report.has_at_least_one_non_confidential_comment %}
{% if comment_list %}
<table>
	{% for comment in comment_list %}
	<!-- If we asked for a public version -->
	{% if not comment.is_citizen_visible and pro_version == "0" %}
		<!-- SKIP ROW if the current file annex is confidential -->
	{% elif not comment.is_confidential_visible and pro_version == "1" %}
		<!-- SKIP ROW if the current file annex is confidential -->
	{% else %}
	<tr>
		<td colspan="2">
			<strong>{% trans 'label_pdf_comment_title_text' %}</strong>
		</td>
		<td>
			<strong>{% trans 'label_pdf_comment_title_created_at' %}</strong>
		</td>
		<td>
			<strong>{% trans 'label_pdf_comment_title_created_by' %}</strong>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			{{comment.text}}
		</td>
		<td>
			{{comment.created}}
		</td>
		<td>
			{% if comment.created_by %}
			{{comment.created_by.fmsuser.get_display_name}} (<a href="mailto:{{comment.created_by.fmsuser.email}}">{{comment.created_by.fmsuser.email}}</a>, {{comment.created_by.fmsuser.telephone}})
			{% else %}
			{% trans 'label_pdf_comment_value_created_by_empty' %}
			{% endif %}
		</td>
	</tr>
	{% endif %}
	{% endfor %}
</table>

{% else %}

<h3>{% trans 'label_pdf_comment_title_no_content' %}</h3>

{% endif %}
{% endif %}



<!-- ############################################################## -->
<!-- ####################### PHOTOS ############################### -->
<!-- ############################################################## -->
<hr/>
<h1>{% trans 'label_pdf_photo_title_main' %}</h1>

{% if pro_version == "1" or report.has_at_least_one_non_confidential_file %}
{% if file_list %}
<table>
	{% for file in file_list %}
	<!-- If we asked for a public version -->
	{% if not file.is_citizen_visible and pro_version == "0" %}
		<!-- SKIP ROW if the current file annex is confidential -->
	{% elif not file.is_confidential_visible and pro_version == "1" %}
		<!-- SKIP ROW if the current file annex is confidential -->
	{% else %}
	<tr>
		<td rowspan="11">
			{% if file.file_type == 1 %}
			<img width="256px" height="256px" src="http://localhost:8000/static/images/icon-pdf.png"/>
			{% endif %}
			{% if file.file_type == 2 %}
			<img width="256px" height="256px" src="http://localhost:8000/static/images/icon-word.jpg"/>
			{% endif %}
			{% if file.file_type == 3 %}
			<img width="256px" height="256px" src="http://localhost:8000/static/images/icon-excel.png"/>
			{% endif %}
			{% if file.file_type == 4 %}
			<img style="max-width:256px;max-height:256px;" src="http://localhost:8000{{file.file.url}}"/>
			{% endif %}
		</td>
	</tr>
	<tr>
		<td><strong>{% trans 'label_pdf_file_created' %}</strong></td>
	</tr>
	<tr>
		<td>{{file.file_creation_date}}</td>
	</tr>
	<tr>
		<td><strong>{% trans 'label_pdf_file_published' %}</strong></td>
	</tr>
	<tr>
		<td>{{file.created}}</td>
	</tr>
	<tr>
		<td><strong>{% trans 'label_pdf_file_title_city' %}</strong></td>
	</tr>
	<tr>
		<td>{{report.responsible_entity.name}}</td>
	</tr>
	<tr>
		<td><strong>{% trans 'label_pdf_file_title_source' %}</strong></td>
	</tr>
	<tr>
		<td>{{file.created_by.fmsuser.get_display_name}} {% if file.created_by %}(<a href="mailto:{{file.created_by.fmsuser.email}}">{{file.created_by.fmsuser.email}}</a>, {{file.created_by.fmsuser.telephone}}){% endif %}</td>
	</tr>
	<tr>
		<td><strong>{% trans 'label_pdf_file_title_title' %}</strong></td>
	</tr>
	<tr>
		<td>{{file.title}}</td>
	</tr>
	<tr>
		<td>
			&nbsp;
		</td>
	</tr>
	{% endif %}
	{% endfor %}
</table>

{% else %}

<h3>{% trans 'label_pdf_photo_title_no_content' %}</h3>

{% endif %}
{% endif %}
