{% extends "base.html" %}
{% load i18n %}
{% load tags %}
{% block script %}

{% endblock %}

{% block title %}Create user {% endblock %}

{% block content %}

<div id="fullwidth">
  <h1>Create user</h1>
  <div>
    <form action="" method="POST">
      {% csrf_token %}
        <input type="checkbox" name="agentRadio" value="1" id="agentRadio" checked>{% trans 'Agent' %}</input>
        {% if request.user.id|isLeader %}
        <input type="checkbox" name="managerRadio" value="1" id="managerRadio">{% trans 'Gestionnaire' %}</input>
        {% endif %}
        {% if request.user.id|isManager %}
        <input type="checkbox" name="contractorRadio" value="1" id="contractorRadio">{% trans 'Contractor'%}</input>
        {% endif %}
      </select>
      <table>
        {{ createform.as_table }}
      </table>
      <p>
        <input type="submit" value="Submit" class="big_button"/>
      </p>
    </form>
  </div>
</div>

{% endblock %}
