{% extends "pro/base.html" %}
{% load i18n %}
{% load tags %}
{% block script %}
<script>
$(document).ready(function(){
$("[for='id_password']").parent().parent().hide()
});
</script>
{% endblock %}

{% block title %}Create user {% endblock %}

{% block content %}
<script>
	function disableFormFields() {
		$.each($("input"),function(idx,value){
       			$(value).attr("disabled","disabled");
     		});
      		$("#deleteButton").hide();
      		$("#editFormSubmitButton").hide();
      		$(".helptext").hide();
      		$("#id_username").parent().parent().hide();
      		$("#id_active").parent().parent().hide();
	}
</script>

<div id='page_content_container'>
  <h1>{% trans request.GET.userType %}</h1>

  	<div id="leftcol">
  		{% if users %}
                <div id='search_results'>
                {% for user in users %}
                	<div class="report" onclick="window.location.href='{% url usersEdit %}?userType={{request.GET.userType}}&userId={{user.id}}'">
                	<p>
				<img src="{{STATIC_URL}}images/{{user.id|getUserType}}.png"/>
				{{user.first_name}} {{user.last_name}}
				(
					{% if user.leader %}ENTITE {% endif %}
					{% if user.manager %}GESTIONNAIRE {% endif %}
					{% if user.agent %}AGENT {% endif %}
					{% if user.contractor %}EXECUTEUR DE TRAVAUX {% endif %}
				)
			</p>
                	</div>
                {% endfor %}
                </div>
            {% else %}
         {% endif %}
  	</div>
  	<div id="rightcol">
      {% if editForm%}
  		<form method='post'>
        <table>
        {{ editForm.as_table }}
      </table>
      <input id="editFormSubmitButton" type="submit" value="Submit" class="big_button" formaction="{% url userSave%}?userType={{request.GET.userType}}&userId={{request.GET.userId}}"/>
      <a id="deleteButton" class= "saveFormButton" href='{% url userDelete %}?userType={{request.GET.userType}}&userId={{request.GET.userId}}' onclick="return confirm('Are you sure you want to delete this user?')">{% trans 'Delete' %}</button>
      </form>
      <script>
      	{% if not canEditGivenUser %} 
		disableFormFields(); 
	{% endif %}
      </script>
      {%endif%}
  	</div>
  </div>


{% endblock %}
