{% extends "pro/base.html" %}
{% load i18n %}
{% load tags %}
{% block script %}
{{ block.super }}
{% endblock %}

{% block title %} {% trans "Create user" %} {% endblock %}

{% block content %}

<!--script type="text/javascript">
   function uncheckRolesWhenClickingOtherCheckboxThanContractor() {
	var checkContractor = document.getElementById("contractorRadio");
	if (checkContractor)
		checkContractor.checked = false;
   }
   function uncheckRoleWhenClickingContractor() {
	var checkContractor = document.getElementById("contractorRadio");
	if (checkContractor.checked == true) {
		var checkRadio = document.getElementById("agentRadio");
		var checkManager = document.getElementById("managerRadio");
                if (checkRadio) {
			checkRadio.checked=false;
		}
                if (checkManager) {
			checkManager.checked=false;
		}
	}
   }
</script-->
<script type="text/javascript">
    $(function(){
      {% if request.user.fmsuser.manager and not request.user.fmsuser.leader %}
      $.each($("#id_user_type").find("option"),function(idx,value){
        if (value.value != "1"){
          $(value).remove();
        }
      });;
      {% endif %}
    }
    );
</script>
<div id="fullwidth">
  <h1>{% trans "Create user" %}</h1>
  <div>
    <form action="" method="POST">     
      <table>
        {{ createform.as_table }}
      </table>
      <p>
        <input type="submit" value="Submit" class="big_button"/>
      </p>
    </form>
  </div>
</div>

<script type="text/javascript">
	document.getElementById('id_is_active').checked=true
</script>

{% endblock %}
