{% extends "pro/base.html" %}
{% load i18n tags %}

{% block script %}
{{ block.super }}
{% if request.user.fmsuser.manager and not request.user.fmsuser.leader %}
<script type="text/javascript">
    $(function(){
        $.each($("#id_user_type").find("option"),function(idx,value){
            if (value.value != "agent"){
                $(value).remove();
            }
        });
    });
</script>
{% endif %}
{% endblock %}

{% block title %} {% trans "Create user" %} {% endblock %}

{% block content %}
<div id="user_type_filter">
    <ul>
        <li>
                <a class="{% ifequal user_type 'users' %}active{% endifequal %}"         href="{% url list_users user_type='users' %}">
                        <img src="{{STATIC_URL}}images/pin-fixmystreet-XL.png" width="40px" height="54px" > <span id="users">{% trans "Collaborators in" %} {{ request.user.fmsuser.get_organisation.name }}</span>
                </a>
        </li>
        <li>
                <a class="{% ifequal user_type 'agents' %}active{% endifequal %}"         href="{% url list_users user_type='agents' %}">
                        <img src="{{STATIC_URL}}images/agent.png"> <span id="agent">{% trans "Agents" %}</span>
                </a>
        </li>
        <li>
                <a class="{% ifequal user_type 'managers' %}active{% endifequal %}"         href="{% url list_users user_type='managers' %}">
                        <img src="{{STATIC_URL}}images/manager.png"> <span id="manager">{% trans "Managers" %}</span>
                </a>
        </li>
    </ul>
</div>
<form action="" method="POST" class="form-centered form-horizontal">
    {% csrf_token %}
    <h1>{% trans "Create user" %}</h1>
    <div id="required-note" class="controls lead">{% trans "* This fields are required" %}</div>
    {% include "_form_horizontal.html" with form=user_form %}
    <div class="control-group">
        <div class="controls">
           <input type="submit" value="Submit" class="btn"/>
        </div>
    </div>
</form>
{% endblock %}
