{% extends "pro/base.html" %}
{% load i18n tags %}

{% block script %}
{{ block.super }}

<script>
    function disableFormFields() {
        $.each($(":input"),function(idx,value){
            $(value).prop("disabled", true);
        });
        $("form :submit, form .btn, .helptext").hide();
    }
    {% if not can_edit %}
    disableFormFields();
    {% endif %}
    $(document).ready(function(){
        var list = window.location.href.split("/");
        var el = list[list.length-2];
        $("#user_type_filter").find("span[id$="+el+"]").addClass("selected");
    });
</script>
{% endblock %}

{% block title %}{%if user_form %}{{ user_form.instance.get_full_name }} {%endif%}{% trans "User overview"%}{% endblock %}

{% block content %}

<div class="span12">
    <div id="user_type_filter">
        <ul>
            <li>
                    <a class="{% ifequal 'users_all' menu %}active{% endifequal %}" href="{% url list_users user_type='users' %}">
                            <img src="{{STATIC_URL}}images/pin-fixmystreet-L.png" width="40px" height="54px" > <span id="users">{% trans "Collaborators in" %} {{ request.user.fmsuser.get_organisation.name }}</span>
                    </a>
            </li>
            <li>
                    <a class="{% ifequal 'users_agent' menu %}active{% endifequal %}" href="{% url list_users user_type='agents' %}">
                            <img src="{{STATIC_URL}}images/agent.png"> <span id="agents">{% trans "Agents" %}</span>
                    </a>
            </li>
            <li>
                    <a class="{% ifequal 'users_manager' menu %}active{% endifequal %}" href="{% url list_users user_type='managers' %}">
                            <img src="{{STATIC_URL}}images/manager.png"> <span id="managers">{% trans "Managers" %}</span>
                    </a>
            </li>
        </ul>
    </div>

    <div class="list_users{% if user_form %} span4{% endif %}">
        <div id='search_results'>
            {% if request.fmsuser.leader or request.fmsuser.manager %}
            <a class="report" href="{% url create_user user_type=user_type %}">
                <h3><img src="{{STATIC_URL}}/images/create-new-user.png" alt"{% trans 'Create a new user' %}" /> {% trans 'Create a new user' %}</h3>
            </a>
            {% endif %}
            {% for user in users %}
            <a class="report{% if user_form.instance == user %} active{% endif %}" href="{% url edit_user user_id=user.id user_type=user_type %}">
                <div class="left_search_result">
                    <img src="{{ STATIC_URL }}images/{{ user.get_user_type }}.png"/>
                </div>
                <div class="right_search_result">
                    {{ user.get_full_name }} / {{ user.telephone }}<br/>
                    (
                        {% if user.leader %}{% trans 'ENTITE' %}
                        {% elif user.manager %}{% trans 'GESTIONNAIRE' %}
                        {% elif user.agent %}{% trans 'AGENT' %}
                        {% elif user.contractor %}{% trans 'EXECUTEUR DE TRAVAUX' %}
                        {% elif user.applicant %}{% trans 'Applicant' %}{% endif %}
                    )
                </div>
                <div class="next_image"></div>
            </a>
            {% endfor %}
        </div>
    </div>

    {% if user_form %}
    <div class="span8">
        <form action="" method="POST" class="form-horizontal">
            <h1>
                {%if user_form %}
                    <a href="mailto:{{ user_form.instance.email }}">{{ user_form.instance.get_full_name }}</a>
                {% else %}
                    {% trans "Users" %}
                {% endif %}
            </h1>
            {% include "_form_horizontal.html" with form=user_form %}
            <div class="control-group">
                <div class="controls">
                    <input type="submit" value="{% trans 'Save' %}" class="btn"/>
                    <a class="btn pull-right btn-danger" href='{% url delete_user user_id=user_form.instance.id user_type=user_type %}' onclick="return confirm('Are you sure you want to delete this user?')">{% trans 'Delete' %}</a>
                    <!-- /* formaction not implemented on firefox */ <input type="submit" value="{% trans 'Delete' %}" class="btn" formaction='{% url delete_user user_form.instance.id %}' onclick="return confirm('Are you sure you want to delete this user?')" /> -->
                </div>
            </div>
        </form>
    </div>
    {% endif %}
</div>


{% endblock %}
