{% extends 'emails/notifications/base.html' %}

{% block content_mail_fr %}
<p>Vous avez demandé la réouverture d'un  incident sur Fix My Street.</p>
<p>{% include 'emails/notifications/html/_report_overview.html' with lang='fr' %}</p>
{% endblock %}

{% block content_mail_nl %}
<p>U heeft gevraagd om een incident opnieuw te openen in Fix My Street.</p>
<p>{% include 'emails/notifications/html/_report_overview.html' with lang='nl' %}</p>
{% endblock %}

{% block content_mail_en %}
<p>You have asked for the reopening of an incident at Fix My Street.</p>
<p>{% include 'emails/notifications/html/_report_overview.html' with lang='en' %}</p>
{% endblock %}
