{% extends 'emails/notifications/base.html' %}

{% block content_mail_fr %}
<p>Un incident a été mis à jour par {{updater}}.</p>
<hr />
<h2>{{comment}}</h2>
<p>{% include 'emails/notifications/html/_report_overview.html' with lang='fr' %}</p>
<p>Vous pouvez vous désinscrire et ne plus recevoir de notifications en cliquant sur le lien ci-dessous :</p>
<ul>
<li><a href="{{unsubscribe_url}}">{{unsubscribe_url}}</a></li>
</ul>
{% endblock %}

{% block content_mail_nl %}
<p>Een probleem werd geactualiseerd door {{updater}}.</p>
<hr />
<h2>{{comment}}</h2>
<p>{% include 'emails/notifications/html/_report_overview.html' with lang='nl' %}</p>
<p>Indien u niet langer berichten wilt ontvangen kunt u zich uitschrijven door op onderstaande link te klikken:</p>
<ul>
<li><a href="{{unsubscribe_url}}">{{unsubscribe_url}}</a></li>
</ul>
{% endblock %}

{% block content_mail_en %}
<p>An incident has been updated by {{updater}}.</p>
<hr />
<h2>{{comment}}</h2>
<p>{% include 'emails/notifications/html/_report_overview.html' with lang='en' %}</p>
<p>If you don’t want to receive notifications anymore you can unsubscribe to the incident by following the link below:</p>
<ul>
<li><a href="{{unsubscribe_url}}">{{unsubscribe_url}}</a></li>
</ul>
{% endblock %}
