{% extends 'emails/notifications/base.html' %}

{% block content_mail_fr %}
<p>Un incident est devenu public.</p>
<p>{% include 'emails/notifications/html/_report_overview.html' with lang='fr' %}</p>
<p>Vous pouvez vous désinscrire et ne plus recevoir de notifications en cliquant sur le lien ci-dessous :</p>
<ul>
<li><a href="{{unsubscribe_url}}">{{unsubscribe_url}}</a></li>
</ul>
{% endblock %}

{% block content_mail_nl %}
<p>Een incident is publiek geworden.</p>
<p>{% include 'emails/notifications/html/_report_overview.html' with lang='nl' %}</p>
<p>Indien u niet langer berichten wilt ontvangen kunt u zich uitschrijven door op onderstaande link te klikken:</p>
<ul>
<li><a href="{{unsubscribe_url}}">{{unsubscribe_url}}</a></li>
</ul>
{% endblock %}
