*.pyc
*.egg-info
*.log
.vagrant
hiera.yaml
Vagrantfile
env/
doc/build/
doc/source/gen/
**/local_settings.py
media/photos/
media/files/
hieradata/
reporting/

fixmystreet_project/local_settings.py
/.project
