*.pyc
*.egg-info
src/django_fixmystreet/local_settings.py
src/django_fixmystreet/media/photos/
src/django_fixmystreet/media-tmp/
buildout/bin/
buildout/parts/
buildout/var/
buildout/.installed.cfg
buildout/buildout.cfg
buildout/eggs/
buildout/develop-eggs/
buildout/build/
buildout/downloads/
