{% extends 'emails/base_email.html' %}
{% load i18n %}
{% get_available_languages as languages %}

{% block content %}
{% get_language_info for "nl" as langNL %}
{% get_language_info for "fr" as langFR %}
{% language langFR.code %}
{% blocktrans with firstname=user.first_name lastname=user.last_name url=SITE_URL username=user.username password=password %}
<p>The user {{firstname}} {{lastname}} is created for you.</p>
<p> Please activate yourself first by clicking the following link: {{url}}/</p>
<h2>User information:</h2>
<p> Username: {{username}}</p>
<p> Password: {{password}}</p>
{% endblocktrans %}
{% endlanguage %}
<br/>
-------------------------------------------------
<br/>
{% language langNL.code %}
{% blocktrans with firstname=user.first_name lastname=user.last_name url=SITE_URL username=user.username password=password %}
<p>The user {{firstname}} {{lastname}} is created for you.</p>
<p> Please activate yourself first by clicking the following link: {{url}}/</p>
<h2>User information:</h2>
<p> Username: {{username}}</p>
<p> Password: {{password}}</p>
{% endblocktrans %}
{% endlanguage %}
{% endblock %}