{% load tags %}
{% load i18n %}
{% for field in form.hidden_fields %}
    {{ field }}
{% endfor %}
{% for field in form %}
    {% if not field.is_hidden %}
    <div class="control-group{% if field.field.required %} required{% endif %}">
    {% if field.field.widget|classname == "Textarea" %}
        <label for="id_{{ field.html_name }}">{{ field.label }}</label>
        {{ field }}
    {% else %}
    	{% if field.field.widget|classname == "CheckboxInput" %}
  		<legend>{% trans 'Subscribe' %}</legend>
        {% endif %}
        <label class="control-label" for="id_{{ field.html_name }}">{{ field.label }}</label>
        <div class="controls">
            {{ field }}
    	    {% if field.field.widget|classname == "CheckboxInput" %}
	    	{% trans 'Subscription and report follow-up' %}
    	    {% endif%}
        </div>
    {% endif %}
    {{ field.errors }}
    </div>
    {% endif %}
{% endfor %}
