{% load tags %}
{% load i18n %}
{% for field in form.hidden_fields %}
    {{ field }}
{% endfor %}
{% for field in form %}
    {% if not field.is_hidden %}
    <div class="control-group{% if field.field.required %} required{% endif %}">
        {% if field.field.widget|classname == "Textarea" %}
            <label for="id_{{ field.html_name }}">{{ field.label }}</label>
            {{ field }}
            {{ field.errors }}
        {% else %}
            <label class="control-label" for="id_{{ field.html_name }}">{{ field.label }}</label>
            <div class="controls">
                {% input_class field 'input-block-level' %}
                <span class="help-block">{{ field.help_text }}</span>
                {{ field.errors }}
            </div>
        {% endif %}
    </div>
    {% endif %}
{% endfor %}
