{% if page.has_other_pages %}
<div class="pagination pagination-centered">
    <ul>
        {% if page.has_previous %}
        <li>
            <a class="pagination_prev" data-page="{{ page.previous_page_number }}"></a>
        </li>
        {% else %}
        <li>
            <a class="pagination_prev disabled"></a>
        </li>
        {% endif %}

        {% for number in page.paginator.page_range %}
        <li>
            <a{% if page.number == number %} class="active"{% endif %} data-page="{{ number }}">{{ number }}</a>
        </li>
        {% endfor %}

        {% if page.has_next %}
        <li>
            <a class="pagination_next" data-page="{{ page.next_page_number }}"></a>
        </li>
        {% else %}
        <li>
            <a class="pagination_next disabled"></a>
        </li>
        {% endif %}
    </ul>
</div>
{% endif %}
