<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/global.css" />
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/layout.css" />
		<link rel="Shortcut Icon" type="image/x-icon" href="{{ STATIC_URL }}images/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css" />
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}js/style.css"
		{% load i18n %}
		{% get_available_languages as LANGUAGES %}
	
		<title>{% trans "Fix My Street Brussels" %} - {% block title %}{% trans "Home" %}{% endblock %}</title>
		{% block css %}{% endblock %}
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.js"></script>
		<script type="text/javascript" src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL}}js/jquery/iphone-style-checkboxes.js"></script>
		<script src="/static/js/proj4js/engine/proj4js-compressed.js"></script>
		<script src="/static/js/proj4js/defs/EPSG31370.js"></script>
		{% block script %}{% endblock %}
		<script type="text/javascript">

		function updateMenuEntries(x,y) {
			//Update the left menu coordinates
			var currentHref;
			$("#leftMenuPanePro .positionable").each(function(idx,value){
		       		currentHref = $(value).attr('href');
		       	 	$(value).attr('href',currentHref+'&x='+x+'&y='+y);
			});
		        //End update menu	
		}

        var loginWin = null;
        var userPosition;
		$(document).ready(function(){
			//Update menu entries with coordinates
			var USER_POSITION = new Object();
			if(navigator.geolocation){
				var options = {timeout:60000};
				var mapReference = this.map;
				navigator.geolocation.getCurrentPosition(
					//success
					function(position) {
						var latitude = POSY = position.coords.latitude;
						var longitude = POSX = position.coords.longitude;
						var p = new Proj4js.Point(longitude, latitude);
						Proj4js.transform(new Proj4js.Proj("EPSG:4326"), new Proj4js.Proj("EPSG:31370"), p);
						USER_POSITION.x = p.x;
						USER_POSITION.y = p.y;
						updateMenuEntries(p.x,p.y);
					},
					//failure
					function(err) {
						if(err.code == 1) {
							console.log("Error: Access is denied!");
						}else if( err.code == 2) {
							console.log("Error: Position is unavailable!");
						}
						//Use default x,y
						USER_POSITION.x = 148954.431;
						USER_POSITION.y = 170458.371;
						updateMenuEntries(p.x,p.y);
					},
				options);
			}else{
				//Use default x,y
				USER_POSITION.x = 148954.431;
				USER_POSITION.y = 170458.371
				updateMenuEntries(p.x,p.y);
			}

			$('#select-language').change(function(){
				$(this).closest('form').submit();
			});
            $('.login-btn').click(function(evt){
                evt.preventDefault();
                var loginHref = $(this).prop('href');
                if(loginWin == null || loginWin.closed) {
                    loginWin = window.open(loginHref, 'login', "menubar=no,location=no,resizable=no,scrollbars=no,status=no,width=780,height=410");
                } else {
                    loginWin.focus();
                }
                if(loginWin == null) {
                    // popup has been blocked...
                    window.location.assign(loginHref);
                }
                return false;
            });
            test();
            
            
		});
        window.connectionCallback = function(username){
            $(document).trigger('connected',[username]);
            $('.login-bar').hide();
            $('.logged-bar').show().find('.username').html(username);
        }
            
            test = function(){
        	if (navigator.geolocation){
    			navigator.geolocation.getCurrentPosition(setPosition);
    		}
        }
        setPosition = function(position){
        	userPosition = position;
        	//$("#createdMenuItem").attr("href","{% url report_new_pro %}?x="+userPosition.coords.latitude+"&y="+userPosition.coords.longitude+"&status=0");
        	//$("#progressMenuItem").attr("href","{% url report_new_pro %}?x="+userPosition.coords.latitude+"&y="+userPosition.coords.longitude+"&status=1");
        	//$("#closedMenuItem").attr("href","{% url report_new_pro %}?x="+userPosition.coords.latitude+"&y="+userPosition.coords.longitude+"&status=2");
        	//$("#createMenuItem").attr("href","{% url report_new_pro %}?x="+userPosition.coords.latitude+"&y="+userPosition.coords.longitude+"#form");
        	
        }
        /*
        .required.mandatory input, .required.mandatory select {
            border:1px solid red !important;
        }
        form.required-invalid .required-msg {
            color:red;
        }
        
        $(document).delegate("form", "submit", function(evt) {
            var $form = $(this);
            var valid = true;
            
            $('.required input, .required select').each(function(ind,input) {
                var $input = $(input);
                if(!$input.val()) {
                    valid = false;
                    $input.closest('.required').addClass('mandatory');
                } else {
                    $input.closest('.required').removeClass('mandatory');
                }
            });
            
            if(!valid) {
                evt.preventDefault();

                $form.find('.mandatory input, .mandatory select').first().focus();
                $form.find('.required-error-msg').fadeIn();
                $form.addClass('required-invalid');
                
                return false;
            }
        });
        */
		</script>
	</head>

	<body>
		<div id="header">
			<div id="header_content">
				<a href="/pro/"><img id="logo" src="{{ STATIC_URL }}images/logo-{{ LANGUAGE_CODE }}.jpg" alt="{% trans "Fix My Street Brussels" %}"/></a>
				<!--<a href="/"><h1 id="banner-title">{% trans "Fix My Street Brussels" %}</h1></a>-->
                <img id="logo-rbc" src="{{ STATIC_URL }}images/logo-rbc-{{ LANGUAGE_CODE }}.jpg" alt="{% trans "Brussels-Capital Region" %}"/>
                {% if STAGING %}<img id="staging-badge" src="{{ STATIC_URL }}images/Staging_badge.png" style="position: absolute; top: 56px; left: 184px;" />{% endif %}
				<div id="loginButton">
					<button type="button" onclick="window.location.href='{% url auth_logout %}'" style="float: right;margin-top: 44px;">Log out</button>
				</div>
				<div id="language">
					<form action="/i18n/setlang/" method="post">
						<select id="select-language" name="language">
							{% for l in LANGUAGES %}
                                {% get_language_info for l.0 as lang %}
                                <option value="{{ lang.code }}"{% if lang.code == LANGUAGE_CODE %} selected="selected"{% endif %}>{{ lang.name_local }}</option>
							{% endfor %}
						</select>
					</form>
				</div>
				{% load tags %}
				
			</div>
		</div>

		<div id="main_container">
		<div >
			<ul class='leftPane' id="leftMenuPanePro">
				<li> <a id="allMenuItem" class='category positionable' href="{% url report_new_pro %}?status=all"> Reports <p class="category_number">{{request.user|numberOfReports}}</p></a></a> </li>
				
				<li><a id='createdMenuItem' class='subcategory positionable' href="{% url report_new_pro %}?status=0"> Created <p class="category_number">{{request.user|numberOfCreatedReports}}</p></a> </li>
				<li><a id='progressMenuItem' class='subcategory positionable' href="{% url report_new_pro %}?status=1"> Progress <p class="category_number">{{request.user|numberOfInProgressReports}}</p></a></li>
				<li><a id='closedMenuItem' class='subcategory positionable' href="{% url report_new_pro %}?status=2"> Closed <p class="category_number">{{request.user|numberOfClosedReports}} </p></a> </li>
				<li><a id="subscriptionMenuItem" class='subcategory positionable' href="{% url report_subscription_pro %}?aubscription=1"> My subscriptions </a> <p class="category_number"></p></li>
				{% if request.user.id|hasAtLeastAManager %}
				<li><a id='createMenuItem' class='subcategory' href="{% url report_new_pro %}?x=150035.431&y=170906.871#form"> Create </a></li> 
				{% endif %}
				<li> <a class='category' href="{% url usersOverview %}?userType=users"> Collaborators <p class="category_number">{{request.user|numberOfUsers}}</p></a></a></li>
				
				<li><a class='subcategory' href="{% url usersOverview %}?userType=agent">Agents <p class="category_number">{{request.user|numberOfAgents}}</p></a> </a> </li>
				<li><a class='subcategory' href="{% url usersOverview %}?userType=contractor">Exec de travaux <p class="category_number">{{request.user|numberOfContractors}}</p></a></a> </li>
				<li><a class='subcategory' href="{% url usersOverview %}?userType=impetrant"> Impétrants <p class="category_number">{{request.user|numberOfImpetrants}}</p></a></a></li>

				{% if request.user.id|isLeader %}
					{% if request.user.id|hasAtLeastAManager %}
				<li><a class='subcategory' href="{% url usersOverview %}?userType=manager"> Gestionnaires <p class="category_number">{{request.user|numberOfManagers}}</p></a></a></li>
					{% endif %}
				{% endif %}
				
				{% if request.user.id|isLeader or request.user.id|isManager %}
					<li> <a class='category'> Configuration </a></li>
					{% if request.user.id|isLeader %}
						{% if request.user.id|hasAtLeastAManager %}
							<li><a class='subcategory' href="{% url category_gestionnaire_configuration %}"> Gestionnaires </a></li>
						{% endif %}
					{% endif %}
					<li><a class='subcategory' href="{% url create_user_pro %}"> Create users </a></li>
				{% endif %}

				
			</ul>
		</div>
			<div id='body_content'>
				{% block content %}{% endblock %}
			</div>
		</div>

		<div id="footer">
			<div id="footer_content">
				{% block content_third %}{% endblock %}
                <p id="legal_notice">
                    <a id="term_of_use" href="{% url terms_of_use %}">{% trans "Terms of Use" %}</a>
                    Copyright 2011, <a href="http://www.cirb.irisnet.be">CIRB</a> <a href="http://www.cirb.irisnet.be"><img src="/media/images/CIRB-CIBG-inverse.gif"/></a>
                </p>
			</div>
		</div>

		{% block endbody %}{% endblock %}
	</body>
</html>
