<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{% load tags i18n %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		{% get_available_languages as LANGUAGES %}
	
		<title>{% trans "Fix My Street Brussels" %} - {% block title %}{% trans "Home" %}{% endblock %}</title>
        {% block script %}
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL}}js/proj4js/engine/proj4js-compressed.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL}}js/proj4js/defs/EPSG31370.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL}}js/common.js"></script>
		{% endblock %}
		{% block css %}
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/global.css" />
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/layout.css" />
		<link rel="Shortcut Icon" type="image/x-icon" href="{{ STATIC_URL }}images/favicon.ico" />
        {% endblock %}
		<script>

        /*
        .required.mandatory input, .required.mandatory select {
            border:1px solid red !important;
        }
        form.required-invalid .required-msg {
            color:red;
        }
        
        $(document).delegate("form", "submit", function(evt) {
            var $form = $(this);
            var valid = true;
            
            $('.required input, .required select').each(function(ind,input) {
                var $input = $(input);
                if(!$input.val()) {
                    valid = false;
                    $input.closest('.required').addClass('mandatory');
                } else {
                    $input.closest('.required').removeClass('mandatory');
                }
            });
            
            if(!valid) {
                evt.preventDefault();

                $form.find('.mandatory input, .mandatory select').first().focus();
                $form.find('.required-error-msg').fadeIn();
                $form.addClass('required-invalid');
                
                return false;
            }
        });
        */
		</script>
	</head>

	<body>
		<div id="header">
			<div id="header_content">
				<a href="/"><img id="logo" src="{{ STATIC_URL }}images/logo-{{ LANGUAGE_CODE }}.jpg" alt="{% trans "Fix My Street Brussels" %}"/></a>
				<!--<a href="/"><h1 id="banner-title">{% trans "Fix My Street Brussels" %}</h1></a>-->
                <img id="logo-rbc" src="{{ STATIC_URL }}images/logo-rbc-{{ LANGUAGE_CODE }}.jpg" alt="{% trans "Brussels-Capital Region" %}"/>
                {% ifequal ENVIRONMENT "staging" %}
                    <img id="staging-badge" src="{{ STATIC_URL }}images/Staging_badge.png" style="position: absolute; top: 56px; left: 184px;" />
                {% endifequal %}
				<div id="loginButton">
                    {% if request.user.is_authenticated %}
					<button type="button" onclick="window.location.href='{% url auth_logout %}'" style="float: right;margin-top: 44px;">Log out</button>
                    {% else %}
					<button type="button" onclick="window.location.href='{% url login %}?next={% url home_pro %}'" style="float: right;margin-top: 44px;">Sign in</button>
                    {% endif %}
				</div>
				<div id="language">
					<form action="/i18n/setlang/" method="post">
						<select id="select-language" name="language">
							{% for l in LANGUAGES %}
                                {% get_language_info for l.0 as lang %}
                                <option value="{{ lang.code }}"{% if lang.code == LANGUAGE_CODE %} selected="selected"{% endif %}>{{ lang.name_local }}</option>
							{% endfor %}
						</select>
					</form>
				</div>
                <div id="header-name">
                    Connected: {{ request.user.get_full_name }}
                </div>
			</div>
		</div>

		<div id="main_container">
            {% block main_menu %}
            <div id="menu">
                {% get_active_menu %}
                <a class="{% ifequal 'submit' menu %}active{% endifequal %}"   href="{% url home %}">{%         trans "Submit a Report" %}</a>
                <a class="{% ifequal 'view' menu %}active{% endifequal %}"     href="{% url report_index %}">{% trans "View Reports" %}</a>
                <a class="{% ifequal 'about' menu %}active{% endifequal %}"    href="{% url about %}">{%        trans "About" %}</a>
                <a class="{% ifequal 'contact' menu %}active{% endifequal %}"  href="{% url contact %}">{%      trans "Contact Us" %}</a>
            </div>
            {% endblock %}

			<div id='body_content'>
                
                {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                    <p{% if message.tags %} class="msg {{ message.tags }}"{% endif %}>{{ message }}</p>
                    {% endfor %}
                </div>
                {% endif %}
				{% block content %}{% endblock %}
			</div>
		</div>

		<div id="footer">
			<div id="footer_content">
				{% block content_third %}{% endblock %}
                <p id="legal_notice">
                    <a id="term_of_use" href="{% url terms_of_use %}">{% trans "Terms of Use" %}</a>
                    Copyright 2011, <a href="http://www.cirb.irisnet.be">CIRB</a> <a href="http://www.cirb.irisnet.be"><img src="{{ STATIC_URL }}images/CIRB-CIBG-inverse.gif"/></a>
                </p>
			</div>
		</div>

		{% block endbody %}{% endblock %}
	</body>
</html>
