{% extends "base_pro.html" %}
{% load i18n %}
{% load tags %}
{% block script %}
<script type="text/javascript">
     $(function() {
          // navigate to page on click event
          $('#usercreationtype').bind('change', function() {  
          	var baseUrl = '/pro/createuser/';
      		window.location.href = baseUrl + $('#usercreationtype').val()
          } );
          document.getElementById('usercreationtype').value = window.location.href.split('/').pop();
     });

</script>
{% endblock %}

{% block title %}Create user {% endblock %}

{% block content %}

<div id="fullwidth">
        <h1>Create user</h1>
		<div>
			<select id="usercreationtype">
				<option value="agent">Agent</option>
				<option value="entity">Entity</option>
				<option value="executeur">Executeur de travaux</option>
				<option value="gestionnaire">Gestionnaire</option>
				<option value = "impetrant">Impetrant</option>
		</div>
		<div>
			</select>
			<form action="" method="POST">
			{% csrf_token %}
            <table>
            {{ createform.as_table }}
            </table>
        <p>
            <input type="submit" value="Submit" class="big_button"/>
        </p>
        </form>
		</div>
</div>

{% endblock %}
