{% extends "base.html" %}
{% load i18n tags %}

{% block script %}
{{ block.super }}

<meta property="og:title" content="{% trans 'Home' %}" />
<meta property="og:description" content="{% trans 'Meta description for home page' %}" />

<script type="text/javascript" src="{{ STATIC_URL}}js/search.js"></script>

{% block script-search %}
<script type="text/javascript">
    var NEXT_PAGE_URL = '{% url report_new %}';
</script>


{% endblock %}
<script type="text/javascript">
$(function(){
    fms.currentMap = new fms.Map('map', {
        apiLang:     LANGUAGE_CODE,
        localizeUrl: URBIS_URL + '/service/urbis/Rest/Localize/getaddressfromxy',
        urbisUrl:    URBIS_URL + '/geoserver/wms',
        {% if reports.0 %}
        origin:{
            x:{{ reports.0.point.x }},
            y:{{ reports.0.point.y }}
        }
        {% endif %}
    });
    {% for report in reports %}
    	fms.currentMap.addReport({{ report.to_JSON|dict_to_json|safe }}, {{forloop.counter}});
    {% endfor %}
    
    $("#list_created").show();
    $("#list_closed").hide();
    $("#list_in_progress").hide();
});

function showResults(type,li){
    if(type == "created"){
        $("#list_created").show();
        $("#list_closed").hide();
        $("#list_in_progress").hide();
    }
    else if (type == "in_progress"){
        $("#list_created").hide();
        $("#list_closed").hide();
        $("#list_in_progress").show();
    }
    else {
        $("#list_created").hide();
        $("#list_closed").show();
        $("#list_in_progress").hide();
    }
    $.each(li.parent().find("li"),function(idx,val){
        $(val).removeClass("active");
    });
    li.addClass("active");
}
</script>
{% endblock %}

{% block header-banner %}
	{% trans 'Report an incident (Hole, degradations, subsidence, invisible marks...)' %}
{% endblock %}

{% block content %}
    <article id="map">

        <div id="instructions" class="block">
            <p class="lead">{% trans "How to fill a report" %}</p>
            <ol>
                <li>{% trans "Enter a street where you have located an incident" %}</li>
                <li>{% trans "Locate the incident on map" %}</li>
                <li>{% trans "Descibe the incident" %}</li>
                <li>{% trans "The incident will be sent to the right service" %}</li>
                <li>{% trans "Subscribe an incident to be kept posted" %}</li>
            </ol>
        </div>

        <form id='search-form' class="block highlighted form-inline">
            {% csrf_token %}
            <p class="lead">{% trans "Enter the address where the incident is:" %}</p>
            <input id="input-search" class="input-large" type="search" name="q" {% if location %}value="{{location}}"{% endif %} placeholder="{% trans 'Street...' %}" />
            <select id="input-ward" class="input-medium" name="ward">
                <option value="">{% trans "All communes..." %}</option>
                {% for zip in zipcodes %}
                    <option value={{zip.code}}>{{zip.code}} {{zip.name}}</option>
                {% endfor %}
            </select>
            <input class="btn" type="submit" name="submit" value="{% trans 'Search' %}">


            <ul id="proposal" class="inline"> </ul>

        </form>
    </article>

<div id="page_content_container">
    <article id="counters">
        <div class='counter'>
            <h3 class='number'>{{ report_counts.recent_new }}</h3>
            <span class='text'>{% trans "Reports Filed" %}</span>
            <span class='qualifier'>{% trans "In the 30 last days" %} *</span>
        </div>
        <div class='counter'>
            <h3 class='number'>{{ report_counts.recent_updated }}</h3>
            <span class='text'>{% trans "Reports Updated" %}</span>
            <span class='qualifier'>{% trans "In the 30 last days" %} *</span>
        </div>
        <div class='counter'>
            <h3 class='number'>{{ report_counts.recent_fixed }}</h3>
            <span class='text'>{% trans "Reports Fixed" %}</span>
            <span class='qualifier'>{% trans "In the 30 last days " %} *</span>
        </div>
	<br/>
        <h5 style="text-align:right">* {% trans 'As reported by Fixmystreet users' %}</h5>
    </article>


    <article id="recent-reports" class="home_recent_reports">
        <h4>{% trans 'Last modified reports:' %}</h4>
        <ul id="recent_home_nav" class="nav nav-tabs">
            <li class="active">
                <a onclick="showResults('created',$(this).parent());">{% trans "Incidents signalés" %}</a>
            </li>
            <li>
                <a onclick="showResults('in_progress',$(this).parent());">{% trans "Incidents mis a jour" %}</a>
            </li>
            <li>
                <a onclick="showResults('closed',$(this).parent());">{% trans "Incidents cloturés" %}</a>
            </li>
        </ul>
        <div id="search_results" class="search_results_home">
            <div id="list_created">
                {% for report in reports_created %}
                {% if not BACKOFFICE %}
                {% include "reports/_navigation.html" with url=report.get_absolute_url %}
                {% else %}
                {% include "reports/_navigation.html" with url=report.get_absolute_url_pro %}
                {% endif %}
                {% endfor %}
            </div>
            <div id="list_in_progress">
                {% for report in reports_in_progress %}
                {% if not BACKOFFICE %}
                {% include "reports/_navigation.html" with url=report.get_absolute_url %}
                {% else %}
                {% include "reports/_navigation.html" with url=report.get_absolute_url_pro %}
                {% endif %}
                {% endfor %}
            </div>
            <div id="list_closed">
                {% for report in reports_closed %}
                {% if not BACKOFFICE %}
                {% include "reports/_navigation.html" with url=report.get_absolute_url %}
                {% else %}
                {% include "reports/_navigation.html" with url=report.get_absolute_url_pro %}
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </article>

    <article id="home_download_mobile">
        <p>{% trans 'Download the fix my street mobile application for your smartphone:' %}</p>
        <img src="{{STATIC_URL}}images/app-store.png">
        <img src="{{STATIC_URL}}images/google-play.png">
    </article>
</div>
{% endblock %}

{% block content_third %}{% endblock %}
