{% extends "base.html" %}
{% load i18n %}
{% block title %}
	{% trans "Terms of Use" %}
{% endblock %}
{% block content %}
<div>
    <h1 class="span12">{% trans "Terms of Use" %}</h1>
    <div class="span12">
    {% if LANGUAGE_CODE == "nl" %}

    {% else %}
        <p style="margin-bottom: 0.14in"><b>Informations l&eacute;gales</b></p>

        <p style="margin-bottom: 0.14in">Les dispositions ci-dessous ont pour objet de d&eacute;finir les conditions auxquelles Bruxelles Mobilit&eacute; et ses partenaires vous donnent acc&egrave;s &agrave; ce site.</p>

        <p style="margin-bottom: 0.14in">Vous avez acc&egrave;s &agrave; ce site (fixmystreet.irisnet.be), aux outils et aux informations qu&#39;il contient pour autant que vous acceptiez, sans aucune r&eacute;serve, les conditions mentionn&eacute;es sur la pr&eacute;sente page &quot;Informations l&eacute;gales&quot;. En consultant ce fixmystreet.irisnet.be et les informations qui y figurent, vous acceptez ces conditions.</p>

        <p style="margin-top: 0.07in; margin-bottom: 0.07in; line-height: 100%; page-break-after: avoid"><font face="Times New Roman, serif"><font size="5"><b><font face="Calibri, serif"><font size="4">Informations</font></font></b></font></font></p>

        <p style="margin-bottom: 0.14in">Bruxelles Mobilit&eacute; et ses partenaires (responsables du traitement) d&eacute;clinent toute responsabilit&eacute; pour les dommages pouvant r&eacute;sulter de l&#39;utilisation des informations de ce portail Internet. Par cons&eacute;quent, vous &ecirc;tes enti&egrave;rement responsable de l&#39;utilisation que vous faites de ces informations.</p>

        <p style="margin-bottom: 0.14in"><span lang="fr-FR">Les donn&eacute;es publi&eacute;s sur ce site sont fournies uniquement &agrave; titre d&#39;information et n&#39;ont aucun caract&egrave;re l&eacute;gal. </span></p>

        <p style="margin-bottom: 0.14in"><span lang="fr-FR">Bruxelles Mobilit&eacute; et ses partenaires ne sont pas en mesure de garantir le caract&egrave;re exact et complet de ces informations et, de ce fait, ne peuvent &ecirc;tre tenue responsable pour quelque motif que ce soit des dommages directs ou indirects que le citoyen devrait subir.</span></p>

        <p style="margin-bottom: 0.14in">Bruxelles Mobilit&eacute;, en collaboration ses partenaires, veille &agrave; ce que les informations contenues sur le pr&eacute;sent site soient les plus correctes et les plus &agrave; jour possible. Il ne peut toutefois &ecirc;tre tenu pour responsable des &eacute;ventuelles erreurs qui s&#39;y trouveraient.</p>

        <p style="margin-bottom: 0.14in">Bruxelles Mobilit&eacute; tente d&#39;assurer une disponibilit&eacute; maximale et continue du site. Celui-ci n&#39;est cependant pas &agrave; l&#39;abri d&#39;une d&eacute;faillance technique. Bruxelles Mobilit&eacute; d&eacute;cline donc toute responsabilit&eacute; en cas d&#39;indisponibilit&eacute; du site, quelle que soit la dur&eacute;e de celle-ci.</p>

        <p style="margin-bottom: 0.14in"><span style="">Ce site a pour objectif de faciliter la communication entre les citoyens, Bruxelles Mobilit&eacute; et ses diff&eacute;rents partenaires. Les informations fournies par les citoyens doivent &ecirc;tre consid&eacute;r&eacute;es comme des documents de travail qui aideront Bruxelles Mobilit&eacute; et ses partenaires &agrave; organiser son travail. En aucun cas, cela n&rsquo;engage Bruxelles Mobilit&eacute; ou ses partenaires &agrave; intervenir dans un d&eacute;lai donn&eacute;.</span></p>

        <p style="margin-top: 0.07in; margin-bottom: 0.07in; line-height: 100%; page-break-after: avoid"><font face="Times New Roman, serif"><font size="5"><b><font face="Calibri, serif"><font size="4">Photos et commentaires</font></font></b></font></font></p>

        <p style="margin-bottom: 0.14in">L&rsquo;utilisateur accepte, par l&rsquo;envoi de la fiche &laquo;&nbsp;incident&nbsp;&raquo;, que les donn&eacute;es introduites et son nom puissent &ecirc;tre publi&eacute;s sur le site Internet fixmystreet.irisnet.be, sans que le responsable du traitement ne lui soit redevable d&rsquo;aucune indemnit&eacute; de quelque nature que ce soit.</p>

        <p style="margin-bottom: 0.14in">Par l&rsquo;encodage d&rsquo;un &laquo;&nbsp;incident&nbsp;&raquo; dans le syst&egrave;me, l&rsquo;utilisateur consent au traitement informatis&eacute; de toutes les donn&eacute;es communiqu&eacute;es sur le formulaire. Les donn&eacute;es pourront donc &ecirc;tres utilis&eacute;es &agrave; des fins de communication dans le cadre du traitement du dossier.</p>

        <p style="margin-bottom: 0.14in">Le responsable du traitement respectera la vie priv&eacute;e conform&eacute;ment &agrave; la loi du 8 d&eacute;cembre 1992 relative &agrave; la protection de la vie priv&eacute;e en mati&egrave;re de traitement des donn&eacute;es &agrave; caract&egrave;re personnel.</p>

        <p style="margin-bottom: 0.14in">L&rsquo;usager dispose &nbsp;&agrave; tout moment de la possibilit&eacute; d&rsquo;acc&eacute;der, de rectifier ou de modifier les donn&eacute;es communiqu&eacute;es par simple demande &eacute;crite &agrave;&nbsp;Bruxelles Mobilit&eacute;.</p>

        <p style="margin-bottom: 0.14in">Les photos et commentaires introduits par l&rsquo;utilisateur sont affich&eacute;s sur le site apr&egrave;s validation d&rsquo;un administrateur de l&rsquo;application.</p>

        <p style="margin-bottom: 0.14in">Le participant re&ccedil;oit un e-mail apr&egrave;s validation.</p>

        <p style="margin-bottom: 0.14in">Bruxelles Mobilit&eacute; et les institutions partenaires ne pourront &ecirc;tre tenues responsables du contenu des photos et des commentaires.</p>

        <p style="margin-bottom: 0.14in">Les photos doivent &ecirc;tre libres de droit.</p>

        <p style="margin-bottom: 0.14in">Les photos et commentaires doivent respecter le droit des marques (pas de d&eacute;tournement de marque, pas de publicit&eacute;) ainsi que la vie priv&eacute;e et le droit &agrave; l&rsquo;image des personnes (pas de plaque min&eacute;ralogique lisible, pas de visages reconnaissables de personnes n&rsquo;ayant pas donn&eacute; leur accord pour publication de leur image, pas de noms).</p>

        <p style="margin-bottom: 0.14in">Le responsable du traitement se r&eacute;serve le droit de refuser des photos pour raison de qualit&eacute; technique ou parce qu&rsquo;elles pr&eacute;sentent un caract&egrave;re raciste, pornographique, violent, extr&eacute;miste ou licencieux ou parce qu&rsquo;elles portent atteintes &agrave; la vie priv&eacute;e (plaque min&eacute;ralogique, visages, etc).</p>

        <p style="margin-bottom: 0.14in">Le responsable du traitement se r&eacute;serve le droit de refuser des commentaires parce qu&rsquo;elles pr&eacute;sentent un caract&egrave;re raciste, pornographique, violent, extr&eacute;miste ou licencieux ou parce qu&rsquo;elles portent atteintes &agrave; la vie priv&eacute;e (citation de noms).</p>

        <p style="margin-top: 0.07in; margin-bottom: 0.07in; line-height: 100%; page-break-after: avoid"><font face="Times New Roman, serif"><font size="5"><b><font face="Calibri, serif"><font size="4"><span style="">Liens et renvois</span></font></font></b></font></font></p>

        <ul>
            <li>
            <p style="margin-bottom: 0.14in"><span style="">Ce portail Internet contient des liens hypertextes vers d&#39;autres sites ainsi que des renvois &agrave; d&#39;autres sources d&#39;information. Ces liens et sources d&#39;information sont mis &agrave; votre disposition &agrave; titre indicatif uniquement. Bruxelles Mobilit&eacute; ne contr&ocirc;le pas ces sites et les informations qui y figurent. Il ne peut donc offrir aucune garantie quant &agrave; la qualit&eacute; et/ou au caract&egrave;re exhaustif de ces informations. </span></p>
            </li>
            <li>
            <p style="margin-bottom: 0.14in"><span style="">Bruxelles Mobilit&eacute; d&eacute;cline toute responsabilit&eacute; pour les dommages pouvant r&eacute;sulter de la consultation des informations pr&eacute;sentes sur les autres sites ou dans d&#39;autres sources d&#39;information en g&eacute;n&eacute;ral, et auxquelles renvoie le portail. </span></p>
            </li>
        </ul>

        <p style="margin-top: 0.07in; margin-bottom: 0.07in; line-height: 100%; page-break-after: avoid"><font face="Times New Roman, serif"><font size="5"><b><font face="Calibri, serif"><font size="4"><span style="">Droits de propri&eacute;t&eacute; intellectuelle</span></font></font></b></font></font></p>

        <ul>
            <li>
            <p style="margin-bottom: 0.14in"><span style="">Conform&eacute;ment aux dispositions de la loi du 30 juin 1994 relative au droit d&#39;auteur et aux droits voisins, vous avez le droit de t&eacute;l&eacute;charger et de reproduire les informations figurant sur ce site pour votre usage personnel. </span></p>
            </li>
        </ul>

        <p style="margin-top: 0.07in; margin-bottom: 0.07in; line-height: 100%; page-break-after: avoid"><font face="Times New Roman, serif"><font size="5"><b><font face="Calibri, serif"><font size="4">Protection des donn&eacute;es &agrave; caract&egrave;re personnel</font></font></b></font></font></p>

        <p style="margin-bottom: 0.14in">Les donn&eacute;es re&ccedil;ues de votre part servent uniquement &agrave; r&eacute;pondre &agrave; la demande d&#39;informations que vous avez introduite.</p>

        <p style="margin-bottom: 0.14in">Conform&eacute;ment &agrave; la loi du 8 d&eacute;cembre 1992 relative &agrave; la protection de la vie priv&eacute;e &agrave; l&#39;&eacute;gard des traitements de donn&eacute;es &agrave; caract&egrave;re personnel, vous avez le droit de consulter et, si n&eacute;cessaire, de faire rectifier les donn&eacute;es en question. Vous devez pour ce faire prendre contact avec le <a href="mailto:bruxellesmobilite@mrbc.irisnet.be">bruxellesmobilite@mrbc.irisnet.be</a>.</p>

        <p style="margin-bottom: 0.14in"><font size="4"><b>Partenaires</b></font></p>

        <p style="margin-bottom: 0.14in">Gestionnaire du site&nbsp;: Bruxelles Mobilit&eacute;</p>

        <p style="margin-bottom: 0.14in">Responsable technique&nbsp;: Centre d&rsquo;Informatique pour la R&eacute;gion Bruxelloise</p>

        <p style="margin-bottom: 0.14in">Communes partenaires&nbsp;:</p>

        <p style="margin-bottom: 0.14in"><br />
        &nbsp;</p>

        <p style="margin-bottom: 0.14in">Autres participantes&nbsp;:</p>

        <ul>
            <li>
            <p style="margin-bottom: 0.14in">SIBELGA</p>
            </li>
            <li>
            <p style="margin-bottom: 0.14in">VIVAQUA</p>
            </li>
            <li>
            <p style="margin-bottom: 0.14in">&nbsp;??</p>
            </li>
        </ul>

        <p style="margin-bottom: 0.14in"><font size="4"><b>Contact</b></font></p>

        <p style="margin-bottom: 0.14in">Pour toute question relative au site lui-m&ecirc;me, veuillez prendre contact avec Bruxelles Mobilit&eacute; &agrave; via une des adresses suivantes&nbsp;:</p>

        <p style="margin-bottom: 0.14in">Rue du Progr&egrave;s 80 bte 1, 1030 Bruxelles<br />
        T 0800 94 001<br />
        E-mail: <a href="mailto:bruxellesmobilite@mrbc.irisnet.be">bruxellesmobilite@mrbc.irisnet.be</a></p>

        <p style="margin-bottom: 0.14in">Pour signaler un incident de voirie, veuillez le faire via le formulaire <a href="http://fixmystreet.irisnetlab.be/">&quot;Signaler un incident&quot;</a> et suivre les instructions.&nbsp;&raquo;</p>

        <p style="margin-bottom: 0.14in"><br />
        &nbsp;</p>

        <p style="text-align: right;">&nbsp;</p>
    {% endif %}
    </div>
</div>
{% endblock %}
