{% extends "base.html" %}
{% load i18n %}
{% block title %}
	{% trans "Terms of Use" %}
{% endblock %}
{% block content %}
<div>
    <h1 class="span12">{% trans "Terms of Use" %}</h1>
    <div class="span12">
    {% if LANGUAGE_CODE == "nl" %}

        <h2>Pagina wettelijke informatie</h2>

        <p>Deze bepalingen hebben tot doel de toegangs- en gebruiksvoorwaarden vast te leggen van de website fixmystreet.irisnet.be (hieronder de « Website ») beheerd door het Brussels Hoofdstedelijk Gewest.</p>

        <p>Door de website en de informatie die daarin is opgenomen te raadplegen, aanvaardt de gebruiker, zonder enig voorbehoud, onderstaande voorwaarden.</p>

        <h3>Informatie</h3>

        <p>De Website heeft tot doel de communicatie tussen de burgers, Mobiel Brussel en haar verschillende partners te vergemakkelijken. De informatie die door de gebruikers wordt bezorgd, moet worden beschouwd als een werkdocument dat Mobiel Brussel en haar partners zal helpen om hun werk te organiseren. Deze informatie verbindt bijgevolg op geen enkele manier Mobiel Brussel of haar partners ertoe maatregelen te nemen binnen een bepaalde termijn. Mobiel Brussel en haar partners blijven vrij te bepalen welke acties ondernomen moeten worden. </p>

        <p>De gegevens die op deze website worden gepubliceerd worden enkel ter informatie bezorgd en hebben geen enkel wettelijk karakter.</p>

        <p>Mobiel Brussel en haar partners aanvaarden geen enkele aansprakelijkheid voor enige schade die zou kunnen voortvloeien uit enig gebruik van de informatie op de Website. Mobiel Brussel en haar partners kunnen niet borg staan voor de nauwkeurigheid en de volledigheid van deze informatie en zullen bijgevolg niet aansprakelijk kunnen worden gesteld, op welke grond dan ook, voor een fout op de Website of voor de rechtstreekse of onrechtstreekse schade die iemand zou hebben geleden en die het gevolg is van het raadplegen van de Website of van de informatie gepubliceerd op de Website. </p>

        <p>Mobiel Brussel staat erop een maximale en constante beschikbaarheid van de website te verzekeren. Mobiel Brussel zal echter niet aansprakelijk kunnen worden gesteld in geval van technische fouten of onderbrekingen van de website, ongeacht de duur van de storing. </p>

        <h3>Foto’s, commentaren en bescherming van persoonsgegevens</h3>

        <p>Door een « probleem » - fiche op te sturen, aanvaardt de gebruiker dat de gegevens die hij heeft meegedeeld alsook zijn naam, op de Website gepubliceerd kunnen worden, zonder dat Mobiel Brussel en haar partners ervan hem een vergoeding van eender welke aard verschuldigd zijn.</p>

        <p>Door een “probleem”-fiche op te sturen, stemt de gebruiker in met de geïnformatiseerde verwerking van alle gegevens meegedeeld op het formulier. Deze gegevens zullen gebruikt kunnen worden voor informatieve doeleinden in het kader van de behandeling van het dossier en zullen niet gebruikt worden in het kader van rechtstreekse marketingactiviteiten.</p>

        <p>Mobiel Brussel en haar partners verbinden zich ertoe de gegevens die hen meegedeeld worden te verwerken overeenkomstig de wet van 8 december 1992 op de bescherming van de persoonlijke levenssfeer ten opzichte van de verwerking van de persoonsgegevens. </p>

        <p>Overeenkomstig bovenvermelde wet, heeft de gebruiker het recht om de desbetreffende gegevens te raadplegen en, indien nodig, te laten wijzigen door een verzoek in die zin op te sturen naar <a href="mailto:mobielbrussel@mbhg.irisnet.be">mobielbrussel@mbhg.irisnet.be</a>.</p>

        <p>De foto’s en commentaren die de gebruiker invoert worden op de website gepubliceerd na validering door een beheerder. De gebruiker die deze informatie/foto’s gecommuniceerd heeft krijgt een email na validering ervan. Mobiel Brussel en haar partners zullen niet aansprakelijk kunnen worden gesteld voor de inhoud van de foto’s en de commentaren. De gebruiker die foto’s bezorgt, verklaart dat ze vrij van rechten zijn en vrijwaart Mobiel Brussel en haar partners voor elk beroep houdende de rechten verbonden aan de bezorgde foto’s.</p>

        <p>De foto’s en commentaren moeten het merkenrecht naleven (geen brandjacking, geen reclame) alsook de persoonlijke levenssfeer en het recht op afbeelding (geen leesbare nummerplaat, geen herkenbare gezichten van personen die geen toestemming hebben gegeven voor de publicatie van hun afbeelding, geen namen).</p>

        <p>Mobiel Brussel en haar partners behouden zich het recht om foto’s van onvoldoende technische kwaliteit niet te publiceren alsook racistische, pornografische, gewelddadige, extremistische of zedeloze foto’s of foto’s die afbreuk doen aan de privésfeer en/of het recht op afbeelding van derden (zie hierboven).</p>

        <p>Mobiel Brussel en haar partners zullen de commentaren van racistische, pornografische, gewelddadige, extremistische of zedeloze aard of foto’s die afbreuk doen aan de privésfeer (vb. : vermelding van namen van derden) niet publiceren.</p>

        <h3>Partners</h3>

        <p>Beheerder van de website : Mobiel Brussel</p>

        <p>Technische verantwoordelijke : Centrum voor Informatica van het Brussels Gewest.</p>

        <p>Gemeenten-partners :</p>
        <ul>
            <li><p>Brussel-Stad</p></li>
            <li><p>Elsene</p></li>
            <li><p>Evere</p></li>
            <li><p>Koekelberg</p></li>
            <li><p>Oudergem</p></li>
            <li><p>Schaarbeek</p></li>
            <li><p>Sint-Agatha-Berchem</p></li>
            <li><p>Sint-Gillis</p></li>
            <li><p>Sint-Lambrechts-Woluwe</p></li>
            <li><p>Vorst</p></li>
        </ul>

        <p>Binnenkort ook :</p>
        <ul>
            <li><p>Etterbeek</p></li>
            <li><p>Sint-Joost-ten-Node</p></li>
            <li><p>Sint-Pieters-Woluwe</p></li>
            <li><p>Watermaal-Bosvoorde</p></li>
        </ul>

        <p>Andere deelnemers :</p>
        <ul>
            <li><p>MIVB</p></li>
            <li><p>BELGACOM</p></li>
            <li><p>VIVAQUA</p></li>
        </ul>

        <h3>Contact</h3>

        <p>Bij moeilijkheden tijdens het gebruik van Fix-My-Street, kan de gebruiker contact opnemen met Mobiel Brussel via :</p>

        <p>
            Vooruitgangstraat 80 bus 1, 1030 Brussel
            <br/>
            T 0800 94 001
            <br/>
            E-mail: <a href="mailto:mobielbrussel@mbhg.irisnet.be">mobielbrussel@mbhg.irisnet.be</a>
        </p>

        <p>Om een probleem aan de openbare weg te melden, zal de gebruiker het formulier « <a href="http://fixmystreet.irisnetlab.be/">Een probleem melden</a> » moeten invullen en de instructies volgen.</p>

    {% else %}

        <h2>Page Informations légales</h2>

        <p>Les présentes dispositions ont pour objet de définir les conditions d’accès et d’utilisation du site fixmystreet.irisnet.be (ci-après le « Site ») géré par la Région de Bruxelles Capitale.</p>

        <p>En consultant le Site et les informations qui y figurent, l’utilisateur accepte, sans aucune réserve, les conditions mentionnées ci-après.</p>

        <h3>Informations</h3>

        <p>Le Site a pour objectif de faciliter la communication entre les citoyens, Bruxelles Mobilité et ses différents partenaires. Les informations fournies par les utilisateurs doivent être considérées comme des documents de travail qui aideront Bruxelles Mobilité et ses partenaires à organiser leur travail. Ces informations n’engagent donc en aucune façon Bruxelles Mobilité ou ses partenaires à prendre des mesures dans un délai donné. Bruxelles Mobilité ou ses partenaires restent libres de déterminer les actions à mettre en place.</p>

        <p>Les données publiées sur ce site sont fournies uniquement à titre d'information et n'ont aucun caractère légal.</p>

        <p>Bruxelles Mobilité et ses partenaires  déclinent toute responsabilité pour les dommages pouvant résulter de l'utilisation ou de l’interprétation des informations publiées sur le Site. Bruxelles Mobilité et ses partenaires ne sont pas en mesure de garantir le caractère exact et complet de ces informations et, de ce fait, ne peuvent être tenus responsables pour quelque motif que ce soit de toute erreur que contiendrait le Site ou des dommages directs ou indirects que toute personne pourrait subir du fait de la consultation du Site ou des informations publiées sur le Site.</p>

        <p>Bruxelles Mobilité tente d'assurer une disponibilité maximale et continue du site. Toutefois, Bruxelles Mobilité ne pourra être tenue responsable en cas de défaillance technique ou d'indisponibilité du Site, quelle qu’en soit la durée.</p>

        <h3>Photos, commentaires et protection des données à caractère personnel</h3>

        <p>En envoyant une fiche « incident », l’utilisateur accepte que les données qu’il a communiquées ainsi que son nom puissent être publiés sur le Site, sans que les responsables du traitement  ne lui soient redevables d’aucune indemnité.</p>

        <p>Par l’envoi d’une fiche « incident », l’utilisateur consent au traitement informatisé de toutes les données communiquées sur le formulaire. Ces données pourront être utilisées à des fins de communication dans le cadre du traitement du dossier et ne seront pas utilisées dans le cadre d’activités de marketing direct.</p>

        <p>Bruxelles Mobilité et ses partenaires s’engagent à traiter les données qui leurs sont communiquées conformément à la loi du 8 décembre 1992 relative à la protection de la vie privée en matière de traitement des données à caractère personnel.</p>

        <p>Conformément à la loi susmentionnée, l’utilisateur a le droit de consulter et, si nécessaire, de faire rectifier les données en question en adressant une demande en ce sens à <a href="mailto:bruxellesmobilite@mrbc.irisnet.be">bruxellesmobilite@mrbc.irisnet.be</a>.</p>

        <p>Les photos et commentaires introduits par l’utilisateur sont affichés sur le site après validation par un administrateur de l’application. L’utilisateur qui a communiqué ces informations/photos reçoit un e-mail après leur validation.  Bruxelles Mobilité ses partenaires ne pourront être tenues responsables du contenu des photos et des commentaires. L’utilisateur qui communique des photos déclare qu’elles sont libres de droit et garantit Bruxelles Mobilité et ses partenaires contre tout recours portant sur les droits attachés aux photos communiquées.</p>

        <p>Les photos et commentaires doivent respecter le droit des marques (pas de détournement de marque, pas de publicité) ainsi que la vie privée et le droit à l’image des personnes (pas de plaque minéralogique lisible, pas de visages reconnaissables de personnes n’ayant pas donné leur accord pour publication de leur image, pas de noms).</p>

        <p>Bruxelles Mobilité ses partenaires se réserve le droit de ne pas publier des photos en raison de leur qualité technique insuffisante et ne publieront pas les photos qui présentent un caractère raciste, pornographique, violent, extrémiste ou licencieux ou portent atteintes à la vie privée et/ou au droit à l’image de tiers (voir ci-avant).</p>

        <p>Bruxelles Mobilité ses partenaires ne publieront pas les commentaires qui  présentent un caractère raciste, pornographique, violent, extrémiste ou licencieux ou parce qu’ils  portent atteintes à la vie privée (ex : citation de noms de tiers).</p>

        <h3>Partenaires</h3>

        <p>Gestionnaire du site : Bruxelles Mobilité</p>

        <p>Responsable technique : Centre d’Informatique pour la Région Bruxelloise</p>

        <p>Communes partenaires :</p>
        <ul>
            <li><p>Auderghem</p></li>
            <li><p>Berchem-Sainte-Agathe</p></li>
            <li><p>Bruxelles-Ville</p></li>
            <li><p>Evere</p></li>
            <li><p>Forest</p></li>
            <li><p>Koekelberg</p></li>
            <li><p>Ixelles</p></li>
            <li><p>Saint-Gilles</p></li>
            <li><p>Schaerbeek</p></li>
            <li><p>Woluwe-Saint-Lambert</p></li>
        </ul>

        <p>Bientôt également :</p>
        <ul>
            <li><p>Etterbeek</p></li>
            <li><p>Saint-Josse-ten-Noode</p></li>
            <li><p>Watermael-Boitsfort</p></li>
            <li><p>Woluwe-Saint-Pierre</p></li>
        </ul>

        <p>Autres participants :</p>
        <ul>
            <li><p>STIB</p></li>
            <li><p>BELGACOM</p></li>
            <li><p>VIVAQUA</p></li>
        </ul>

        <h3>Contact</h3>

        <p>En cas de difficultés lors de l’utilisation de Fix-My-Street , l’utilisateur peut contacter Bruxelles Mobilité aux coordonnées suivantes:</p>

        <p>
            Rue du Progrès 80 bte 1, 1030 Bruxelles
            <br/>
            T 0800 94 001
            <br/>
            E-mail: <a href="mailto:bruxellesmobilite@mrbc.irisnet.be">bruxellesmobilite@mrbc.irisnet.be</a>
        </p>

        <p>Pour signaler un incident de voirie, l’utilisateur devra compléter le formulaire « <a href="http://fixmystreet.irisnetlab.be/">Signaler un incident</a> » et suivre les instructions.</p>

    {% endif %}
    </div>
</div>
{% endblock %}
