{% extends 'emails/notifications/base.html' %}

{% load i18n %}
{% load static from staticfiles %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/digest.css' %}">
{% endblock %}

{% block content_mail_fr %}

    <p>{% trans "Veuillez trouver ci-dessous un résumé de l'activité lié à vos abonnements sur Fix My Street." %}</p>

    <p>{% trans "Date" %} : {{ date_digest|date:"d/m/Y" }}</p>

    <table>
        <thead>
            <tr>
                <th>{% trans "Time" %}</th>
                <th>#ID</th>
                <th>{% trans "Status" %}</th>
                <th>{% trans "Category" %}</th>
                <th>{% trans "Address" %}</th>
            </tr>
        </thead>

        <tbody>

        {% for activity in activities_list %}
            <tr>
                <td>{{ activity.event_at|date:"H:i" }}</td>
                <td>
                    {% if user_is_pro %}
                        <a href="{{ site_url }}{{ activity.report.get_absolute_url_pro }}">
                    {% else %}
                        <a href="{{ site_url }}{{ activity.report.get_absolute_url }}">
                    {% endif %}
                    #{{ activity.report.id }}
                    </a>
                </td>
                <td>{{ activity.get_status}}</td>
                <td>{{ activity.report.display_category }}</td>
                <td>{{ activity.report.display_address }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

{% endblock %}

{% block content_mail_nl %}

    <p>{% trans "Veuillez trouver ci-dessous un résumé de l'activité lié à vos abonnements sur Fix My Street." %}</p>

    <p>{% trans "Date" %} : {{ date_digest|date:"d/m/Y" }}</p>

    <table>
        <thead>
            <tr>
                <th>{% trans "Time" %}</th>
                <th>#ID</th>
                <th>{% trans "Status" %}</th>
                <th>{% trans "Category" %}</th>
                <th>{% trans "Address" %}</th>
            </tr>
        </thead>

        <tbody>

        {% for activity in activities_list %}
            <tr>
                <td>{{ activity.event_at|date:"H:i" }}</td>
                <td>
                    <a href="{{ site_url }}/{{ activity.report.id }}">
                        #{{ activity.report.id }}
                    </a>
                </td>
                <td>{{ activity.get_status }}</td>
                <td>{{ activity.report.display_category }}</td>
                <td>{{ activity.report.display_address }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

{% endblock %}

{% block content_mail_en %}

    <p>{% trans "Veuillez trouver ci-dessous un résumé de l'activité lié à vos abonnements sur Fix My Street." %}</p>

    <p>{% trans "Date" %} : {{ date_digest|date:"d/m/Y" }}</p>

    <table>
        <thead>
            <tr>
                <th>{% trans "Time" %}</th>
                <th>#ID</th>
                <th>{% trans "Status" %}</th>
                <th>{% trans "Category" %}</th>
                <th>{% trans "Address" %}</th>
            </tr>
        </thead>

        <tbody>

        {% for activity in activities_list %}
            <tr>
                <td>{{ activity.event_at|date:"H:i" }}</td>
                <td>
                    {% if user_is_pro %}
                        <a href="{{ site_url }}{{ activity.report.get_absolute_url_pro }}">
                    {% else %}
                        <a href="{{ site_url }}{{ activity.report.get_absolute_url }}">
                    {% endif %}
                    #{{ activity.report.id }}
                    </a>
                </td>
                <td>{{ activity.get_status}}</td>
                <td>{{ activity.report.display_category }}</td>
                <td>{{ activity.report.display_address }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

{% endblock %}
