/*==============================================================
  COMMON
  ==============================================================*/
header{
	margin-top: 10px;
}
.navbar .nav, .navbar .btn-navbar{
	margin: 53px 0 0 0;
	clear: right;
}
nav ul{
	/*background:#E0E0E0;*/
	margin: 0;
	padding: 0;
	font-family: 'Dosis', sans-serif;
	text-transform: uppercase;
}

.navbar .nav li a{
	padding: 10px 20px;
	height: 20px;
	min-width: 55px;
	text-align: center;
	text-shadow: none;
}
@media (max-width: 979px){
	.navbar .nav {
		margin-top: 0px;
	}
	.navbar .nav li a{
		text-align: left;
	}
}
@media (min-width: 979px){
	.navbar .nav li a{
		margin-left: 20px;
	}
	.navbar .nav .nav-group a{
		float:left;
		border-radius: 0;
		margin-left: 3px;
		margin-right: 0;
	}
	.navbar .nav .nav-group a:first-child{
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;
	}
	.navbar .nav .nav-group a:last-child{
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;
	}
}
.navbar .nav li a:link, .navbar .nav li a:visited{
	border: 1px solid #E0E0E0;
	border-left: 1px solid #FFF;
	background: #E0E0E0;
	text-decoration: none;
	color: #495E77;
}
.navbar .nav li a:hover, .navbar .nav li a:active, .navbar .nav li a:focus{
	border: 1px solid #BCD4F1;
	background: #BCD4F1;
	text-decoration: none;
	color: #495E77;
}
.navbar .nav li a.active{
	border: 1px solid #607C9D;
	background: #607C9D;
	text-decoration: none;
	color: #FFF;
}
.consult.pro{
	margin-left:3px;
}
.navbar .nav .dropdown-menu{
	background:#E0E0E0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	padding:0;
	right:0;
	left:auto;
}
.navbar .nav .dropdown-menu a{
	margin-left: 0px;
}
.btn-group.open .dropdown-toggle{
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}
#login.btn-group:active{
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}
li.user-orga{
	/*font-size:12px;*/
	text-align: center;
	color:#FFF;
	background:#495E77;
	padding: 8px 10px 10px 10px;
	height: 20px;
}
li.user-orga + li.divider{
	margin:0;
}
#login .logout:hover, #login .logout:active, #login .logout:focus{
	background:#FC4C4C;
	color:#FFF;
}
#login .logout{
	-webkit-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-bottomright: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.langSelect{
	float: right;
}
.langSelect a:first-child{
	margin: 0 20px 0 0;
}
a.lang{
	font-family: 'Dosis', sans-serif;
	text-transform: uppercase;
}
a.lang:link, a.lang:visited{
	color: #9AB7DA;
	text-decoration: none;
}
a.lang:hover, a.lang:active, a.lang:focus{
	color: #495E77;
	text-decoration: none;
}
a.lang.selected:link, a.lang.selected:visited{
	color: #495E77;
}
a.lang.seleted:hover, a.lang.seleted:active, a.lang.seleted:focus{
	color: #495E77;
}
#login .icon-login{
	background: transparent url('../images/icon-login.png') top left no-repeat;
	height: 20px;
}
#login .dropdown-menu{
	vertical-align: bottom;
	font-family: 'Dosis', sans-serif;
	text-transform: uppercase;
	color: #495E77;
	background: #E0E0E0;
}
#login .dropdown-menu a{
	text-align: left;
}
#login a:link, #login a:visited{
	background: #E0E0E0;
	text-decoration: none;
	color: #495E77;
	border: 1px solid #E0E0E0;
}
#login a:hover, #login a:active, #login a:focus{
	border: 1px solid #BCD4F1;
	background: #BCD4F1;
	text-decoration: none;
	color: #495E77;
}
footer{
	font-size: 12px;
	margin-top:30px;
}
footer .a-propos{
	text-align: center;
}
footer .a-propos a{
	display: block;
	margin: 10px 0 0 0;
}
footer .cirb-cibg img{
	float: right;
}
.clearfloat{
	clear:both;
}

/*==============================================================
   HOME
  ==============================================================*/
#map{
	position: relative;
	height: 280px;
}
.map-big #map, #map.map-big{
	height: 610px !important;
    transition: all 1s;
}

#map.map-big-message {
    height: 634px !important;
}
#map img {
	max-width: none;
}
#proposal-container {
    background-color: #FFFFFF;
    bottom: -13px;
    position: absolute;
    right: 1px;
    z-index: 1;
    margin:15px 0;
    padding: 0;
	overflow: auto;
	max-height: 443px;
	-webkit-box-shadow: -2px -1px 5px rgba(50, 50, 50, 0.35);
	-moz-box-shadow: -2px -1px 5px rgba(50, 50, 50, 0.35);
    box-shadow: -2px -1px 5px rgba(50, 50, 50, 0.35);
    width: 250px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border:1px solid #607C9D;
}
#proposal-container .numberResultsContainer {
    text-align: center;
    font-size: 1.2em;
    margin: 0px;
    padding: 0px;
    border-bottom: 3px solid #DDDDDD;
	background:#607C9D;
	color:#FFF;
	border:0;
}
#proposal {
    margin:0;
    padding:0;
}
#proposal li {
    border-bottom: 1px solid #DDDDDD;
    display: block;
	padding: 10px;;
	margin: 10px 15px 10px 15px;
    cursor:pointer;
}
#proposal img{
	float:left;
	margin-right:5px;
	margin-top:5px;
}
#proposal li:hover {
    background:#FFF url('../images/icon-next.png') 200px 22px no-repeat;
}
#proposal li p{
    margin:0;
}
#proposal li a{
    color:black;
}
#proposal-message{
    margin: 0;
    padding: 0 1em 1em;
    color: #BCD4F1;
    font-weight:bold;
}
#proposal-container button{
	background:#607C9D
;	color:#FFF;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-appearance: none;
	border:0;
	margin-bottom:15px;
}
#proposal-container button:hover, #proposal-container button:active, #proposal-container button:focus{
	background:#FFDB00;
	color:#607C9D;
	border:0;
}
#proposal-container button#previousResults{
	float:left;
	margin-left: 15px;
}
#proposal-container button#nextResults{
	float:right;
	margin-right: 15px;
}
.olMapViewport{
	position: absolute !important;
/*
	top: 88px;
*/
	height: 170px !important;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
    z-index:0;
}
.map-big .olMapViewport{
	height: 498px !important;
    transition: all 1s;
}
.home #popup{
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius:4px;
	width:220px !important;
	-webkit-box-shadow: 0 0 5px rgba(50, 50, 50, 0.35);
	-moz-box-shadow: -0 0 5px rgba(50, 50, 50, 0.35);
    box-shadow: 0 0 5px rgba(50, 50, 50, 0.35);
    height:auto !important;
}
.home .olPopupContent{
	height:auto !important;
}
.home #popup .popupHeading{
	font-size:12px;
	font-weight:bold;
	padding:5px;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}
.popupHeading{
	background: #BCD3F2 url('../images/popup_header_arrow.png') 5px 5px no-repeat;
	padding-left: 24px !important;
}
.popupMoveMe.popupContent{
	height:50px;
}
.home #popup #popup_close{
	display:none;
}
.home #popup .olPopupContent{
	padding:1px;
	padding:0;
}
.home #popup #popup_contentDiv{
	width:232px !important;
}
.home #popup .popupContent{
	font-size:12px;
	padding:5px;
	margin-bottom:0;
}
.home #popup a.btn-itshere{
	margin-left:5px;
	margin-top: 30px;
	display:inline-block;
	background: #FFDB00 url('../images/icon-circle-right-arrow.png') 10px 50% no-repeat;
	padding: 4px 12px 4px 30px;
	font-family: 'Dosis', sans-serif;
	text-transform: uppercase;
	color: #607C9D;
	border:1px solid #607C9D;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	float: right;
	margin-right:13px;
	margin-bottom:1px;
}
.home #popup #btn-streetview{
	display:inline;
	float:none;
	bottom: 1px;
}
.home #popup #btn-streetview a{
	font-size: 11px;
	vertical-align: bottom;
}
.olPopupCloseBox{
	background:url("../images/close_popup_map.png") no-repeat !important;
	top:14px !important;
}
.reports #popup{
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius:4px;
	border:1px solid #607C9D !important;
	width:280px !important;
	height:auto !important;
	color:#222C37 !important;
	-webkit-box-shadow: -1px -1px 5px rgba(50, 50, 50, 0.35);
	-moz-box-shadow:    -1px -1px 5px rgba(50, 50, 50, 0.35);
	box-shadow:         -1px -1px 5px rgba(50, 50, 50, 0.35);
}
.reports #popup h2{
	font-size:17px;
	font-weight:bold;
	background:#BCD3F2;
	padding:0 5px;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	margin:0;
	color:#222C37;
	padding-left:10px;
}
.reports #popup #popup_close{
	/*display:none;*/
}
.reports #popup .olPopupContent{
	padding:1px;
}
.reports #popup #popup_contentDiv{
	width:278px !important;
	height:auto !important;
	color:#222C37;
}
.reports #popup .popupContent{
	font-size:13px;
	padding:5px;
	margin-bottom:0;
	color:#222C37;
}
.reports #popup .iconsPopup li{
	display:inline;
	list-style-type:none;
}
.reports #popup .details-popup{
	padding:10px;
}
.reports .categoryPopup{
	font-size:12px;
}
.reports .popup_adress{
	font-size:13px;
	line-height:12px;
	color:#222C37;
}
.reports #popup a.btn-itshere{
	margin-left:5px;
	margin-top: 30px;
	display:inline-block;
	background: #FFDB00 url('../images/icon-circle-right-arrow.png') 10px 50% no-repeat;
	padding: 4px 12px 4px 30px;
	font-family: 'Dosis', sans-serif;
	text-transform: uppercase;
	color: #607C9D;
	border:1px solid #607C9D;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	float: right;
}
.reports #popup #btn-streetview{
	display:inline;
	float:none;
	bottom: 1px;
}
.reports #popup #btn-streetview a{
	font-size: 11px;
	vertical-align: bottom;
}




#copyright-urbis{
	position: absolute;
	bottom: -2px;
	font-size: 11px;
	background: rgba(255, 255, 255, 0.7);
	padding: 0 5px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	border-top-right-radius: 4px;
    z-index:1;
}
#btn-localizeviamap, #btn-pulldownmap, #btn-streetview {
	position: absolute;
	bottom: -1px;
	background: #FFF;
	padding: 0 5px 0 5px;
    z-index:1;
}
#btn-localizeviamap a, #btn-pulldownmap a, #btn-streetview a{
	font-size: 11px;
	vertical-align: bottom;
}
#btn-localizeviamap a:link, #btn-localizeviamap a:visited, #btn-streetview a:link, #btn-streetview a:visited, #btn-pulldownmap a:link, #btn-pulldownmap a:visited{
	color:#485D78;
	text-decoration: none;
}
#btn-localizeviamap a:hover, #btn-localizeviamap a:active, #btn-localizeviamap a:focus, #btn-streetview a:hover, #btn-streetview a:active, #btn-streetview a:focus, #btn-pulldownmap a:hover, #btn-pulldownmap a:active, #btn-pulldownmap a:focus{
	color:#7090B7;
	text-decoration: none;
}
#btn-localizeviamap, #btn-pulldownmap{
	right: 1px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-bottomright: 4px;
    border-bottom-right-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
    border-top-left-radius: 4px;
}
#btn-localizeviamap i, #btn-streetview i, #btn-pulldownmap i{
	width: 25px;
	height: 25px;
}
#btn-localizeviamap i{
	background: transparent url('../images/icon-localizeviamap.png') center center no-repeat;
}
#btn-streetview i{
	background: transparent url('../images/icon-streetview.png') center center no-repeat;
}
#btn-pulldownmap i{
	background:transparent url('../images/icon-pulldownmap.png') center center no-repeat;
}
#btn-streetview{
    float:right;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-left-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	border-top-left-radius: 4px;
}
.view_incident #btn-streetview{
	right: 119px;
}
.view_incident #btn-streetview, .view_incident #btn-pulldownmap{
	bottom: 1px;
}

.lead-container{
	padding: 5px 15px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px 4px 4px 4px;
	background-color: #607C9D;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.lead-container form{
	margin: 10px 0;
}
.lead-container .instructions{
    margin: 10px 0;
}

@media (max-width: 768px){
	.row-fluid .controls-row [class*="span"],
	.row-fluid .controls-row [class*="span"] + [class*="span"]{
		margin-left: 0;
		margin-bottom: 10px;
	}
}

#layerswitcher{
	left:-1px;
	right:auto;
	bottom:14px;
	top:auto;
	background:#FFF;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 1px -1px 5px rgba(50, 50, 50, 0.35);
	-moz-box-shadow:    1px -1px 5px rgba(50, 50, 50, 0.35);
	box-shadow:         1px -1px 5px rgba(50, 50, 50, 0.35);
}
.olControlLayerSwitcher{
	width:150px !important;
	color:#000 !important;
}
.olControlLayerSwitcher .layersDiv{
	background:#FFF !important;
	padding:0 !important;
    border-radius: 0px 4px 0 0;
}
.olControlLayerSwitcher .layersDiv .dataLayersDiv{
	padding:0 !important;
}
#layerswitcher input{
	float:left;
	margin-right:10px;
	margin-left:10px;
}
#statusToggleCreated, #statusToggleCreated + label{
	margin-top:10px;
}
#layerswitcher input + label{
	vertical-align:middle !important;
	display:inline-block;
}
#layerswitcher .dataLbl{
	margin-left:0 !important;
}
#layerswitcher h3, .dataLbl{
	background: #607C9D;
	color: #FFF;
	border: 0;
    font-size: 1.2em;
    line-height:25px;
    text-align:center;
    margin:0;
}
#layerswitcher input + label img{
	margin-right:5px;
	margin-top: 3px;
	margin-bottom:3px;
}
#layerswitcher h3{
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	border-top-right-radius: 4px;
}
.reports #search-address-form{
	margin-top:10px;
}
#map #widget-search-ticket-button{
	background:transparent url('../images/btn_search_tickets_header.png') top left no-repeat;
	border:0;
	width:35px;
	height:33px;
	margin-left: -26px;
	margin-top: 2px;
}
.dataLayersDiv{
	margin-top:10px;
}
#layerswitcher .layersDiv:first-child .dataLayersDiv{
	margin-top:0;
}
#search-form #input-ticket-search{
	margin-right: -13px;
}
#search-form #search-ticket-form{
	margin-left:10px;
}
.instructions .steps{
	margin: 0;
}
.instructions ol li{
	float: left;
	list-style-type: none;
	font-family: 'Dosis', sans-serif;
	text-transform: uppercase;
	padding: 0 0 0 30px;
	height: 22px;
	width: 33.33%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	line-height: 24px;
}
.instructions ol li:first-child{
	margin: 0;
}
.instructions ol .stepOne.on{
	background: transparent url('../images/stepOne_on.png') top left no-repeat;
	color: #FFF;
}
.instructions ol .stepOne.off{
	background: transparent url('../images/stepOne_off.png') top left no-repeat;
	color: #BCD4F1;
}
.instructions ol .stepTwo.on{
	background: transparent url('../images/stepTwo_on.png') top left no-repeat;
	color: #FFF;
}
.instructions ol .stepTwo.off{
	background: transparent url('../images/stepTwo_off.png') top left no-repeat;
	color: #BCD4F1;
}
.instructions ol .stepThree.on{
	background: transparent url('../images/stepThree_on.png') top left no-repeat;
	color: #FFF;
}
.instructions ol .stepThree.off{
	background: transparent url('../images/stepThree_off.png') top left no-repeat;
	color: #BCD4F1;
}
.icon-danger{
	background: transparent url('../images/icon-danger.png') top left no-repeat;
	width: 15px;
	height: 15px;
    margin-right: 10px;
}
.icon-danger-red{
	background: transparent url('../images/icon-danger-red.png') top left no-repeat;
	width: 25px;
	height: 25px;
	margin-right: 5px;
	vertical-align: bottom;
}
#danger-risk{
	float: right;
	margin: -4px 10px 0 0;
	color: #FFF;
}
/*#danger-risk a:link, #danger-risk a:visited{
	color: #FFDB00;
	text-decoration: none;
}
#danger-risk a:hover, #danger-risk a:active, #danger-risk a:focus{
	color: #FFDB00;
	text-decoration: none;
}*/
#widget-search-button{
	background: #FFDB00 url('../images/icon-circle-right-arrow.png') 10px 50% no-repeat;
	padding: 4px 12px 4px 30px;
	font-family: 'Dosis', sans-serif;
	text-transform: uppercase;
	color: #607C9D;
}
#recent-reports{
	margin-top:30px;
}
/*
.nav-tabs>li{
	width:170px;
	margin-right:30px;
}
.nav-tabs>li.search-ticket{
	width:auto;
	float: right;
	margin-right:-5px;
}
.nav-tabs>li>a{
	border:1px solid #5F7C9C;
	border-bottom:0;
	font-family:'Dosis', sans-serif;
	font-size:14px;
	text-transform:uppercase;
	padding:4px 2px;
	text-align:center;
	color:#607C9D;
}
.nav-tabs>li>a:hover{
	border-color:#5F7C9C;
	background:#D2E2F6;
	color:#607C9D;
}
.nav-tabs>.active>a{
	background:#BCD3F2;
	border:1px solid #5F7C9C;
	border-bottom:0;
	color:#495E77;
}
*/
.nav-tabs{
	margin-bottom:0;
	border-bottom:0;
}
.nav-tabs>li>a{
	border:1px solid #5F7C9C;
	border-bottom:0;
	font-family:'Dosis', sans-serif;
	font-size:14px;
	text-transform:uppercase;
	padding:4px 20px;
	text-align:center;
	color:#607C9D;
}
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > li > a:hover,
.nav-tabs > .active > a:focus {
	background:#BCD3F2;
	border:1px solid #5F7C9C;
	border-bottom:0;
	color:#495E77;
}
.last_reports {
	line-height: 50px;
}
.last_reports .brand {
	vertical-align: bottom;
	display: inline-block;
	line-height: 17px;
	/*max-width:180px;*/
	font-size: 14px;
	text-transform: uppercase;
	color:#607C9D;
	margin: 0;
	padding: 5px 10px;
}
@media (max-width: 1200px) {
	.last_reports {
		line-height: 17px;
	}
	.last_reports + li {
		clear: both;
	}
	.nav-tabs > li:not(.last_reports){
		width: 30%;
		margin-left: 1.6666%;
		margin-right: 1.6666%;
	}
	.nav-tabs > li > a{
		margin: 0;
	}
}
.num_reports{
	font-size: 19px;
}
#search_results{
	background:#BCD3F2;
}
.report{
	background:#FFF;
	/*width:240px;*/
	min-height:230px;
	padding:0 10px 10px 10px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
/*.report:first-child .span3{
	margin-left:50px;
}
*/
.tab-pane{
    padding: 20px;
	border:1px solid #5F7C9C;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
#search-ticket-form {
	margin: 5px 0 5px 0;
}
#widget-search-ticket-button{
	background:transparent url('../images/btn_search_tickets.png') top left no-repeat;
	border:0;
	width:35px;
	height:33px;
}
#input-ticket-search{
	height: 23px;
	margin-right: -13px;
}
.tab-pane .thumbnail{
	width: auto;
	height:80px;
	margin: 12px auto;
}
.tab-pane .ticket_number{
	color:#7090B7;
	font-size:12px;
}
.tab-pane .ticket_address{
	color:#495E77;
	font-weight:bold;
}
.tab-pane .ticket_desc{
	color:#495E77;
	font-size:12px;
}
/* ==========================
   VERIFY
   ========================== */
/*h2.verify_title, .switch_verify{
	margin:30px 0 0 0 !important;
}
.switch_verify{
	margin-bottom:30px;
}
*/
.verify_list{
	height:auto;
	margin: 30px 0 30px 0;
}
h2.verify_title{
	background:transparent url('../images/icon-info.png') 0 50% no-repeat;
	font-family: 'Dosis', sans-serif;
	text-transform: uppercase;
	font-size:15px;
	padding:3px 0 0 20px;
	color:#495E77;
	margin: 0;
	line-height: 22px;
}
.lead{
	font-size:13px;
	margin:0;
	color:#7090B7;
}
.switch_verify .btn{
	background:#E0E0E0;
	box-shadow:none;
	text-shadow:none;
	color:#495E77;
	padding-left:30px;
}
.switch_verify .btn:hover, .switch_verify .btn:active, .switch_verify .btn:focus{
	background:#CCCBCB;
	color:#495E77;
}
.switch_verify .btn.active{
	background:#607C9D;
	color:#FFF;
}
.switch_verify .btn.active:hover, .switch_verify .btn.active:active, .switch_verify .btn.active:focus{
	background:#7090B7;
	color:#FFF;
}
.switch_verify #btn-list, .switch_verify #tableSwitch{
	background:#E0E0E0 url('../images/switch_list.png') 5px 1px no-repeat;
}
.switch_verify #btn-list.active, .switch_verify #tableSwitch.active{
	background:#607C9D url('../images/switch_list_active.png') 5px 1px no-repeat;
}
.switch_verify #btn-map{
	background:#E0E0E0 url('../images/switch_map.png') 5px 3px no-repeat;
}
.switch_verify #btn-map.active{
	background:#607C9D url('../images/switch_map_active.png') 5px 3px no-repeat;
}
#list{
	background:#BCD3F2;
	border:1px solid #5F7C9C;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
#list .one_incident{
	background:#FFF;
	margin:0 20px 20px 20px;
	/*padding:20px;*/
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
#list .row:first-child .span12 .one_incident{
	margin-top:20px;
}
#list .one_incident .distance{
	width:65px;
	background:#7090B7;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	color:#FFF;
	text-align:center;
	line-height: 18px;
	font-size: 13px;
}
#list .thumbnail{
	width: auto;
	height:80px;
	margin: 12px auto;
}
#list .ticket_number{
	color:#7090B7;
	font-size:12px;
}
#list .ticket_address{
	color:#495E77;
	font-weight:bold;
}
#list .ticket_desc{
	color:#495E77;
	font-size:12px;
}
#list .span4.loc_desc {
	width: 360px;
	padding:0 0 10px 10px;
}
#list .span4.picture {
	width: 330px;
}
.btn_same_incident{
	padding: 4px 12px 4px 30px;
	font-family: 'Dosis', sans-serif;
	text-transform: uppercase;
	font-size:14px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-top:10px;
	display:inline-block;
}
.btn_same_incident:link, .btn_same_incident:visited{
	background:#607C9D url('../images/btn_same_incident.png') 10px 50% no-repeat;
	text-decoration:none;
	color:#FFF;
}
.btn_same_incident:hover, .btn_same_incident:active, .btn_same_incident:focus{
	background:#7090B7 url('../images/btn_same_incident.png') 10px 50% no-repeat;
	text-decoration:none;
	color:#FFF;
}
.btn_continue{
	padding: 4px 12px 4px 30px;
	font-family: 'Dosis', sans-serif;
	text-transform: uppercase;
	color:#607C9D;
	font-size:14px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-top:10px;
	display:inline-block;
	border:1px solid #607C9D;
}
.btn_continue:link, .btn_continue:visited{
	background:#FFDB00 url('../images/icon-circle-right-arrow.png') 10px 50% no-repeat;
	text-decoration:none;
}
.btn_continue:hover, .btn_continue:active, .btn_continue:focus{
	background:#FFDB00 url('../images/icon-circle-right-arrow.png') 10px 50% no-repeat;
	text-decoration:none;
}
.txt_continue{
	font-size:12px;
	color:#607C9D;
	vertical-align:middle;
	padding: 15px 15px 0 0;
}
form#report-form{
	background:#BCD3F2;
	border: 1px solid #5F7C9C;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding:5px 0;
	/*min-height: 370px;*/
}
#required-note, .info_end_form{
	font-size: 11px;
	margin-left:180px;
}
.prevStep{
	position:absolute;
	margin-top:14px;
}
#previousStep{
	position: relative;
	margin-top: 15px;
	margin-bottom: 20px;
	background:#7090B7;
	border-radius: 4px;
	min-width: 100px;
	border: 1px solid black;
	padding: 4px 12px;
	color:#FFF;
	padding: 4px 12px 4px 12px;
	font-family: 'Dosis', sans-serif;
	text-transform: uppercase;
}
#report-form .btn{
	padding: 4px 12px 4px 12px;
	font-family: 'Dosis', sans-serif;
	text-transform: uppercase;
	color: #607C9D;
}
#report-form #validate_button{
	background:#FFDB00 url('../images/icon-circle-right-arrow.png') 10px 50% no-repeat;
	padding: 4px 12px 4px 30px;
	font-family: 'Dosis', sans-serif;
	text-transform: uppercase;
	color: #607C9D;
}

/* ==========================
   SHOW REPORT
   ========================== */
#map.view_incident{
	height:210px;
}
#map.view_incident .olMapViewport{
	height:107px !important;
}
#incident-head{
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 10px;
	background:#607C9D;
}
.lk-download-pdf, .lk-subscribe, .lk-isresolved{
	width:80px;
	height:80px;
	display:inline-block;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: #FFDB00;
	float:right;
	font-family:'Dosis', sans-serif;
	font-size:11px;
	text-transform:uppercase;
	text-align:center;
	letter-spacing: -0.3px;
	color:#607C9D;
	padding:0;
	border:0;
}
.lk-subscribe .badge{
	top: -6px;
	float: right;
	border-radius: 50%;
	padding: 4px 8px;
	right: -6px;
	background:#607C9D;
	border: 2px solid #FFDB00;
	color:#FFDB00;
}
.lk-download-pdf:link, .lk-download-pdf:visited, .lk-download-pdf:hover, .lk-download-pdf:active, .lk-download-pdf:focus,
.lk-subscribe:link, .lk-subscribe:visited, .lk-subscribe:hover, .lk-subscribe:active, .lk-subscribe:focus,
.lk-isresolved:link, .lk-isresolved:visited, .lk-isresolved:hover, .lk-isresolved:active, .lk-isresolved:focus{
	background: #FFDB00;
}
.download-pdf{
	background: #FFDB00 url('../images/icon-downloadpdf.png') top left no-repeat;
}
.subscribe{
	background:#FFDB00 url('../images/icon-subscribe.png') top left no-repeat;
}
.isresolved{
	background:#FFDB00 url('../images/icon-isresolved.png') top left no-repeat;
}
.modal form{
	margin:0;
}
.modal .modal-header{
	background:#607C9D;
	color:#FFDB00;
}
.modal .modal-body{
	color:#607C9D;
}
.modal .close, .modal .close:link, .modal .close:visited, .modal .close:hover, .modal .close:active, .modal .close:focus{
	color:#FFDB00 !important;
	opacity:1;
}
/*#modalSubscription .modal-footer{
    background:#FFF;
    border:0;
	text-align: center;
	padding: 0 15px 15px 15px;
}*/
.modal #subscribe-incident-show-report{
	background: #FFDB00;
	padding: 4px 12px 4px 14px;
	font-family: 'Dosis', sans-serif;
	text-transform: uppercase;
	color: #607C9D;
	vertical-align: top;
	border:1px solid #607C9D;
}
.modal #id_mark_as_done_motivation{
	width: 98%;
}
.modal #createNewReport{
	float:left;
}
.modal #createNewReport + label{
	vertical-align: middle;
	display: inline;
	margin-left: 10px;
}
.download-pdf, .subscribe, .isresolved{
	width: 49px;
	display: block;
	height: 49px;
	margin: 8px auto 0 auto;
}
#incident-head .ticket_number{
	color:#D2E2F6;
	font-size:12px;
}
#incident-head .ticket_address{
	color:#FFF;
	font-weight:bold;
}
#incident-head .ticket_desc{
	color:#FFF;
	font-size:12px;
}
/* ---
   Timeline
   ---- */
.timeline-container{
	position:relative;
	margin-top:5px;
}
.margin{
	position: absolute;
	background:#7090B7;
	/*left:58.55%; Try with bootstrap spans */
	left:59.5%;
	width:2px;
	margin-left:-1px; /* make it center */
	z-index:1000;
	top:50px;
	bottom:30px;	/* margin-bottom space used by li element */
}

.timeline-container{
	/*width: 1150px;*/ /* total width and plus 20px for triangles */
	position: relative;
	overflow: hidden;
	padding: 10px;
	background:#BCD4F1;
	margin: 25px 0 0 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding-top: 16px;
	border:1px solid #5F7C9C;
}
.timeline{
	margin-top: 50px;
	list-style:none;
}
.timeline > li.left{
	width: 57.4468%;
}
.timeline > li.right{
	width:40.4255%;
}
.timeline > li{
	background:#FFF;
	position: relative; /* important to hold the absolute element triangles */
	margin:0px 0px 10px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.timeline > li div{
	line-height:0;
}
.timeline > li div.picture-head, .timeline > li div.comment-head{
	line-height:22px;
}

.timeline > li:before{
	border:7px solid;
	content:'';
	display: block;
	position: absolute;
}
/*.timeline > li:nth-child(even){
	float:right;
	clear:right;
}
.timeline > li:nth-child(odd){
	float:left;
	clear:left;
}*/
.timeline .right{
	float:right;
	clear:right;
}
.timeline > .left{
	float:left;
	clear:left;
}
.timeline .right:before{
	border-color:transparent #7090B7 transparent transparent;
	right:100%;
	top:10px;
}
.timeline > .left:before{
	border-color:transparent transparent transparent #7090B7;
	left:100%;
	top:10px;
}
.timeline > li:first-child + li{
	margin-top:20px;
}
.timeline > li{
	margin-bottom:20px;
}
.timeline > li.right + li.right + li{
	clear:both;
}
.timeline > li.left + li.right + li{
	clear:both;
}
.timeline > li.left + li.right + li.left + li.right{
	margin-top:20px;
}
/*
.timeline > li:nth-child(even):before{
	border-color:#fff #e2e2e2 #fff #fff;
	right:100%;
	top:10px;
}
.timeline > li:nth-child(odd):before{
	border-color:#fff #fff #fff #e2e2e2;
	left:100%;
	top:10px;
}
*/
.timeline > li p{
	margin:10px 0px;
	line-height:1.8em;
}
.picture-head, .comment-head{
	background:#7090B7;
	/*height:30px;*/
	color:#FFF;
	padding:7px 10px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.picture-head{
	margin-bottom:10px;
}
.lk_picture{
	display: inline-block;
	text-align: center;
	width: 97%;
}
/*
#modal-img{
	width:800px;
	height:auto;
	margin-left:-390px;
	text-align: center;
}
#modal-img .modal-body{
	max-height:550px;
	padding: 15px 6px 15px 15px;
}
#modal-img img{
	width:100%;
}
#modal-img .close{
	margin-top: -9px;
}*/
#lightbox .lb-image{
	max-width:none;
}
.comment-incident{
	font-size:12px;
	line-height: 16px !important;
	font-style: italic;
	padding: 10px;
	color:#607C9D;
	text-align:justify;
}
.comment-deco{
	float:left;
	margin:0 10px 0 0;
}
.picture-caption{
	padding:10px;
}
.picture-caption img{
	max-width:97%;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.add_info{
	background:#5F7C9C;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	text-align: center;
	/*padding: 10px;*/
	color:#FFF;
	font-family:'Dosis', sans-serif;
	font-size:13px;
	text-transform:uppercase;
	display:inline-block;
	left: 51.5%;
	position: absolute;
	z-index: 1001;
	top:15px;
}
.add_info a:link, .add_info a:visited, .add_info a:hover, .add_info a:active, .add_info a:focus{
	color:#FFF;
}
/*.add_info a img{
	margin:5px 5px 5px 10px;
}
.add_info a:first-child img{
	margin:5px 10px 5px 5px;
}*/
.add_info a img{
	margin:5px 10px;
}
/* ==========
   NEW REPORT
   ========== */
#address-text{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-family: 'Dosis',sans-serif;
    margin: 0px 1em;
}
label{
	font-size:11px;
	line-height:15px;
}
label strong{
	font-size:15px;
}
#id_report-secondary_category{
	width:61%;
}
.control-group .thumbnail{
	max-height: 100px;
	max-width:200px;
	margin-left: 20px;
	display: inline-block;
}
#file-form-template input[type=file]{
	position: absolute;
	display: block;
	width: 140px;
	z-index: 10;
	opacity: 0;
	top: 0;
	left: 5px;
	/*font-size: 500px;*/
	cursor: pointer;
}
.file-upload-btn input[type=file]{
	display:none;
}
.file-upload-btn input#id_files-__prefix__-file{
	display:block;
}
.removeThumbnail{
	margin-top: -45px;
}
#form-files .file-upload-btn{
	display:none;
}
#file-form-template .file-upload-btn{
	display:inline-block;
}
#file-form-template .thumbnail, #file-form-template textarea{
	display:none;
}
#form-files textarea{
	margin-top: 78px;
	margin-left: -18px;
	width:750px;
}
#report-form .btn {
	position:relative;
	margin-top: 15px;
	margin-bottom: 20px;
	/*background: #FFF203;*/
	background: #FFDB00;
	border-radius: 4px;
	min-width: 100px;
	border: 1px solid black;
}
#form-files .control-group + .control-group .btn{
	margin-left:20px;
}
#form-files .control-group + .control-group{
	margin-left:160px;
}
.fullsize_field{
	width:98%;
}
#coordonnees ul li{
	display:inline;
	float:left;
	margin-left:30px;
}
#coordonnees ul li:first-child{
	margin-left:0;
}
#coordonnees ul{
	margin:0;
}
#coordonnees label{
	font-size:13px;
}
#coordonnees ul li input{
	vertical-align:bottom;
}
/* Input form not valid */
.required.invalid input, .required.invalid textarea {
    background-color: #FFDDDD;
}
.required.invalid input, .required.invalid select, .required.invalid textarea {
    border: 2px solid #FF0000 !important;
}
.form-signin{
	max-width: 300px;
	padding: 19px 29px 29px;
	margin:30px auto 30px auto;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	/*-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px rgba(0,0,0,.05);*/
	background:#BCD3F2;
	border:1px solid #5F7C9C;
}
.form-signin h1{
	font-family: 'Dosis', sans-serif;
	text-transform: uppercase;
	color:#495E77;
	font-size:20px;
}
.form-signin input{
	border:1px solid #5F7C9C;
}
.login-btns{
	width:130px;
	margin-left:auto;
	margin-right:auto;
}
.form-signin .btn-login{
	background: #FFDB00 url('../images/icon-btn-login.png') 10px 50% no-repeat;
	padding: 7px 12px 4px 30px;
	font-family: 'Dosis', sans-serif;
	text-transform: uppercase;
	color: #607C9D;
	width:130px;
}
.foroget-pwd{
	font-size:11px;
	color:#5F7C9C;
}
.login-btns p{
	text-align:center;
}
.loading {
	opacity: 0.5;
	pointer-events: none;
}
.changeStatus{
	float:right;
	margin-top: 4px;
}
.changeStatus .btn, .changeReportStatus .btn{
	filter: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border:0;
	color:#FFF;
	padding:4px;
	text-shadow:none;
}
.changeStatus .btn.public, .changeStatus.open .btn.public, .changeReportStatus .btn.public, .changeReportStatus.open .btn.public{
	background:#51C464;
}
.displayStatus{
	border:0;
	color:#FFF;
	padding:4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.displayStatus.private{
	background:#FFA800;
}
.displayStatus.public{
	background:#51C464;
}
.changeStatus .btn.private, .changeStatus.open .btn.private, .changeReportStatus .btn.private, .changeReportStatus.open .btn.private{
	background:#FFA800;
}
.changeStatus .btn.confidential, .changeStatus.open .btn.confidential, .changeReportStatus .btn.confidential, .changeReportStatus.open .btn.confidential{
	background:#FC4C4C;
}
.changeStatus .dropdown-menu label input, .changeReportStatus .dropdown-menu label input{
	display:none;
}
.changeStatus .dropdown-menu label, .changeReportStatus .dropdown-menu label{
	color:#607C9D;
	font-weight:bold;
	font-size:12px;
	padding: 5px 10px;
	margin-bottom:0;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}
.changeStatus .dropdown-menu label.makePublic:hover, .changeReportStatus .dropdown-menu label.makePublic:hover{
	background:#51C464;
	color:#FFF;
}
.changeStatus .dropdown-menu label.makePrivate:hover, .changeReportStatus .dropdown-menu label.makePrivate:hover{
	background:#FFA800;
	color:#FFF;
}
.changeStatus .dropdown-menu label.makeConfidential:hover, .changeReportStatus .dropdown-menu label.makeConfidential:hover{
	background:#FC4C4C;
	color:#FFF;
}
.changeStatus ul.dropdown-menu, .changeReportStatus ul.dropdown-menu{
	background:#E0E0E0;
	min-width:0;
	margin-top: -1px;
}
.changeStatus.btn-group>.btn, .changeStatus.btn-group>.dropdown-menu, .changeStatus.btn-group>.popover, .changeReportStatus.btn-group>.btn, .changeReportStatus.btn-group>.dropdown-menu, .changeReportStatus.btn-group>.popover{
	font-size: 12px;
	font-weight: bold;
}
.changeStatus .caret, .changeReportStatus .caret{
	border-top: 4px solid #FFF;
	margin-left:5px;
}
.incidentActions .dropdown-submenu>.dropdown-menu{
	margin-top:0;
}
.incidentActions > a:link, .incidentActions > a:visited, .incidentActions.btn-group.open .btn.dropdown-toggle{
	background:#BCD4F1;
}
.incidentActions .dropdown-menu>li>a:hover, .incidentActions .dropdown-menu>li>a:focus, .incidentActions .dropdown-submenu:hover>a, .incidentActions .dropdown-submenu:focus>a{
	background:#9AB7DA;
}
.incidentActions .dropdown-menu>.active>a, .incidentActions .dropdown-menu>.active>a:hover, .incidentActions .dropdown-menu>.active>a:focus{
	background:#7090B7;
}
.incidentActions, .incidentActions .dropdown-menu>li>a{
	white-space:normal;
}
.incidentActions > .dropdown-menu{
	right:auto;
	left:0;
}
#main_cat_select, #sec_cat_select{
	float:left;
	font-size:12px;
	height:25px;
}
#main_cat_select{
	width:180px;
}
#sec_cat_select{
	margin-left:5px;
}
.priorityLevel{
	height:18px;
	display:block;
	clear:both;
}
#modalTable .modal-body{
	/*height: 650px;*/
	max-height:650px;
	min-height:445px;
}
#searchContainer.mergeIncident{
	margin-top:30px;
	padding:0;
}
.one_incident.master{
	/*background:#606C9D;*/
}
.one_incident.master .distance{
	background: #BCD3F2;
	color: #222C37;
	width:135px;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	text-align: center;
	line-height: 18px;
	font-size: 13px;
	margin-top: 1px;
}
.one_incident.master .ticket_address{
	color:#FFF;
	font-weight: bold;
}
.one_incident.master .span4.loc_desc{
	width: 325px;
	padding: 0 0 10px 35px;
}
.one_incident.master .ticket_number{
	color:#BCD4F1;
	font-size: 12px;
}
.one_incident.master .ticket_desc{
	font-size: 12px;
	color:#FFF;
}
.one_incident.master .comment-incident{
	color:#FFF;
}
.one_incident.master .thumbnail{
	width: auto;
	height: 80px;
	margin: 12px auto;
}
#search-form.mergeIncident{
	margin: 22px 0 0 0 !important;
	float: right;
}
.mergeIncident #widget-search-ticket-button {
	background: transparent url('../images/btn_search_tickets.png') top left no-repeat;
}
#search-form.mergeIncident #input-ticket-search{
	height: 23px;
	margin-right: -13px;
}
.mergeIncident #widget-search-ticket-button{
	margin-top:1px;
}
#map.view_incident.show_report.pro{
	height:150px;
}