


-
/********* STYLE *********/

h1, h2, h3, h4, h5, p, span {
/*    font-family: dosisbold, Arial, sans-serif !important;
*/}

h1, h2, h3, h4, h5, p {
    color: #4D4D4D;
}

h1 {
    margin-bottom: 42px;
}

a {
    color:#949499;
    text-decoration: none;
}

a:hover, a:focus {
    color: #666;
    text-decoration: none;
}

.block {
    /*box-shadow: 10px 10px 5px #CCC;*/
    border-radius: 10px;
    border: #FFF solid 2px;
    padding: 3px 10px;
    background-color: #FFF;
    /*border: #FFF203 solid 2px;*/
    border:#FFDB00 solid 2px;
    opacity:0.95;
    height:200px;
}
.block h2 {
    line-height: 20px;
    font-size: 18px;
}

.block.highlighted {
    /*background-color: #FFF203;*/
    background-color:#FFDB00;
    border: #FFF solid 2px;
    opacity:0.95;
    height:auto;
}

.lead{
    margin-bottom:18px;
}
#ticket-div-section .lead{
    margin-top:30px;
}

/********* HEADER LAYOUT ********/

header {
    position:relative;
    height: 150px;
    width: auto;
    background-color: #FFF;
}

#banner {
    display: block;
    position: absolute;
    top:0;
}

#login {
    /*height: 16px;*/
    height:40px;
    width: auto;
    padding: 14px 20px;
    position: relative;
    float: right;
    margin-top: 10px;
}

.icon-login {
    position: relative;
    top: -14px;
    width: 35px;
    height:30px;
    background: url(../images/login.png) top left no-repeat;
}

#login:hover .icon-login, #login:focus .icon-login {
    background: url(../images/login.png) bottom left no-repeat;
}

.icon-ok-big,
.icon-nok-big {
    width: 54px;
    height: 54px;
}

.icon-ok-big {
    background: url(../images/icon-ok.png) bottom left no-repeat;
}

.icon-nok-big {
    background: url(../images/icon-nok.png) bottom left no-repeat;
}

.message p.lead {
    line-height: 54px;
}

.message strong,
.message [class^="icon-"],
.message [class*=" icon-"] {
    vertical-align: middle;
}

header .lang {
    background:#949499;
    font-family:'dosismedium', Arial, sans-serif;
    font-size: 120%;
    color: #FFF;
    height: auto;
    width: 40px;
    position: relative;
    float: right;
    text-align: center;
    padding: 18px 2px 0;
    margin: 0 5px;
}

header .lang.selected, header .lang:hover, header .lang:focus {
    /*background: #FFF203;*/
    background-color:#FFDB00;
    color:#949499;
}

header nav {
    position: relative;
    top: 24%;
    float: right;
    font-family:'dosismedium', Arial, sans-serif;
    font-size: 140%;
    clear: both;
    margin-top:-24px;
}

header nav ul {
    padding:0;
    margin: 0;
    list-style-type:none;
}

header nav a {
    padding:0.2em 0.7em;
    margin-left: 10px;
    border: transparent solid 2px;

}


header nav a:hover, header nav a:focus,
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
    color: #666;
    /*border: #FFF203 solid 2px;*/
    border:#FFDB00 solid 2px;
    border-radius: 10px;
    background-color: transparent;
    background-image: none;
    filter: none;
}

header nav li {
    display:inline;
}

header nav li a.active,
.dropdown-menu > a.active {
    color: #666;
    /*border: #FFF203 solid 2px;*/
    border:#FFDB00 solid 2px;
    border-radius: 10px;
}

#incident_filter ul{
    margin-left:0;
}

#incident_filter li{
    display: inline;
    margin-left: 0px;
}

#incident_filter li:hover span,
#incident_filter li.active span,
#user_type_filter li:hover span,
#user_type_filter li.active span {
    border-bottom: #FFDB00 solid 2px;
}


/********* FOOTER LAYOUT ********/

footer{
    height: 110px;
    vertical-align: bottom;
    margin-top:25px;
}
footer *{
    /*vertical-align: bottom;*/
    color: #949499;
}


.footer_right, .footer_left, .footer_center {
    padding-top:35px;
    padding-bottom:5px;
    vertical-align:bottom;
    line-height: 95px;
}


div.footer_left img {
    margin-right:10px;
    vertical-align:baseline;
}

.footer_left a:link, .footer_left a:visited {
    /*color:#0A00BE;*/
    font-size:12px;
    font-weight:bold;
    text-decoration:none;
}

.footer_left a:active, .footer_left a:focus, .footer_left a:hover {
    /*color:#0A00BE;*/
    font-size:12px;
    font-weight:bold;
    text-decoration:underline;
}

.footer_left {
    float: left;
}
.footer_right {
    float:right;
}

.footer_center {
    text-align: center;
}

#legal-notice {
    padding-top:15px;
}


/********* CONTENT LAYOUT ********/

#baseline {
    /*color: #949499;*/
    color:#333;
    /*background-color: #FFF203;*/
    background:#FFDB00;
    /*font-size: 18px;*/
    font-size:21px;
    margin:0;
    padding: 4px 28px;
}

#baseline small {
    font-size: 14px;
    color:#333;
}

#content {
    min-height: 350px;
    /*width: 100%;*/
    /*padding: 10px 0;*/
}

#page_content_container {
    /*padding-left: 20px;
    padding-right: 20px;*/
    font-family: dosisbold, Arial, sans-serif;
    display: table;
    width: 100%;
}
.nav-tabs > li > a{
    border-width:2px;
}
.nav-tabs > li > a:hover{
    border-width:2px;
    background:#949499;
    border-color:#949499;
    color:#FFF;
}

#map {
    position: relative;
    height: 300px;
}
#map:before {
    position: absolute;
    display: block;
    z-index: 10;
    content: " ";
    width: 100%;
    height: 100%;
    box-shadow: inset 0px 20px 20px -20px #000, inset 0px -20px 20px -20px #000;
    pointer-events: none;
}

#map img {
    /* overwride twitter bootstrap */
    max-width: none;
}

#map-center-icon {
    display: block;
    margin: 1px;
    padding: 0;
    color: white;
    font-size: 18px;
    font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    height: 22px;
    width: 22px;
    line-height: 19px;
     background: rgba(0, 60, 136, 0.5)  url('/static/images/center.png') center center  no-repeat;
    filter: alpha(opacity=80);
    position: absolute;
    top: 60px;
    left: 8px;
    border-radius: 4px;
    padding: 2px;
    z-index: 1004;
}

#copyright-urbis {
    position: absolute;
    z-index: 1000;
    bottom: -5px;
    left: 3px;
    color: #aaa;
    font-style: italic;
    text-decoration: none;
    font-size: 70%;
}

.olMapViewport *:first-child {
    /*z-index: -1 !important;*/
}

.error-msg {
    color:red;
}

.errorlist {
    width:100%;
    color: red;
    font-size: .8em;
}

.messages .msg {
    font-size: 1.5em;
}
.messages .success {
    color:green;
}
.messages .error {
    color:green;
}


#counters {
    margin: 0 10px;
    text-align: right;
}
#statistics{
    margin:0 10px;
    float:right;
}

.pro-counter {
    background-color: #949499;
    border:#949499 2px solid;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    height: 150px;
    /*width: 120px;*/
    width:117px;
    text-align: center;
    padding-top:0;
    /*display: inline-block;*/
    display:block;
    float:left;
    margin-left:10px;
}

.counter {
    background-color: #949499;
    border:#949499 2px solid;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    height: 130px;
    /*width: 120px;*/
    width:117px;
    text-align: center;
    padding-top:0;
    display: inline-block;
    margin-left:10px;
    vertical-align: top;
}
.counter:first-child{
    margin-left:6px;
}

.counter .lead {
    font-size: 275%;
    /*color: #FFF203;*/
    color: #FFDB00;
    padding-top: 0;
    margin: 10px 0;
}
.counter .text{
    color:#FFDB00;
    font-size:17px;
    display:block;
}
.pro-counter .text{
    color:#FFDB00;
    font-size:20px;
    display:block;
}
.counter .qualifier{
    color:#FFF;
    font-size:11px;
}

.pro-counter .qualifier{
    color:#FFF;
    font-size:11px;
}



#instructions, #search-form {
    position: absolute;
    top: 10%;
    z-index: 1040;
}
div.olControlZoom {
    z-index:1035 !important;
}


#layerSwitcher {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.form-search {
    margin-bottom: 15px;
}

#instructions ul li {
    list-style: decimal;
}

#instructions {
    width: 300px;
    /*left: 200px;*/
    left:70px;
}

#search-form {
    width: 635px;
    /*left: 700px;*/
    /*left:585px;*/
    left:445px;
    min-height: 200px;
}

#search-form select#input-ward{
    width:183px;
}

#search-form input#input-search{
    width:327px;
}


/*********** FORMS ***********/

.required label {
    font-weight: bold;
}

.required label::before {
    content: "*";
}


.required.invalid input, .required.invalid select, .required.invalid textarea {
    border: 2px solid red !important;
}

.required.invalid input, .required.invalid textarea {
    background-color: #FDD;
}

.required.invalid input[type=checkbox] {
    outline-color: red;
    outline-style: solid;
    outline-width: 2px;
}

form.required-invalid .required-msg {
    color:red;
}


#leftcol {
	display:inline-block;
	vertical-align:top;
	width: 66%;
	padding-right: 10px;
}

#rightcol {
	margin-left:1em;
	display:inline-block;
	padding-left:10px;
	vertical-align:top;
	width: 30%;
}

/*#content h1 {
	font-size: 1.5em;
	font-weight: normal;
    color: #004990;
    padding-bottom: 10px;
    margin-bottom: 8px;
    margin-left:20px;
}

#content h2 {
	font-size: 1.8em;
	font-weight: bold;
	margin: 20px 0 0 16px;
    color: #517EB5;
}

#content h3 {
	font-weight: normal;
	margin: 2px 0 7px 0;
}

#content h4 {
	font-weight: bold;
	margin: 4px 0 7px 0;
	text-align:left;
}*/

th {
	font-weight: bold;
	font-size: 80%;
}

a img{
    vertical-align: baseline;
}

li img {
    vertical-align: middle;
}



/*.form-horizontal textarea {
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
*/
#required-note {
    font-weight: bold;
    font-size: x-small;
    margin-left: 40px;
}


#form-files .file-upload-btn {
    display: none;
}

#form-files .thumbnail {
    max-width: 100px;
    display: inline-block;
}

#form-files textarea {
    margin-left: 10px;
    width: auto;
    max-height: 110px;
}


#file-form-template .thumbnail,
#file-form-template textarea {
    display: none;
}

#file-form-template .file-upload-btn {
    display: inline-block;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

#file-form-template input[type=file] {
    position: absolute;
    display: block;
    width: 200px;
    z-index: 10;
    opacity: 0;
    top: 0;
    left: 5px;
    font-size: 500px;
    cursor: pointer;
}



.form-centered, .box-centered {
    max-width: 700px;
    border: 1px solid #DFDFDF;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0px 0px 3px 3px #DFDFDF;
    margin: 30px auto 10px;
    overflow: hidden;
}

.report-step-number {
    display: block;
    position: absolute;
    left: -10px;
    top: -10px;
    height: 32px;
    width: 32px;
    color: #333;
    background: #FFDB00;
    text-align: center;
    vertical-align: middle;
    line-height: 32px;
    z-index: 3;
}

.form-horizontal .control-label {
    text-align: left;
}

.form-horizontal .controls {
    margin-left: 180px;
}
*+html .form_horizontal .controls{
    display:inline;
}

.form-horizontal .control-group{
    float: left;
    width: 100%;
}

.form-horizontal .help-block {
    font-size: small;
    margin-top: 10px;
    font-family: dosis-medium, arial, sans-serif;
}

.form-horizontal .control-group p,
.form-horizontal .control-group [data-toggle="popover"],
.file-upload-button [data-toggle="popover"] {
    padding-top: 5px;
}


.warning_information_form {
    padding: 15px;
    margin-bottom: 40px;
}

.form-horizontal fieldset legend{
    border-bottom: none;
    margin-bottom: 0px;
}

.file-upload-button {
    /*margin-left: 20px;*/
}

.file-upload-button a img{
    /*margin-left: 20px;*/
}

#view_nearby_reports{
    margin-top: 20px;
    margin-bottom: 20px;
}
#view_nearby_reports a{
    margin-left:20px;
}
#create_form_left span#address-text{
    margin-top:5px;
    display:inline-block;
}

#report-form .btn{
    margin-top: 15px;
    margin-bottom: 20px;
    /*background: #FFF203;*/
    background:#FFDB00;
    border-radius: 4px;
    min-width: 100px;
    /*border: 1px solid black;*/
}

#citizen-subscription-form .btn{
    margin-top: 15px;
    /*margin-bottom: 20px;*/
    /*background: #FFF203;*/
    background:#FFDB00;
    border-radius: 4px;
    min-width: 100px;
    /*border: 1px solid black;*/
}
#citizen-subscription-form{
    margin:10px 0 0 0;
}
#citizen-subscription-form p{
    float:left;
}
#subscribe-incident-show-report{
    margin:0 !important;
    float:right;
}
#mark-as-done-show-report{
    float:right;
}
#send-comment-show-report{
    margin-bottom:0 !important;
    float:right;
}

#citizen-subscription-form .btn:hover{
    margin-top: 15px;
    /*margin-bottom: 20px;*/
    /*background: #FFF203;*/
    background:#E6E6E6;
    border-radius: 4px;
    min-width: 100px;
    /*border: 1px solid black;*/
}

#report-form .btn:hover{
    margin-top: 15px;
    margin-bottom: 20px;
    /*background: #FFF203;*/
    background:#E6E6E6;
    border-radius: 4px;
    min-width: 100px;
    /*border: 1px solid black;*/
}

#report-form .btn.gray_left{
    float: left;
    margin-top: 15px;
    margin-bottom: 20px;
    background: gray;
    border: 1px solid #FFF203;
    color: white;
}

.inactive_overlay_form_overview {
    opacity:0.5;
    position:absolute;
    top:0; bottom:0; left:0; right:0;
    display:block;
    z-index:2;
    background:gray;
    border-radius: 8px;
}


#validate_report_popup .thumbnail{
    max-width: 100px;
}
#validate_report_popup label{
    font-weight: bold;
}

/********* HOME LAYOUT ********/


#input-search::-webkit-search-cancel-button {
    margin-right: 20px;
}

#input-search.loading {
    background:url("../images/ajax-loader.gif") no-repeat 98% left transparent;
}

#input-search.loading::-webkit-search-cancel-button {
    display: none;
}


#proposal {
    margin: 10px 0;
}

#proposal li {
    margin: 5px 0;
}
#proposal a {
    padding: 3px 5px;
    border:#949499 2px solid;
    border-radius: 10px;
    color:#333;
    background-color: white;
}

#proposal a.selected {
    padding: 3px 5px;
    border:#949499 2px solid;
    border-radius: 10px;
    color:#333;
    background-color: #FCDB07;
}

#recent_home_nav{
    border-color: #FFF203;
    border-width: 1px;
    margin-bottom: 0px;
}

#recent_home_nav li{
    list-style: none;
    margin: 0;
    cursor: default;
    font-weight: bold;
}

.nav-tabs > li > a{
    border-color:#EEE #EEE #DDD;
    border-bottom: 0;
    padding: 6px 8px;
}

#recent_home_nav li.active a{
    /*border-color: #FFF203;*/
    border-color:#FFDB00;
    border-width: 2px;
    border-bottom: 0;
}



#search_results.search_results_home a{
    margin-left: 0px;
}

#home_download_mobile {
    border: 1px solid #DFDFDF;
    border-radius: 8px;
    padding: 15px;
    /*box-shadow: 0px 0px 3px 3px #DFDFDF;*/
    box-shadow:0px 4px 15px 3px #DFDFDF;
    float:right;
    width:350px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 40px;
}


/********* REPORT FORM LAYOUT ********/

/* first step: instruction */
#cursor-instructions {
    position: absolute;
    top: 50px;
    left: 50%;
    /*width: 100px;*/
    width:129px;
    margin-left: 50px;
    margin: auto;
    z-index: 1000;
    min-height:42px !important;
}

#back {
    margin-top: 15px;
    margin-bottom: 15px;
    visibility: hidden;
    display: inline-block;
}

#search_results .report{
    display:block;
    position:relative;
    min-height:50px;
    color:black;
    text-decoration:none;
    padding: 2px 4px;
    /*border:2px solid #FAF028;*/
    border:2px solid #FFDB00;
}

#search_results .report:focus, #search_results .report:hover, #search_results .report.active{
    /*border:2px solid black;*/
    background:#EEE;
}

#search_results .report-counter{
	position:absolute;
	top: 7px;
	left: 2px;
}
#search_results .report-title{
	margin-left:10px;
}
#search_results .report-address{
	margin-left:10px;
}
#search_results .report-entity{
    min-width: 200px;
}
#search_results .report-preview{
	float:right;
    margin-left: 30px;
    max-width: 100px;
    max-height: 100px;
}

#search_results .left_search_result{
    float:left;
    height: 100%;
    width: 20%;
    max-width: 140px;
}

#search_results .list_data {
    margin: 10px !important;
}


#search_results .subscription_data {
    margin-top: 10px !important;
    margin-left: 50px !important;
}

#search_results .center_search_result {
    float: left;
    width: 65%;
    max-width: 65%;
    min-width: 200px;
}

#search_results .right_search_result {
    margin-right: 20px;
}

#search_results .right_list_search_result {
    margin-right: 20px;
    width: 25%;
    max-width: 25%;
    text-align: center;
    float: right;
    position: absolute;
    right: 20px;
}

#search_results .next_image{
    width:14px;
    height:25px;
    background:url("../images/next.png") 0 0;
    float:right;
    margin-top: -13px;
    top: 50%;
    position: absolute;
    right: 1%;
}

#search_results .pagination {
    margin-left: 15px;
}
#search_results .pagination ul {
    box-shadow: none;
}

#search_results .pagination a.active {
    background: #FFDB00;
    color:#666;
    cursor: auto;
}

#search_results .pagination a {
    border: none;
    cursor: pointer;
}

#search_results .pagination_prev,
#search_results .pagination_next {
    width:10px;
    height:20px;
    background-repeat: no-repeat;
    background-position: 10px -26px;
    border: none;
}

#search_results .pagination_prev.disabled,
#search_results .pagination_next.disabled {
    background-position: 10px 2px;
    cursor: auto;
    background-color: transparent !important;
}

#search_results .pagination_prev {
    background-image: url("../images/prev.png");
}
#search_results .pagination_next {
    background-image: url("../images/next.png");
}

#search_by_commune_or_address {
    margin-bottom: 10px;
}

#search_by_commune_or_address button.btn{
    background:#B9B9BC;
    color:#FFF;
}

#search_by_commune_or_address #filterReports{
    margin-left:10px;
}

#search_by_commune_or_address #input-ward{
    width:185px;
}


.input-xlarge {
    width:98%;
}

#search_by_ticket_nr .input_search_ticket{
    width: 97%;
    padding-left:0px;
}

#go_to_submit_report {
    padding-top: 40px;
    float:right;
}

input[type="submit"].btn {
    /*background: #FFF203;*/
    background:#E6E6E6;
    color:#000;
}

input[type="submit"].btn:hover {
    /*background: #FFF203;*/
    background:#F0F0F0;
    color:#000;
}

#confirm_form input[type="submit"].btn{
    background:#FFDB00;
    color:#000;
    font-family:dosisbold, Arial, sans-serif;
}

.btn {
    background:#FFDB00;
}



.btn-danger {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #da4f49;
    *background-color: #bd362f;
    background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
    background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
    background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
    background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
    background-repeat: repeat-x;
    border-color: #bd362f #bd362f #802420;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
#btn-del{
    margin-left:10px;
}


.btn-warning {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #faa732;
    *background-color: #f89406;
    background-image: -moz-linear-gradient(top, #fbb450, #f89406);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
    background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
    background-image: -o-linear-gradient(top, #fbb450, #f89406);
    background-image: linear-gradient(to bottom, #fbb450, #f89406);
    background-repeat: repeat-x;
    border-color: #f89406 #f89406 #ad6704;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-success {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5bb75b;
  *background-color: #51a351;
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(to bottom, #62c462, #51a351);
  background-repeat: repeat-x;
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

legend span {
    font-size: 17px;
}

/* second step: form */
#id_address.loading {
	background:url("../images/ajax-loader-16.gif") no-repeat 99% center transparent;
}

#report-body {
	padding-top: 5px;
	width:100%;
	clear:both;
}
#report_responsible_manager_select, #report_responsible_impetrant_contractor_select{
     width:384px;
}

.note {
	font-weight:bold;
	font-size:9pt;
	background-color:#E0E0E0;
	padding:1.2em;
	color:#333;
	font-weight:normal;
    border: 1px solid black;
    border-radius: 5px;
}

.note strong {
	font-size:10pt;
}

/* report details */
#report-subscribers {
	padding:10px;
    margin: 0 0 10px 10px;
	float:right;
	text-align: center;
	background: #517EB5;
	border: solid 2px #004990;
	border-radius:5px;
	color:white;

    background-color: #517EB5;
	background-image: -moz-linear-gradient(bottom, #D5E5F6 0, #517EB5 70%);
	background-image: -webkit-linear-gradient(bottom, #D5E5F6 0, #517EB5 70%);
	background-image: linear-gradient(bottom,  #D5E5F6 0, #517EB5 70%);
}

.addthis_toolbox{
    float: right;
    margin-top: 12px;
}

.author-sign {
    text-align:left;
    font-family: dosismedium, Arial, sans-serif !important;
    font-size:14px;
}

.author-sign strong {
    display:inline-block;
    font-family: dosisbold, Arial, sans-serif !important;
    /*font-size: initial;*/
    font-weight:normal !important;
}

#report-status th {
	padding-right: 8px;
    font-size: initial;
    font-weight: normal;
    text-align: left;
}

#report-status {
	margin-top: 10px;
}
#report-status td{
    padding-top:2px;
}

#more-actions {/* "offensive?" */
	text-align: right;
    margin-top: 10px;
}

.is_in_progress {
    width:98%;
    padding: 5px;
    margin-bottom: 1em;
    text-align: center;
    position: relative;
    background-color: #FFE4CA;
    border: solid 2px #F79421;
    border-radius:5px;
    color: #222;
}

.is_in_progress p {
    color: #222;
    text-align: left;
    margin: 1em;
}



.is_created {
    width:98%;
    padding: 5px;
    margin-bottom: 1em;
    text-align: center;
    position: relative;
    background-color: #FAC8C8;
    border: solid 2px #C1262D;
    border-radius:5px;
    color: #222222;
}

.is_created p {
    color: #222222;
    text-align: left;
    margin: 1em;
}


.is_fixed {
    width:98%;
    padding: 5px;
    margin-bottom: 1em;
    text-align: center;
    position: relative;
    background-color: #EBF7DF;
    border: solid 2px #009900;
    border-radius:5px;
    color: #222222;
}

.is_fixed p {
    color: #222222;
    text-align: left;
    margin: 1em;
}

#report_updates {
    font-family: dosisbold, Arial, sans-serif;
}
#report_updates .report_update .update_text .picture-caption a img{
    vertical-align:middle !important;
    margin-right:10px;
}
span.picture-caption{
    border-bottom:1px solid lightgrey;
    display:block;
    padding-bottom:5px;
    margin-bottom:5px;
}
span.picture-date{
    font-size:12px;
}
p.comment-incident{
    border-bottom:1px solid lightgrey;
    display:block;
    padding-bottom:5px;
    margin-bottom:5px;
}
.comment-date{
    font-size:12px;
}

.report_update:first-child {
}

.report_update {
    border: 1px solid gray;
    border-radius: 8px;
    margin: 10px 0;
}

.report_update .view-image {
    clear: both;
    text-align: center;
    width: 100%;
    display: block;
    padding: 5px;
    box-sizing: border-box;
    -mox-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}



.report_update ul {
    padding: 0;
    margin: 10px 0;
    text-align: center;
}
.report_update li {
    list-style: none;
    display: inline-block;
    width: 25%;
}

.report_update .update_text {
    clear: both;
    margin-right: 15px;
    padding: 10px;
}
.update_text strong{
    font-weight:normal !important;
}

a.pull-right img{
    margin-right:5px;
    margin-top:5px;
}

.report_update .update_light_text {
    font-family: Arial, sans-serif !important;
}

.report_update .fixed_msg {
    color:green;
}

.bordered-box {
    border: 1px solid #DFDFDF;
    border-radius: 8px;
    padding: 15px;
    /*box-shadow: 0px 0px 3px 3px #DFDFDF;*/
    box-shadow:0px 4px 15px 3px #DFDFDF;
    margin-bottom: 10px;
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.bordered-box h1{
   margin-left: 0px;
   font-size: x-large;
}

.overview_div_left,
.overview_div_right {
    margin-bottom: 40px;
    padding: 20px;
}

#addFileDiv {
    padding-bottom: 15px;
}

#addCommmentDiv {
    margin-top: 15px;
    margin-bottom: 15px;
}


/********* REPORT TABLE LAYOUT ********/

#city-stat-group {
	float: right;
}


#city-stat-group .stat {
	padding: .4em .2em;
	margin: 0 .2em;
	width: 100px;
    min-height: 50px;
}

#city-stat-group .number {
	font-size: 1em;
}

#city-stat-group .text {
	font-size: .7em;
}

#top-reports,
#top-reports a,
#reports,
#reports a{
	color:black;
}

#top-reports td:first-child,
#reports td:first-child{
    /*border-left: 1px solid #D5E5F6;*/
}

#top-reports td:last-child,
#reports td:last-child{
    /*border-right: 1px solid #D5E5F6;*/
}

#reports th.feeds{
	width:30px;
}

#reports .feeds img {
	height:21px;
}

#reports .feeds {
	font-size: 0;
	padding: 3px;
}

#reports td {
	vertical-align:middle;
}

#top-reports .number,
#reports .number {
	text-align: center;
    min-width: 10px;
}

#top-reports {
	width:530px;
}


.commune-row {
    position: relative;
    color: black;
    text-decoration: none;
    padding: 2px 4px;
    border: 2px solid #FFDB00;
    margin: 0  0 1px 0;
}
.commune-row a {
    display: block;
}
.commune-row a.non-participate {
    color:#757475;
}
.commune-row a.participate {
    color:black;
    font-weight: bold;
}

.row-odd {
    /*background: #D5E5F6;*/
    background:#FFDB00;

}

.table-stat {
	width: 90px;
	padding:5px;
    background: #004990;
    color: white;
    border-right: 2px solid #D5E5F6;
}

.table-stat:last-child{
    border: none;
    border-top-right-radius: 15px;
}

.table-stat small {
    display: inline-block;
}

.table_heading{
	color:#004990;
}

/********* FAQ LAYOUT ********/

#faq p, #faq ul, #faq ol {
	text-align:left !important;
}

#faq h2 {
    margin-bottom: 28px;
}



/********* SUBSCRIBE LAYOUT ********/
#subscribe-form h2{
	text-align: center;
}

#subscribe-form form {
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	padding-bottom: 20px;
}

#report-subscription {
    padding-bottom: 20px;
    padding-top: 20px;
}

/********* CONTACT LAYOUT ********/

#contact_us_indications {
    margin: 1em 0 1em 3em;
}

.contact_us_form {
	text-align: left;
}
.contact_us_form p {
	margin-bottom: .5em;
}

/********* FLAG REPORT ************/
#flag_comment {
    height:100px;
    width:96%;
    margin:2% 20px;
    box-sizing:border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

blockquote {
	margin-left:3em;
	padding-left:1em;
	border:1px solid silver;
	border-left:5px solid silver;
	margin-bottom:0.8em;
}







/************* USERS *************/
#user_type_filter {
    margin-top: 30px;
}
#user_type_filter li{
    display: inline;
    margin-left: 0px;
}

#leftcol.list_users img, #leftcol.list_contractors img{
    float:left;
    margin-right:20px;
    margin-left:12px;
}
#leftcol.list_users a:first-child img, #leftcol.list_contractors a:first-child img{
    margin-left:0;
}
#leftcol.list_users p, #leftcol.list_contractors p{
    margin:0;
}
.btn.change_pwd{
    margin-left:250px;
    background:#FFDB00 !important;
    color:#666 !important;
}

















/* vrac, todo: clean */
.checklist {
margin-left: 105px;
}

.checklist label {
}

.inactive {
color: silver;
border: 1px solid silver;
text-decoration: none;
padding: 4px;
}



.error {
	background-color: #fce7e7;
	color: red;
	padding: 3px;
}

#report-destination {
	padding: 10px;
	text-align:left;
}

#report-destination ul {
	margin-left: 20px;
	margin-top: 5px;
}

#report-destination ul li {
	list-style-type: disc;
}

blockquote {
	margin-left: 3em !important;
	padding-left: 1em !important;
	border: 1px solid silver;
	border-left: 5px solid silver !important;
	margin-bottom: 0.8em;
}

.subitem {
	margin-left:105px;
}
.subitem strong{
	font-weight:bold;
	font-color:green;
}

.recent_photos li {
	height: 100px;
	display: inline !important;
	margin: 2px !important;
	padding: 0 !important;
	list-item-type: none;
	display: inline;
}

.recent_photos li a { text-decoration: none; }

#posters { text-align: center;  }
#posters p {width: 450px; margin: 20px auto;}

ul li {
	list-style-type: disc;
}

ul.keyline_list li {
	padding: 0.7em 0;
	border-bottom: 1px solid #e5e5e5;
	font-size: 1.2em;
}

ul.circle_list li {
	background: url(../images/common/blt_green_circle.gif) no-repeat 0px 0.45em;
	padding-left: 16px;
	margin: 0.2em 0;
	font-size: 1.2em;
	line-height: 1.6em;
}


ol li {
	list-style-type:decimal;
	/*margin-left:2.5em;*/
}
#instructions h2{
    margin:8px 0 10px 0;
}
#instructions ol li{
    font-size:0.85em;
    line-height:1.5em;
}
.callpolice{
    color:red;
    font-size:0.85em;
    font-weight:bold;
    line-height:1.1em;
    margin-top:-6px;
    margin-bottom:7px;
}

ul.info_links li {
	float: left;
	padding: 0 1.3em;
	border-left: 1px solid #c2c2c2;
}
ul.info_links li:first-child {
	border-left: none;
	padding: 0 1.3em 0 0;
}
ul.info_links li a {
	font-size: 1.2em;
	color: #8e8c8c;
}
ul.info_links li a:hover {
	color: #505050;
}


.status-text {
	color:silver;
}


#report-body p { margin-bottom: .5em;}
#report-body th strong{
    font-size:14px;
}
#faq p { margin-bottom: 1em;}
#faq ul { margin-bottom: 1em;}




.row-highlight {
	background: #FFFFAA;
}

td.section {
	background-color:#000000;
}

.centerContent {

}

table.configTable th {
	border-bottom:1px solid black;
	padding:5px;
}

table.configTable td {
	padding:5px;
}

table.configTable td.firstItem {
	border-right:1px solid black;
}

.matrixButton {
	width:100%;
	padding:5px;
}

.matrixButton.emptySelection{
	width:100%;
	padding:5px;
	color:red;
}

.saveFormButton {
	background-color:#517EB5;
	background-image:-moz-linear-gradient(bottom, #517EB5 0, #004990 45%);
	background-image: -webkit-linear-gradient(bottom, #517EB5 0, #004990 45%);
	background-image: linear-gradient(bottom,  #517EB5 0, #004990 45%);
	padding:0.3em 0.4em;
	border:2px solid #517EB5;
	border-radius:7px;
	font-size: 1.2em;
	color:#ffffff !important;
	font-weight: bold;
	margin-top:1.2em;
	cursor: pointer;
	text-decoration: none;

}

.saveFormButton:hover {
	border:2px solid #004990;
}

.saveFormButton:disabled {
	background:#EEE;
	border:2px solid #AAA;
	color:#AAA;
}

.saveFormButton.disabled {
	background:#EEE;
	border:2px solid #AAA;
	color:#AAA !important;
}


#dialog.popup {
    width: 50%;
    position: fixed;
    left: 50%;
    margin-left: -25%;
    z-index: 1;
    background-color: white;
    padding: 10px;
    border:1px solid #FFF203;
    border-radius: 8px;
}

#dialog_overlay {
    position:absolute;
    width:100%;
    height:100%;
    background:gray;
    opacity:0.3;
}


table.reportActionButtons td {
	padding-left:2px;
	padding-right:2px;
}

table.report_overview_table td{
	padding:5px;
}

table.report_overview_table th{
	padding:5px;
}

#browser_support_popup .span1{
    text-align: center;
}

#browser_support_popup img{
    width: 56px;
    height: 56px;
}

#browser_support_popup a{
    width: 65px;
}

#divMarkAsDone {
    width:260px;
    margin-left: -130px;
}

#divMarkAsDone input[type=button] {
    background: #E6E6E6;
}

#divMarkAsDone input[type=submit] {
    background: #FFDB00;
}
.download-pdf-pro {
    background:transparent url('/static/images/download-pdf-pro.png') top left no-repeat;
    width:41px;
    height:38px;
    display:inline-block;
    margin-right:9px;
    vertical-align:middle;
}
.download-xls {
    background:transparent url('/static/images/download-xls.png') top left no-repeat;
    width:41px;
    height:38px;
    display:inline-block;
    margin-right:9px;
    vertical-align:middle;
}
.download-pdf {
    background:transparent url('/static/images/download-pdf.png') top left no-repeat;
    width:41px;
    height:38px;
    display:inline-block;
    margin-right:9px;
    vertical-align:middle;
}
#show-history i {
    background:transparent url('/static/images/history.png') top left no-repeat;
    width:41px;
    height:41px;
    display:inline-block;
    margin-right:9px;
    vertical-align:middle;
}

#messages {
    position: fixed;
    z-index: 1000000;
    bottom: 0px;
    right: 20px;
    /*width:94%;*/
}

.alert {
    position: relative;
    padding: 0;
    text-shadow: none;
    /*text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);*/
    color: black;
    overflow: hidden;
}

.alert-heading {
    float: left;
    display: block;
    color: white;
    min-width: 120px;
    padding: 3px 8px;
}

.alert-message {
    float: left;
    display: block;
    padding: 3px 28px 3px 8px;
}

.alert .close {
    position: absolute;
    top: 3px;
    right: 10px;
    opacity: 0.5;
}
.alert .close:hover {
    opacity: 0.8;
}

.alert-error .alert-heading {
    background: red;
}

.alert-success .alert-heading {
    background: green;
}

.alert-error {
    /*color: red;*/
    border: red 3px solid;
}


.alert-success {
    border: green 3px solid;
}

.file-upload-button .popover-content p{
    font-size: 12px;
    margin-bottom: 4px;
}
.file-upload-button.show-report{
    margin-left:0;
}

.popover-content{
    font-weight:normal;
}

#legend-container .popover
{
    width: auto;
    font-size: small;
}

#legend-container .popover img
{
    max-width: 400px;
    width: 20px;
    height: 27px;
    margin-right:10px;
}

.appstore_container
{
    float:left;
}
.appstore_container .popover
{
    width: auto;
}
