{% extends "base.html" %}
{% load i18n %}
{% block title %}
	{% trans "About" %}
{% endblock %}
{% block content %}
<div id="page_content_container">
    <h1>{% trans "About FixMyStreet Brussels" %}</h1>
    <div id="faq">
        {% for faq in faq_entries %}
        <h2>{{faq.q}}</h2>
        <div>{{faq.a|safe}}</div>
        {% endfor %}

        {% blocktrans %}
        <h2>Contact</h2>
        <a href='http://www.cirb.irisnet.be' style='float:left;'><img src='/media/images/CIRB-CIBG.gif'/></a>
        <p>
        CIRB<br/>
        21, avenue des Arts<br/>
        1000 Bruxelles
        </p>
        <p style="clear:both;">Tel : +32 (0)2 XXX XX XX<br/>
        E-mail : <a href="mailto:fixmystreet@cirb.irisnet.be">fixmystreet@cirb.irisnet.be</a></p>
 
 
        <h2>Requirements</h2>
        <p>www.fixmystreet.irisnetlab.be is optimised for Microsoft Windows, 
        Apple Mac OS and Linux with software :</p>
        <ul>
            <li>Microsoft Internet Explorer 8 or better</li>
            <li>Mozilla FireFox 3.0 or better</li>
            <li>Google Chrome</li>
            <li>Safari</li>
        </ul>

        <h2>Update your computer</h2>
        <p>If you want to install lastest versions of this free software, click on links below.</p>
        <ul>
            <li><a href="http://www.microsoft.com/france/windows/downloads/ie/getitnow.mspx">Microsoft Internet explorer</a></li>
            <li><a href="http://www.mozilla-europe.org/fr/products/firefox/">Mozilla FireFox</a></li>
            <li><a href="http://www.adobe.com/products/acrobat/readstep2.html">Adobe Acrobat Reader</a></li>
        </ul>

        <h2>Mobile application</h2>
        <p>A mobile application is available for</p>
        <ul>
            <li><img src="{{ MEDIA_URL }}images/appstore.gif"/> iPhone / iPad</li>
            <li><img src="{{ MEDIA_URL }}images/android-market.png"/> Android</li>
        </ul>
        
        <h2>Credits</h2>
        <p>Thanks to:</p>
        <ul>
            <li><a href='http://mysociety.org'>MySociety</a>, for the original concept.</li>
            <li><a href='visiblegovernment.ca'>visiblegovernment.ca</a> for the original open source project <a href='fixmystreet.ca'>fixmystreet.ca</a>.</li>
        </ul>
        {% endblocktrans %}
    </div>
</div>
{% endblock %}
