{% extends "base.html" %}
{% load i18n %}
{% block title %}
	{% trans "About" %}
{% endblock %}
{% block content %}
<div id="page_content_container">
    <h3>{% trans "About FixMyStreet Brussels" %}</h3>
    <div id="faq">
        {% for faq in faq_entries %}
        <h4>{{faq.q}}</h4>
        <p>{{faq.a|safe}}</p>
        {% endfor %}

        <h4>{% trans "Credits" %}</h4>
        <p>{% trans "Thanks to:" %}</p>
        <ul>
            <li><a href='http://mysociety.org'>MySociety</a>, {% trans "for the original concept." %}</li>
            <li>{% trans "<a href='visiblegovernment.ca'>visiblegovernment.ca</a> for the original open source project <a href='fixmystreet.ca'>fixmystreet.ca</a>." %}</li>
        </ul>
    </div>
</div>
{% endblock %}
