<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/global.css" />
		<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/layout.css" />
		<link rel="Shortcut Icon" type="image/x-icon" href="{{ MEDIA_URL }}images/favicon.ico" />
		{% load i18n %}
		{% get_available_languages as LANGUAGES %}
	
		<title>{% trans "Fix My Street Brussels" %} - {% block title %}{% trans "Home" %}{% endblock %}</title>
		{% block css %}{% endblock %}
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.js"></script>
		{% block script %}{% endblock %}
		<script>
		$(document).ready(function(){
			$('#select-language').change(function(){
				$(this).closest('form').submit();
			});
		});
		</script>
	</head>

	<body>
		<div id="header">
			<div id="header_content">
				<a href="/"><img id="logo" src="{{ MEDIA_URL }}images/logo.png" alt="{% trans "Fix My Street Brussels" %}"/></a>
				<a href="/"><h1 id="banner-title">{% trans "Fix My Street Brussels" %}</h1></a>
				<div id="language">
					<form action="/i18n/setlang/" method="post">
						<select id="select-language" name="language">
							{% for l in LANGUAGES %}
                                {% get_language_info for l.0 as lang %}
                                <option value="{{ lang.code }}"{% if lang.code == LANGUAGE_CODE %} selected="selected"{% endif %}>{{ lang.name_local }}</option>
							{% endfor %}
						</select>
					</form>
				</div>

				{% load tags %}
				<div id="menu">
					{% get_active_menu %}
					<a class="{% ifequal 'submit' menu %}active{% endifequal %}"   href="{% url home %}">{%      trans "Submit a Report" %}</a>
					<a class="{% ifequal 'view' menu %}active{% endifequal %}"     href="{% url bxl_wards %}">{% trans "View Reports" %}</a>
					<a class="{% ifequal 'about' menu %}active{% endifequal %}"    href="{% url about %}">{%     trans "About" %}</a>
					<a class="{% ifequal 'contact' menu %}active{% endifequal %}"  href="{% url contact %}">{%   trans "Contact Us" %}</a>
				</div>
			</div>
		</div>

		<div id="main_container">
			<div id='body_content'>
				{% if error_msg %}
				<div id="error-msg">
					<p>{{error_msg}}</p>
				</div>
				{% endif %}
				{% block content %}{% endblock %}
			</div>
		</div>

		<div id="footer">
			<div id="footer_content">
				{% block content_third %}{% endblock %}
                <p id="legal_notice">
                    <a id="term_of_use" href="{% url term_of_use %}">{% trans "Terms of Use" %}</a>
                    Copyright 2011, <a href="http://www.cirb.irisnet.be">CIRB</a> - <a href="http://www.cibg.irisnet.be">CIBG</a>
                </p>
			</div>
		</div>

		{% block endbody %}{% endblock %}
	</body>
</html>
