{% load i18n %}

<article class="span12 {{ classes }}">
    {% if BACKOFFICE %}
    <div style="margin-top:20px">
    {% endif %}

    <div class="container lead-container">
        {% if instructions %}
        <div class="instructions row-fluid clearfix">
            <ol class="steps span8">
                <li class="stepOne on span4">{% trans "Localisation" %} <div id="progressline" align="center"></div> </li>
                <li id="stepDescription" class="stepTwo off span4">{% if not BACKOFFICE %}<div id="progressline" class="opacity7" align="left"></div>{% endif %} {% trans "Description" %} </li>
                {% if not BACKOFFICE %}
                <li id="stepCoordonnees" class="stepThree off span4">{% trans "Coordonnees" context "citizen" %} </li>
                {% endif %}
            </ol>
            <div class="span4">
                {% if not BACKOFFICE %}
                <strong id="danger-risk">
                    <a href="#" data-toggle="tooltip" data-placement="bottom" data-original-title="{% trans 'A big security risk to signal?' %}" title="{% trans 'call police' %}" class="myTooltip">
                        <i class="icon-danger-red"></i>
                        <span class="riskittext">{% trans "A big security risk to signal?" %}</span>
                    </a>
                </strong>
                {% endif %}
            </div>
        </div>
        {% endif %}

        {% if search_address %}
        <div class="block clearfix row-fluid">
            <form id="search-address-form" class="form-inline search-form controls controls-row">
                <input id="input-search" class="span5" type="search" name="location" {% if location %}value="{{ location }}"{% endif %} placeholder="{% trans 'Street name, Street number...' %}" autofocus />
                <input id="input-streetnumber"  placeholder="n°" class="span1" type="search" />
                <select id="input-ward" class="span4" name="ward">
                    <option value="">{% trans "All communes..." %}</option>
                    {% for zip in zipcodes %}
                    <option value="{{ zip.code }}"{% if zip.code == zipcode %} selected{% endif %}>{{ zip.code }} {{ zip.name }}</option>
                    {% endfor %}
                </select>
                <span class="span2">
                    <input id="widget-search-button" class="btn pull-right" type="submit" name="submit" value="{% trans 'Signaler' %}"/>
                </span>
            </form>
        </div>
        {% endif %}
        <div class="block clearfix row-fluid" align="left" >
            {% if search_report %} <span style="font-family:'dosis'; font-size:18px; color:#c5ced6">{% trans "or" context "or per incident" %}</span> <span style="font-family:'dosis'; font-size:18px; color:white; margin-right:45px;">{% trans "per incident Nr" %}</span>
            <form id="search-ticket-form" class="input-append form-inline" action="{% url 'search_ticket' %}">
                <input id="input-ticket-search" class="input-medium" style="width:100%" type="search" name="report_id" placeholder="{% trans 'Ticket number...' %}" />
                <input id="widget-search-ticket-button1" class="btn" type="submit" name="submit" value="">
            </form>
            {% endif %}

        </div>
    </div>

    {% if map  %}
        <div id="map" class="fmsmap-size-{% if mapSize %}{{ mapSize }}{% else %}medium{% endif %}"></div>
    {% endif %}

    {% if BACKOFFICE %}
    </div>
    {% endif %}

</article>
