{% extends "base.html" %}
{% load i18n %}
{% block title %}
    {{ page.title }}
{% endblock %}

{% block content %}
<div id="faq_pages">

    <h2>FAQ</h2>
    <ol id="faq_pages_anchors">
    {% for page in faq_pages %}
        <h4>
             <a href="#faq_page_title_{{ page.id }}">
                 <li id="faq_anchor_{{ page.id }}">{{ page.title|safe }}</li>
             </a>
        </h4>
    {% endfor %}
    </ol>
    <div id="faq_pages_content">
        {% for page in faq_pages %}
            <div id="faq_page_{{ page.id }}">
                <div id="faq_page_title_{{ page.id }}">
                    <h3>{{ page.title|safe }}</h3>
                </div>
                <div id="faq_page_content_{{ page.id }}">
                    <p>{{ page.content|safe }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}