{% extends "base.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Password reset' %}
</div>
{% endblock %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block content %}
<div id="modifypassword">

<h1>{% trans "Password reset" %}</h1>

<p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>

<form action="" method="post">{% csrf_token %}
{{ form.email.errors }}
<div align="center">
	<p><label for="id_email" style="color:black; display:inline-block; margin-top:25px; line-height:15px; margin-right:15px;">{% trans 'Email address:' %}</label> {{ form.email }} 
	<input type="submit" value="{% trans 'Reset my password' %}" class="btn" style="margin-left:45px; margin-top:-15px;"/></p>
</div>
</form>

</div>
{% endblock %}
