{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Reports for" %} {{ward.name}}, {{ward.city.name}}{% endblock %}
{% block css %}
<style>
#map-bxl{
	height: 520px;
	width: 520px;
}
</style>
{% endblock %}
{% block script %}
<script type="text/javascript" src="/media/wards.json"></script>
{% include '_fixmystreetmap.js' %}
<script>
$(function(){
	var coresp = {
		'1070':0,
		'1160':1,
		'1082':2,
		'1000':3,
		'1040':4,
		'1140':5,
		'1190':6,
		'1083':7,
		'1050':8,
		'1090':9,
		'1081':10,
		'1080':11,
		'1060':12,
		'1210':13,
		'1030':14,
		'1180':15,
		'1170':16,
		'1200':17,
		'1150':18
	};
	
	openMap();
	{% for report in reports %}
	addMarker({{ report.point.x }}, {{ report.point.y }}, {% if report.is_fixed %}true{% else %}false{% endif %});
	{% endfor %}
	highlightArea(wardsCoords.features[coresp['{{ ward.number }}'] || 0].geometry);
});

function addPolygon(polygon,layer){
	for(var j in polygon){
		var area = polygon[j];
		var points = [];
		//console.log(j,areas,area);
		for(var i in area){
			var p = area[i];
			//console.log('-'+i,p);
			points.push(new OpenLayers.Geometry.Point(p[0],p[1]));
		}
	
		var ring = new OpenLayers.Geometry.LinearRing(points);
		var poly = new OpenLayers.Feature.Vector(ring,null,{
			strokeColor: "#004990",
			strokeOpacity: 1,
			strokeWidth: 2,
			fillColor: "#517EB5",
			fillOpacity: 0.6
		});
		layer.addFeatures(poly);
	}
}

</script>
{% endblock %}
{% block content %}
	<div id="fullwidth">
	<h3>{% trans "Reports for" %} {{ward.name}}, {{ward.city.name}} (Ward {{ward.number}})</h3>
	<p>{% trans "Reports filed between" %} {{date_range_start|date:"N jS, Y"}} {% trans "and" %} {{date_range_end|date:"N jS, Y"}}. 
		{% if older_reports_link %} (<a href="{{older_reports_link}}" %}>{% trans "See older reports" %}</a>){% endif %}</p>
		<div id='leftcol'>
			<ol>
				{% if not reports %}
					<p>{% trans "No problems have been reported." %}</p>
				
				{% endif %}
				{% for report in reports %}					
					{% ifchanged report.status %}  	
					 <p/><h2>{% trans report.status %}</h2>
					{% endifchanged %}
                    <li><a href='{{report.get_absolute_url}}'>{{report.title}}</a></li>
                {% endfor %}
             </ol>
             <br/><br/>
             {% if reports %}
             <div class="fix-disclaimer">
             	<p>{% trans "Note: fixmystreet.ca relies on users to report problems as fixed." %}</p>
             </div>
             {% endif %}
 		</div>
		<div id='rightcol'>
		<!--{% if google %}
    			<div id="{{ google.dom_id }}"></div>
    		{% endif %}-->
		<div id="map-bxl"> </div>
    		{% include "wards/_info_box.html" %}   	

		</div>
	</div>
	<br/ style="clear:both;">
{% endblock %}
