{% extends 'emails/notifications/base.html' %}

{% block content_mail_fr %}
<p><em>Disclaimer : Fix My Street a pour objectif de faciliter la communication entre les citoyens et les différents gestionnaires de l’espace public. Les informations fournies par les citoyens doivent être considérées comme des documents de travail qui aideront les autorités compétentes à organiser leur action. En aucun cas, cela n’engage les communes bruxelloises, Bruxelles Mobilité ou les autres gestionnaires  de l’espace public  à intervenir dans un délai donné. Pour toute information complémentaire, nous vous invitons à lire les <a href="http://fixmystreet.irisnet.be/fr/conditions-d-utilisation/">Conditions Générales</a>.</em></p>
{% endblock %}

{% block content_mail_nl %}
<p><em>Disclaimer : Fix My Street a pour objectif de faciliter la communication entre les citoyens et les différents gestionnaires de l’espace public. Les informations fournies par les citoyens doivent être considérées comme des documents de travail qui aideront les autorités compétentes à organiser leur action. En aucun cas, cela n’engage les communes bruxelloises, Bruxelles Mobilité ou les autres gestionnaires  de l’espace public  à intervenir dans un délai donné. Pour toute information complémentaire, nous vous invitons à lire les <a href="http://fixmystreet.irisnet.be/fr/conditions-d-utilisation/">Conditions Générales</a>.</em></p>
{% endblock %}
