# If this error pops out 
#     Error: pg_config executable not found
#
# simply install : $ sudo apt-get install libpq-dev python-dev

[buildout]
extends = 
    fixmystreet.cfg
    postgis.cfg

parts += 
    jenkins
    run
    run_debug
    omelette

eggs =
    django_fixmystreet
    psycopg2

[jenkins]
recipe = buildout_script
template = script.sh.in
target = jenkins
cmds = 
    ${buildout:directory}/bin/pg_start
    ${buildout:directory}/bin/django-jenkins jenkins
    ${buildout:directory}/bin/pg_stop

[run_debug]
recipe = buildout_script
template = script.sh.in
target = run-debug
cmds = 
    ${buildout:directory}/bin/pg_start
    ${buildout:directory}/bin/django-debug runserver
    ${buildout:directory}/bin/pg_stop

[run]
recipe = buildout_script
template = script.sh.in
target = run
cmds = 
    ${buildout:directory}/bin/pg_start
    ${buildout:directory}/bin/django runserver
    ${buildout:directory}/bin/pg_stop

