# If this error pops out 
#     Error: pg_config executable not found
#
# simply install : $ sudo apt-get install libpq-dev python-dev

[buildout]

extends = 
    postgis.cfg
    fixmystreet.cfg

parts += 
    initdb
    omelette

eggs =
    django_fixmystreet
