{% extends "pro/base.html" %}
{% load i18n tags %}

{% block script %}
{{ block.super }}
{% if not can_edit %}
<script type="text/javascript">
    $(function(){
        $.each($("form :input"),function(idx,value) {
            $(value).prop("disabled", true);
        });
        $("form :submit, form .btn, .helptext").hide();
    });
</script>
{% endif %}
{% endblock %}

{% block content %}
{{ block.super }}
<div class="span12">
    <ul class="nav nav-tabs">
        <li class="{% is_active_menu 'users' %}">
            <a href="{% url 'list_users' %}">{% trans "Users" %}</a>
        </li>
        <li class="{% is_active_menu 'groups' %}">
            <a href="{% url 'list_groups' %}">{% trans "Groups" %}</a>
        </li>
    </ul>
</div>
{% endblock %}