{% extends "pro/base.html" %}
{% load i18n tags %}
{% load static from staticfiles %}



{% block script %}
{{ block.super }}
{% if not can_edit %}
<script type="text/javascript">
    $(function(){
        $.each($("form :input"),function(idx,value) {
            $(value).prop("disabled", true);
        });
        $("form :submit, form .btn, .helptext").hide();
    });
</script>
{% endif %}
{% endblock %}

{% block content %}
{{ block.super }}
<br/>
<div class="span12">
    <ul class="nav nav-tabs nav-tabs1">
        <li class="{% is_active_menu 'users' %}">
            <a href="{% url 'list_users' %}"><img src="{% static 'images/male18.png' %}" class="nav-tabs1-icon" /> {% trans "Users" %}</a>
        </li>
        <li class="{% is_active_menu 'groups' %}">
            <a href="{% url 'list_groups' %}"><img src="{% static 'images/group.png' %}" class="nav-tabs1-icon" /> {% trans "Groups" %}</a>
        </li>
    {% if can_create %}
        <li style="float:right">
            <a href="{% url 'create_user' %}" class="nav-tabs1-icon pull-right" style="color:#2c3e50; background-color:#ffdb0b; border:0px; margin-right:5px;"><i class="icon-plus"></i> {% trans 'Create user' %}</a>
        </li>
        <li style="float:right">
            <a href="{% url 'create_group' %}" class="nav-tabs1-icon pull-right" style="color:#2c3e50; background-color:#ffdb0b; border:0px;"><i class="icon-plus"></i> {% trans 'Create group' %}</a>
    {% endif %}
    </ul>
</div>
{% endblock %}