{% extends "pro/auth/base.html" %}
{% load i18n tags %}

{% block script %}
{{ block.super }}
{% if request.user.fmsuser.manager and not request.user.fmsuser.leader %}
<script type="text/javascript">
    $(function(){
        $.each($("#id_group_type").find("option"),function(idx,value){
            if (value.value != "agent"){
                $(value).remove();
            }
        });
    });
</script>
{% endif %}

<script type="text/javascript">
    var group_id             = {{ group.id }};
    var users_field          = document.querySelector('select[name="users"]');
    var users_list           = document.getElementById('memberships');


    // Init event
    $('#memberships').delegate('button', 'click', function removeMembership(evt) {
        // AJAX request to remove membership
        evt.preventDefault();

        var user = $(this).closest('tr');
        var membership_id = user.prop('id');

        user.addClass('loading');
        $.get( "/pro/groups/membership/remove/" + membership_id + "/", function(data) {
            user.removeClass('loading');
            if (data == 'OK') {
                user.remove();
                refreshDisabledUser();
            }
        });
    });

    users_field.addEventListener('change', function addMembership() {
        var $this = $(this);
        var user_id = $this.val();

        if (!user_id) {
            return;
        }

        $this.addClass('loading');
        // AJAX request to add membership
        $.getJSON("/pro/groups/membership/add/" + group_id + "/" + user_id + "/")
        .success(function(data) {

            $this.removeClass('loading');
            $this.val(null);
            if (data.status == 'OK') {
                var userOption = $this.find('option[value=' + user_id + ']');

                var membership_id = data.membership_id;

                var new_user = $('#memberships .hidden').clone();
                new_user.removeClass('hidden');
                new_user.prop("id", membership_id).data('user', user_id);
                new_user.find('.name').html(userOption.text());

                $(users_list).append(new_user);
                refreshDisabledUser();
            }
        }).error(function (error) {
            $this.removeClass('loading');
            $this.val(null);
            console.error(error);
        });
    });

    function refreshDisabledUser() {
        options = $(users_field).find('option');
        options.prop('disabled', false);

        $('#memberships tr').each(function (index, row) {
            var user_id = $(row).data('user');
            var userOption = options.filter('[value=' + user_id + ']');
            userOption.prop('disabled', true);
        });
    }
    refreshDisabledUser();

</script>
{% endblock %}

{% block title %}
    {% if group_form.instance.id %}
        {% blocktrans with group.name as name and group.get_type_display as type %}Edit {{ name }} ({{ type }}){% endblocktrans %}
    {% else %}
        {% trans "Create group" %}
    {% endif %}
{% endblock %}

{% block content %}
{{ block.super }}
<div id="group_type_filter">
    <ul>
        <li>
                <a href="{% url 'list_groups' %}">
                    <img src="{{STATIC_URL}}images/pin-fixmystreet-L.png" width="40px" height="54px" > <span id="groups">{% trans "Collaborators in" %} {{ request.user.fmsuser.get_organisation.name }}</span>
                </a>
        </li>
    </ul>
</div>
<form action="" method="POST" class="form-centered form-horizontal">
    {% csrf_token %}
    {% if group_form.instance.id %}
        <h1>{% blocktrans with group.name as name and group.get_type_display as type %}Edit {{ name }} ({{ type }}){% endblocktrans %}</h1>
    {% else %}
        <h1>{% trans "Create group" %}</h1>
    {% endif %}

    <div id="required-note" class="controls lead">{% trans "* This fields are required" %}</div>

    {% include "_form_horizontal.html" with form=group_form %}

    <table id="memberships">
        {% for membership in memberships %}
            <tr id="{{ membership.id }}" data-user="{{ membership.user.id }}">
            <td><button><i class="icon-remove"></i></button></td>
                <td class="name">{{ membership.user }}</td>
            </tr>
        {% endfor %}
        <tr class="hidden">
            <td><button><i class="icon-remove"></i></button></td>
            <td class="name">template line</td>
        </tr>
    </table>

    <div class="control-group">
        <div class="controls">
           <input type="submit" value="{% trans 'Save' %}" class="btn"/>

            {% if group.id %}
                <a href="{% url 'delete_group' group.id %}" class="btn btn-danger">{% trans 'Delete' %}</a>
            {% endif %}
        </div>
    </div>
</form>
{% endblock %}
