{% extends "pro/auth/base.html" %}
{% load i18n tags %}

{% block script %}
{{ block.super }}
{% if request.user.fmsuser.manager and not request.user.fmsuser.leader %}
<script type="text/javascript">
    $(function(){
        $.each($("#id_group_type").find("option"),function(idx,value){
            if (value.value != "agent"){
                $(value).remove();
            }
        });
    });
</script>
{% endif %}

<script type="text/javascript">
    var group_id             = {{ group.id }};
    var users_field          = document.querySelector('select[name="users"]');
    var users_list           = $('#memberships');


    // Init event
    users_list.delegate('.delete', 'click', function removeMembership(evt) {
        // AJAX request to remove membership
        evt.preventDefault();

        var user = $(this).closest('tr');
        var membership_id = user.prop('id');

        user.addClass('loading');
        $.get( "/pro/groups/membership/remove/" + membership_id + "/", function(data) {
            user.removeClass('loading');
            if (data == 'OK') {
                user.remove();
                refreshDisabledUser();
            }
        });
    });

    // Init event
    users_list.delegate('.contact', 'change', function setContactMembership(evt) {
        // AJAX request to set membership as default contact

        var user = $(this).closest('tr');
        var membership_id = user.prop('id');

        user.addClass('loading');
        $.get( "/pro/groups/membership/contact/" + membership_id + "/", function(data) {
            user.removeClass('loading');
            if (data == 'OK') {
                users_list.find('.contact').prop('checked', false);
                users_list.find('.delete').prop('disabled', false);
                user.find('.contact').prop('checked', true);
                user.find('.delete').prop('disabled', true);
            }
        });
    });

    users_field.addEventListener('change', function addMembership() {
        var $this = $(this);
        var user_id = $this.val();

        if (!user_id) {
            return;
        }

        $this.addClass('loading');
        // AJAX request to add membership
        $.getJSON("/pro/groups/membership/add/" + group_id + "/" + user_id + "/")
        .success(function(data) {

            $this.removeClass('loading');
            $this.val(null);
            if (data.status == 'OK') {
                var userOption = $this.find('option[value=' + user_id + ']');

                var membership_id = data.membership_id;

                var new_user = $('#memberships .hidden').clone();
                new_user.removeClass('hidden');
                new_user.prop("id", membership_id).data('user', user_id);
                new_user.find('.name').html(userOption.text());

                if (!users_list.find('tr').not('.hidden').length) {
                    new_user.find('.contact').prop('checked', true);
                    new_user.find('.delete').prop('disabled', true);
                }
                users_list.append(new_user);
                refreshDisabledUser();
            }
        }).error(function (error) {
            $this.removeClass('loading');
            $this.val(null);
            console.error(error);
        });
    });

    function refreshDisabledUser() {
        options = $(users_field).find('option');
        options.prop('disabled', false);

        $('#memberships tr').each(function (index, row) {
            var user_id = $(row).data('user');
            var userOption = options.filter('[value=' + user_id + ']');
            userOption.prop('disabled', true);
        });
    }
    refreshDisabledUser();

</script>
{% endblock %}

{% block title %}
    {% if group_form.instance.id %}
        {% blocktrans with group.name as name and group.get_type_display as type %}Edit {{ name }} ({{ type }}){% endblocktrans %}
    {% else %}
        {% trans "Create group" %}
    {% endif %}
{% endblock %}

{% block content %}
{{ block.super }}
<form action="" method="POST" id="report-form" class="form-horizontal" style="width:97%">
    {% csrf_token %}
    {% if group_form.instance.id %}
        <h5>{% blocktrans with group.name as name and group.get_type_display as type %}Edit {{ name }} ({{ type }}){% endblocktrans %}</h5>
    {% else %}
        <h5>{% trans "Create group" %}</h5>
    {% endif %}


    <div class="controls">{{ group_form.errors }}</div>

    {% include "_form_horizontal.html" with form=group_form %}

    <table id="memberships">
        <!-- mouve table outside the form due to button vs form submit -->
        {% for membership in memberships %}
        <tr id="{{ membership.id }}" data-user="{{ membership.user.id }}">
            <td><button class="delete" {% if membership.contact_user %}disabled="disabled"{% endif %}><i class="icon-remove"></i></button></td>
            <td class="name">{{ membership.user }}</td>
            <td><input type="radio" name="contact-user" class="contact" {% if membership.contact_user %}checked="checked"{% endif %}/></td>
        </tr>
        {% endfor %}
        <tr class="hidden">
            <td><button class="delete"><i class="icon-remove"></i></button></td>
            <td class="name">template line</td>
            <td><input type="radio" name="contact-user" class="contact" /></td>
        </tr>
    </table>
    {% if group_mail_config_formset%}
    <h2>Mail config</h2>
    <div class="controls">
        {{ group_mail_config_formset.as_p }}
    </div>
    {% endif %}
    <div id="required-note" class="controls lead" style="white-space:nowrap">{% trans "* This fields are required" %}</div>

    <div class="control-group">
        <div class="controls pull-right">
           <input type="submit" value="{% trans 'Save' %}" class="btn"/>

            {% if group.id %}
                <a href="{% url 'delete_group' group.id %}" class="btn btn-danger">{% trans 'Delete' %}</a>
            {% endif %}
        </div>
    </div>
</form>
{% endblock %}
