{% extends "pro/auth/base.html" %}
{% load i18n tags %}

{% block title %}{% trans "Users admin" %}{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ STATIC_URL }}lib/dataTables/css/jquery.dataTables.css"></link>
{{ block.super }}
{% endblock %}

{% block script %}
{{ block.super }}
<script src="{{ STATIC_URL }}lib/dataTables/js/jquery.dataTables.js"></script>
<script src="{{ STATIC_URL }}lib/dataTables-columnFilter/js/jquery.dataTables.columnFilter.js"></script>
<script>

$(document).ready(function() {
    var table = $('#users-table').dataTable();

    table.columnFilter({ sPlaceHolder: "head:after",
        aoColumns: [
             {type: "text"}, // name
             {type: "text"}, // phone
             {type: "text"}, // email
             {type: "select"} // roles
        ]
    });
});

</script>
{% endblock %}

{% block content %}
{{ block.super }}
<div class="span12">
    <table id="users-table">
        <thead>
            <tr>
                <td>{% trans "Name" %}</td>
                <td>{% trans "Phone" %}</td>
                <td>{% trans "Email" %}</td>
                <td>{% trans "Role" %}</td>
            </tr>
            <tr>
                <td>{% trans "Name" %}</td>
                <td>{% trans "Phone" %}</td>
                <td>{% trans "Email" %}</td>
                <td>{% trans "Role" %}</td>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>
                    <a href="{% url 'edit_user' user_id=user.id %}">
                        {{ user.get_full_name }}
                    </a>
                </td>
                <td>
                    <a href="tel:{{ user.telephone }}">{{ user.telephone }}</a>
                </td>
                <td>
                    <a href="mailto:{{ user.email }}">{{ user.email }}</a>
                </td>
                <td>
                    {% if user.leader %}{% trans 'Entité' %}
                    {% elif user.manager %}{% trans 'Gestionnaire' %}
                    {% elif user.agent %}{% trans 'Agent' %}
                    {% elif user.contractor %}{% trans 'Exécuteur de travaux' %}
                    {% elif user.applicant %}{% trans 'Applicant' %}{% endif %}

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% if can_create %}
<p class="lead span12">
    <a href="{% url 'create_user' %}" class="btn btn-large">
        <i class="icon-plus"></i> {% trans 'Create a new user' %}
    </a>
</p>
{% endif %}

{% endblock %}
