{% extends "pro/auth/base.html" %}
{% load i18n tags %}

{% block title %}
    {% if user_form.instance %}
        {% blocktrans with user_form.instance.get_full_name as name %}
            Edit {{ name }}
        {% endblocktrans %}
    {% else %}
        {% trans "Create user" %}
    {% endif %}
{% endblock %}


{% block script %}
{{ block.super }}
{% if can_edit %}
<script>
$(function() {
    var $manager = $(':checkbox[name=manager]');
    var $leader = $(':checkbox[name=leader]');
    var $contractor = $(':checkbox[name=contractor]');
    var $agent = $(':checkbox[name=agent]');

    $leader.prop('disabled', true); // leader not editable

    $leader.change(function () {
        var leader = $leader.prop('checked');
        var manager = $manager.prop('checked');

        $contractor.prop('disabled', leader);
        $agent.prop('disabled', leader || manager);
    }).change();

    $manager.change(function () {
        var leader = $leader.prop('checked');
        var manager = $manager.prop('checked');

        $agent.prop('disabled', leader || manager);
    }).change();


    // $contractor.change(function () {
    //     var agent = $agent.prop('checked');
    //     var contractor = $contractor.prop('checked');

    //     // $leader.prop('disabled', agent || contractor); // leader not editable
    // }).change();

    $agent.change(function () {
        var agent = $agent.prop('checked');
        var contractor = $contractor.prop('checked');

        // $leader.prop('disabled', agent || contractor); // leader not editable
        $manager.prop('disabled', agent);
    }).change();
});
</script>
{% endif %}
{% endblock %}

{% block content %}
{{ block.super }}
<form action="" method="POST" class="form-centered form-horizontal">
    {% if user_form.instance %}
        <h1>
        {% blocktrans with user_form.instance.get_full_name as name %}
            Edit {{ name }}
        {% endblocktrans %}
        </h1>
    {% else %}
        <h1>{% trans "Create user" %}</h1>
    {% endif %}

    <div id="required-note" class="controls lead">{% trans "* This fields are required" %}</div>
    {% include "_form_horizontal.html" with form=user_form %}

    {% if user_form.instance.leader and request.fmsuser.leader %}
        <p class="lead controls">{% trans "This user has leader role and can not be edited" %}</p>
    {% elif not request.fmsuser.leader %}
        {% if user_form.instance.leader %}
            <p class="lead controls">{% trans "This user has leader role" %}</p>
        {% endif %}
        <p class="lead controls">{% trans "Only leader can edit users" %}</p>
    {% endif %}
    <div class="control-group">
        <div class="controls">
           <input type="submit" value="{% trans 'Save' %}" class="btn btn-primary"/>
            {% if user_form.instance.id %}
                <a href="{% url 'delete_user' user_form.instance.id %}" class="btn btn-danger">{% trans 'Delete' %}</a>
            {% endif %}
        </div>
    </div>
</form>
{% endblock %}
