{% extends "pro/auth/base.html" %}
{% load i18n tags %}

{% block title %}
    {% if user_form.instance %}
        {% trans "Edit user" %}
    {% else %}
        {% trans "Create user" %}
    {% endif %}
{% endblock %}


{% block script %}
{{ block.super }}
<script>
$(function() {
    var $manager = $(':checkbox[name=manager]');
    var $leader = $(':checkbox[name=leader]');
    var $contractor = $(':checkbox[name=contractor]');
    var $agent = $(':checkbox[name=agent]');

    if ($leader.prop('checked')) {
        return;
    }
    $leader.prop('disabled', true); // leader not editable

    $leader.change(function () {
        var leader = $leader.prop('checked');
        var manager = $manager.prop('checked');

        $contractor.prop('disabled', leader);
        $agent.prop('disabled', leader || manager);
    }).change();

    $manager.change(function () {
        var leader = $leader.prop('checked');
        var manager = $manager.prop('checked');

        $agent.prop('disabled', leader || manager);
    }).change();


    // $contractor.change(function () {
    //     var agent = $agent.prop('checked');
    //     var contractor = $contractor.prop('checked');

    //     // $leader.prop('disabled', agent || contractor); // leader not editable
    // }).change();

    $agent.change(function () {
        var agent = $agent.prop('checked');
        var contractor = $contractor.prop('checked');

        // $leader.prop('disabled', agent || contractor); // leader not editable
        $manager.prop('disabled', agent);
    }).change();
});

</script>
{% endblock %}

{% block content %}
{{ block.super }}
<form action="" method="POST" class="form-centered form-horizontal">
    {% if user_form.instance %}
        <h1>{% trans "Edit user" %}</h1>
    {% else %}
        <h1>{% trans "Create user" %}</h1>
    {% endif %}
    <div id="required-note" class="controls lead">{% trans "* This fields are required" %}</div>
    {% include "_form_horizontal.html" with form=user_form %}
    <div class="control-group">
        <div class="controls">
           <input type="submit" value="{% trans 'Save' %}" class="btn"/>
        </div>
    </div>
</form>
{% endblock %}
