
.ui-loader{
    z-index:2000;
}

.panel {
	background-image:url("../../images/logo.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}


#container {
	margin: 0 auto;
    padding:0;
	/*width: 520px;
	height: 400px;*/
	position: absolute;
	top: 42px;
	bottom: 0;
	right: 0;
	left: 0;
}

ul.errorlist li {
	color:red;
}

#map-bxl{
	height:100%;
	width:100%;
}

#instructable {
	position:absolute;
	bottom:50%;
	left:50%;
	right:5px;
	font-size:.8em;
	z-index:1000;
    margin:0 0 31px 10px;
	background-color:white;
	padding:4px 14px;
	border:1px solid black;
	border-radius:12px;
	border-bottom-left-radius:0;
}

#instructable h3, #instructable p{
	margin: .5em 0;
}

#control-options{
	z-index: 1000;
	position: absolute;
	top: 10px;
	right: 10px;
}

.olControlPanZoom{
    display:none;
}

#control-zoom{
	z-index: 1000;
	position: absolute;
	bottom: 10px;
	left: 10px;
}

#create-report{
	z-index: 1000;
	position: absolute;
	bottom: 10px;
	right: 10px;
}

#search-form{
	z-index: 1000;
/*
	display: none;
*/
	position: absolute;
	top: 10px;
	right: 70px;
	left: 10px;
}

#search.loading + .ui-input-clear .ui-icon{
	background:url("../images/ajax-loader.gif") no-repeat center center transparent;
}

#proposal{
    margin:1em 0 0 0;
}
#proposal .ui-icon-arrow-r{
    display:none;
}
/*
#search{
	width:100%;
	font-size: 1.5em;
	padding: 0.4em 0.5em;
	color:#222;
	border:black solid 1px;
	border-radius:5px;
	box-sizing:border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}*/

.ui-icon.ui-icon-locate{
	background-image:url("../images/locate.png");
}

.ui-icon.ui-icon-help{
	background-image:url("../images/help.png");
}

#control-zoom .ui-btn-inner{
    padding-top: 0;
    padding-bottom: 0;
    font-size: 1.8em;
}

#photo_preview{
	float:right;
    max-width:100px;
}

#id_photo{
	display:none;
}
.error-msg {
	color:red;
}

/*
p{
	margin: 10px 10px 12px 10px;
}

label{
	display:block;
}

input[type=text], select, textarea{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width:100%;
	padding: 6px 4px;
	font-size:1em;
	border:1px solid black;
	border-radius:5px;
}



.note {
	font-weight:bold;
	font-size:9pt;
	background-color:#bee4be;
	border-radius:5px;
	border:1px solid green;
	padding:1.2em;
	color:#333;
	font-weight:normal;
}

.note strong {
	font-size:10pt;
	color:green;
}


#report-header {
	padding:10px;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

.is_fixed {
    padding: 5px;
    margin-bottom: 1em;
    text-align: center;
    position: relative;
    background-color: #b5d29c;
    border: solid 2px #009900;
    color: #222222;
}

.is_fixed p {
    color: #222222;
    text-align: left;
    margin: 1em;
}

#report-header { 
	width: 100%;
}

#report-header th { 
	padding-right: 5px; 
}

#more-actions {/ * "offensive?..." * /
	font-size: 80%;
	text-align: right;
}

#report-subscribers {
	padding:10px;
	float:right;
	text-align: center;
	background: #517EB5; 
	border: solid 2px #004990;
	border-radius:5px;
	color:white;
}
*/
