{% extends 'emails/base_email.html' %}
{% load i18n %}
{% get_available_languages as languages %}

{% block content %}
{% get_language_info for "nl" as langNL %}
{% get_language_info for "fr" as langFR %}
{% language langFR.code %}
{% blocktrans with more_info_text=related.refusal_motivation reportType=related.display_category date=related.created|date %}
<p>Your report off type {{reportType}} created at {{date}} is not supported by the FixMyStreet system.</p>
<p>If necessary, you can contact your town hall. </p>
<p>{{more_info_text}}</p>
{% endblocktrans %}
{% endlanguage %}
<br/>
-------------------------------------------------
<br/>
{% language langNL.code %}
{% blocktrans with more_info_text=related.refusal_motivation reportType=related.display_category date=related.created|date %}
<p>Your report off type {{reportType}} created at {{date}} is not supported by the FixMyStreet system.</p>
<p>If necessary, you can contact your town hall. </p>
<p>{{more_info_text}}</p>
{% endblocktrans %}
{% endlanguage %}

{% endblock %}
