{% extends "pro/auth/base.html" %}
{% load i18n tags %}
{% load static from staticfiles %}

{% block script %}
    {{ block.super }}
    <script>
        var IS_MANAGER = {{ request.user.fmsuser.manager|yesno:"true,false" }};
        var IS_LEADER = {{ request.user.fmsuser.leader|yesno:"true,false" }};
        {% if group %}
            var GROUP_ID = {{ group.id }};
        {% else %}
            var GROUP_ID = -1;
        {% endif %}
    </script>

    <script src="{% static 'js/templates/pro_auth_group_create.js' %}"></script>
{% endblock %}

{% block title %}
    {% if group_form.instance.id %}
        {% blocktrans with group.name as name and group.get_type_display as type %}Edit {{ name }} ({{ type }}){% endblocktrans %}
    {% else %}
        {% trans "Create group" %}
    {% endif %}
{% endblock %}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/group_create.css' %}">
{% endblock %}
{% block content %}


    {{ block.super }}
    <form action="" method="POST" id="report-form" class="form-horizontal" style="width:97%">
        {% csrf_token %}
        {% if group_form.instance.id %}
            <h5>{% blocktrans with group.name as name and group.get_type_display as type %}Edit {{ name }} ({{ type }}){% endblocktrans %}</h5>
        {% else %}
            <h5>{% trans "Create group" %}</h5>
        {% endif %}


        <div class="controls">{{ group_form.errors }}</div>

        {% include "_form_horizontal.html" with form=group_form %}

        <table id="memberships">
            <!-- mouve table outside the form due to button vs form submit -->
            {% for membership in memberships %}
                <tr id="{{ membership.id }}" data-user="{{ membership.user.id }}">
                    <td><button class="delete" {% if membership.contact_user %}disabled="disabled"{% endif %}><i class="icon-remove"></i></button></td>
                    <td class="name">{{ membership.user }}</td>
                    <td><input type="radio" name="contact-user" class="contact" {% if membership.contact_user %}checked="checked"{% endif %}/></td>
                </tr>
            {% endfor %}
            <tr class="hidden">
                <td><button class="delete"><i class="icon-remove"></i></button></td>
                <td class="name">template line</td>
                <td><input type="radio" name="contact-user" class="contact" /></td>
            </tr>
        </table>
        {% if group_mail_config_formset%}
            <h2>{% trans "Mail config" %}</h2>
            <div class="controls">
                {{ group_mail_config_formset.as_p }}
            </div>
        {% endif %}
        <div id="required-note" class="controls lead" style="white-space:nowrap">{% trans "* This fields are required" %}</div>

        <div class="control-group">
            <div class="controls pull-right">
                <input type="submit" value="{% trans 'Save' %}" class="btn"/>
                {% if group.id %}
                    <a href="#modalDeleteGroup" role="button" class="btn" data-toggle="modal">{% trans 'Delete' %}</a>
                {% endif %}
            </div>
        </div>
    </form>
    {% if group.id %}
    <div id="modalDeleteGroup" class="modal hide in" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="modalDeleteGroupLabel">{% trans 'Confirmation' %}</h3>
      </div>
      <div class="modal-body">
        <p>{% trans 'Confirm delete' %}</p>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans 'Cancel' %}</button>
        <a href="{% url 'delete_group' group.id %}" class="btn">{% trans 'Delete' %}</a>
      </div>
    </div>
    {% endif %}
{% endblock %}
