

body {
    overflow: hidden;
}

.ui-loader {
    z-index:2000;
}

.ui-header {
    position: fixed !important;
    top:0 !important;
}

.ui-footer {
    position: fixed !important;
    top: auto !important;
    bottom: 0 !important;
}

.ui-content {
    position:fixed;
    top: 42px !important;
    bottom: 0 !important;
    overflow-y: auto;
    right:0;
    left:0;
}

#home .ui-content {
    background-color:#004990;
/*
    background-image:url(../images/logo.png);
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center center; 
*/
}

.ui-content.ui-content-footered {
    bottom: 51px !important;
}

.ui-mobile .ui-page {
    overflow:hidden !important;
}


#resume .ui-listview .ui-li-icon {
    height: 32px;
    width: 32px;
    top: 5px;
    left: 6px;
    max-height: 200px;
    max-width: 200px;
}

.loader:before {
    content:' ';
}

.loader {
    min-height:18px;
    min-width:18px;
    background-image:url(../images/ajax-loader.gif);
    background-repeat:no-repeat;
    background-position:center center;
    display:block;
}

#welcome .msg {
    Color:green;
}

#wizard {
    cursor: pointer;
    border: 1px solid grey;
    border-radius: 14px;
    overflow: hidden;
}

#wizard span {
    display: inline-block;
    width: 25%;
    text-align: center;
    padding: 2px;
    box-sizing: border-box;
    color: grey;
    position: relative;
}

#wizard img {
    width: 30px;
    font-size:0;
}

#wizard span:first-child {
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
}

#wizard span:last-child {
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
}

#wizard span:not(:last-child)::after {
    content:' ';
    position:absolute;
    display:block;
    height:40px;
    width:14px;
    top:0;
    right:-14px;
    background-image:url(../images/arrow_grey.png);
    float:left;
    z-index:1;
}

#wizard .filled:not(:last-child)::after {
    background-image:url(../images/arrow_red.png);
}
#wizard .filled.valid:not(:last-child)::after {
    background-image:url(../images/arrow_green.png);
}
#wizard .filled.current:not(:last-child)::after {
    background-image:url(../images/arrow_blue.png);
}

#wizard .filled {
    color:black;
    background-image: -webkit-gradient(linear,left top,left bottom,from(orange),to(#eee));
    background-image: -webkit-linear-gradient(orange,#eee);
    background-image: -moz-linear-gradient(orange,#eee);
    background-image: -ms-linear-gradient(orange,#eee);
    background-image: -o-linear-gradient(orange,#eee);
    background-image: linear-gradient(orange,#eee);
}

#wizard .filled.valid {
    color:black;
    background-image: -webkit-gradient(linear,left top,left bottom,from(green),to(#eee));
    background-image: -webkit-linear-gradient(green,#eee);
    background-image: -moz-linear-gradient(green,#eee);
    background-image: -ms-linear-gradient(green,#eee);
    background-image: -o-linear-gradient(green,#eee);
    background-image: linear-gradient(green,#eee);
}

#wizard .filled.current {
    color:white;
    background-color: #5f9cc5;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #85bae4 /*{global-active-background-start}*/), to( #5393c5 /*{global-active-background-end}*/));
    background-image: -webkit-linear-gradient(#85bae4 /*{global-active-background-start}*/, #5393c5 /*{global-active-background-end}*/);
    background-image: -moz-linear-gradient(#85bae4 /*{global-active-background-start}*/, #5393c5 /*{global-active-background-end}*/);
    background-image: -ms-linear-gradient(#85bae4 /*{global-active-background-start}*/, #5393c5 /*{global-active-background-end}*/);
    background-image: -o-linear-gradient(#85bae4 /*{global-active-background-start}*/, #5393c5 /*{global-active-background-end}*/);
    background-image: linear-gradient(#85bae4 /*{global-active-background-start}*/, #5393c5 /*{global-active-background-end}*/);
}

.tips {
    display: none;
    position:relative;
    padding: 8px 40px 8px 12px;
    color: #396b9e;
    border: solid 1px #396b9e;
    border-radius: 18px;
}

.tips::before {
    content: ' ';
    display: block;
    position: absolute;
    top:7px;
    right: 8px;
    border-radius: 15px;
    background-image: url(../images/info.png);
    background-color: #396b9e;
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
    background-position: center center;
}

#preview {
    padding-top:10px;
}

.required label {
    font-weight:bold;
}

.required label:before {
    content:"*";
}

.required .mandatory {
    border:1px solid red !important;
}

#report_form p {
    position: relative;
    min-height: 65px;
}

#id_address {
    vertical-align: top;
    display: inline-block;
    position: absolute;
    right: 50px;
    left: 0;
    width:auto;
}

#description .buttons {
    text-align:right;
}

ul.errorlist li {
	color:red;
}

#photo #preview img {
    max-width: 100%;
}

#menu-photo img {
    max-width: 100%;
}

.error-msg {
	color:red;
}

/* MAP CSS */
#map .ui-content {
	margin: 0 auto;
    padding:0;
	position: absolute;
	top: 42px;
	bottom: 0;
	right: 0;
	left: 0;
}

#locate {
    vertical-align: top;
    display: inline-block;
    position: absolute;
    right: 0;
}

#map-bxl{
	height:100%;
	width:100%;
}

#instructable {
	position:absolute;
	bottom:50%;
	left:50%;
	right:5px;
	font-size:.8em;
	z-index:1000;
    margin:0 0 70px 22px;
	background-color:white;
	padding:4px 14px;
	border:1px solid black;
	border-radius:12px;
	border-bottom-left-radius:0;
}

#instructable h3, #instructable p{
	margin: .5em 0;
}

#control-options {
	z-index: 1000;
	position: absolute;
	top: 10px;
	right: 10px;
    margin:0;
}

#locate {
    margin: 0;
}

.olControlPanZoom {
    display:none;
}

#control-zoom {
	z-index: 1000;
	position: absolute;
	bottom: 10px;
	left: 10px;
    margin:0;
}

#map .confirm {
	z-index: 1000;
	position: absolute;
	bottom: 10px;
	right: 10px;
}

#search-form {
	z-index: 1000;
	position: absolute;
	top: 10px;
	right: 10px;
	left: 10px;
}

#search-box{
    margin-right: 50px;
}

#search.loading + .ui-input-clear .ui-icon{
	background:url("../images/ajax-loader.gif") no-repeat center center transparent;
}

#proposal{
    margin:1em 0 0 0;
}
#proposal .ui-icon-arrow-r{
    display:none;
}

.ui-icon.ui-icon-locate{
	background-image:url("../images/locate.png");
}

.ui-icon.ui-icon-help{
	background-image:url("../images/help.png");
}

.map-control .ui-btn-icon-notext {
    width: 34px;
    height: 34px;
    position: relative;
    
}
.map-control .ui-btn-icon-notext.ui-btn-corner-all {
    border-radius: 9px;
    
}

.map-control .ui-btn-icon-notext .ui-btn-inner {
    position: absolute;
    top: 8px;
    right: 8px;
    bottom: 7px;
    left: 8px;
    padding: 0;
}

.map-control .ui-btn-icon-notext .ui-icon {
    height:100%;
    width:100%;
}

