

.ui-page {
	background-color:#6e6e6e;
    color: white;
    background-image:none;
    text-shadow: none;
/*
	background-color:#004990;
    background-image:none;
    padding-top: 42px;
    padding-bottom: 66px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 100%;
 */
}

.ui-header {
    position: fixed !important;
    top: 0 !important;
    min-height: 42px;
    z-index: 3;
    background-image: -webkit-linear-gradient(#555555 0%, #333333 50%, #252525 57%, #252525 100%);
    background-image: -moz-linear-gradient(#555555 0%, #333333 50%, #252525 57%, #252525 100%);
    background-image: -ms-linear-gradient(#555555 0%, #333333 50%, #252525 57%, #252525 100%);
    background-image: -o-linear-gradient(#555555 0%, #333333 50%, #252525 57%, #252525 100%);
    background-image: linear-gradient(#555555 0%, #333333 50%, #252525 57%, #252525 100%);
}

.ui-footer {
    position: fixed !important;
    top: auto !important;
    bottom: 0 !important;
    z-index: 3;
}

.ui-footer li {
    height:58px;
}

.ui-footer .ui-btn {
    background-image: -webkit-linear-gradient(#555555 0%, #333333 50%, #000000 57%, #000000 100%);
    background-image: -moz-linear-gradient(#555555 0%, #333333 50%, #000000 57%, #000000 100%);
    background-image: -ms-linear-gradient(#555555 0%, #333333 50%, #000000 57%, #000000 100%);
    background-image: -o-linear-gradient(#555555 0%, #333333 50%, #000000 57%, #000000 100%);
    background-image: linear-gradient(#555555 0%, #333333 50%, #000000 57%, #000000 100%);
    height:100%;
    border: none;
}

.ui-footer .ui-btn.ui-btn-active {
    border:none;
}

.ui-footer .ui-btn .ui-btn-inner {
    border: none;
}
.ui-footer .ui-btn.ui-btn-active .ui-btn-inner {
    position:absolute;
    right:2px;
    top:2px;
    left:2px;
    bottom:2px;
    border-radius:5px;
    background-image: -webkit-linear-gradient(#636363 0%, #494949 50%, #252525 57%, #262626 100%);
    background-image: -moz-linear-gradient(#636363 0%, #494949 50%, #252525 57%, #262626 100%);
    background-image: -ms-linear-gradient(#636363 0%, #494949 50%, #252525 57%, #262626 100%);
    background-image: -o-linear-gradient(#636363 0%, #494949 50%, #252525 57%, #262626 100%);
    background-image: linear-gradient(#494949 0%, #494949 50%, #252525 57%, #262626 100%);
}

.ui-content {
    padding-top: 44px;
    padding-bottom: 66px;
}

#home {
    background-color: #004990;
    background-image:none;
/*
    background-image:url(../images/logo.png);
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center center; 
*/
}

#help {
    background-color: #F0F0F0;
    color: #333;
}
#config {
    background-color: #F0F0F0;
    color: #333;
}

.ui-content.ui-content-footered {
    padding-bottom: 0px;
}

.ui-btn-corner-all {
    -moz-border-radius: 0.7em;
    -webkit-border-radius: 0.7em;
    border-radius: 0.7em;
}

.ui-btn-up-c {
    background-image: -webkit-linear-gradient(#EEE 0%, #d5d6d8 50%, #c0c1c5 57%, #d5d6d8 100%);
    background-image: -moz-linear-gradient(#EEE 0%, #d5d6d8 50%, #c0c1c5 57%, #d5d6d8 100%);
    background-image: -ms-linear-gradient(#EEE 0%, #d5d6d8 50%, #c0c1c5 57%, #d5d6d8 100%);
    background-image: -o-linear-gradient(#EEE 0%, #d5d6d8 50%, #c0c1c5 57%, #d5d6d8 100%);
    background-image: linear-gradient(#EEE 0%, #d5d6d8 50%, #c0c1c5 57%, #d5d6d8 100%);
}

.ui-btn-up-e, .ui-bar-e {
    background-image: -webkit-linear-gradient(#ffe597 0%, #f8d825 50%, #f1c123 57%, #f8d825 100%);
    background-image: -moz-linear-gradient(#ffe597 0%, #edcf6d 50%, #f1c123 57%, #f8d825 100%);
    background-image: -ms-linear-gradient(#ffe597 0%, #edcf6d 50%, #f1c123 57%, #f8d825 100%);
    background-image: -o-linear-gradient(#ffe597 0%, #edcf6d 50%, #f1c123 57%, #f8d825 100%);
    background-image: linear-gradient(#ffe597 0%, #f8d825 50%, #f1c123 57%, #f8d825 100%);
}


#home .ui-content {
    background-color: #004990;
}

#intro {
    margin-top: 45px;
    margin-bottom: 30px;
}

#intro :last-child::after {
    content: ' ';
    clear: left;
    display: block;
}

#intro .logo {
    float: left;
}
#home .banner-rbc {
    text-align: center;
    position: absolute;
    bottom: 60px;
    width: 100%;
    left: 0;
}

#intro h1 {
    color:white;
    font-size: 1.7em;
    text-shadow:none;
    margin: 0;
}

#intro h2 {
    color:#FFD51D;
    font-size: 1.3em;
    text-shadow:none;
    margin: 0;
}

#resume .ui-listview .ui-li-icon {
    height: 32px;
    width: 32px;
    top: 5px;
    left: 6px;
    max-height: 200px;
    max-width: 200px;
}

.loader:before {
    content:' ';
}

.loader {
    min-height:18px;
    min-width:18px;
    background-image:url(../images/ajax-loader.gif);
    background-repeat:no-repeat;
    background-position:center center;
    display:block;
}

#welcome .msg {
    Color:white;
    text-shadow: none;
}

.wizard {
    cursor: pointer;
    border: 1px solid #504f54;
    border-radius: 8px;
    box-shadow: 3px 3px 3px #504f54;
    overflow: hidden;
    background-image: url(../images/arrow_bg_off.png);
/*    background-image: -webkit-linear-gradient(#ebebec 0%, #ebebec 3px, #adadae 3px, #adadae 50%, #98999b 57%, #bbbbbd 100%);
    background-image: -moz-linear-gradient(#c0c0c0 0%, #bbbbbd 50%, #98999b 57%, #bbbbbd 100%);
    background-image: -ms-linear-gradient(#c0c0c0 0%, #bbbbbd 50%, #98999b 57%, #bbbbbd 100%);
    background-image: -o-linear-gradient(#c0c0c0 0%, #bbbbbd 50%, #98999b 57%, #bbbbbd 100%);
    background-image: linear-gradient(#ebebec 0%, #adadae 10%, #bbbbbd 50%, #98999b 57%, #bbbbbd 100%);
*/    margin-top:15px;
}

.wizard span {
    display: inline-block;
    width: 25%;
    text-align: center;
    padding: 2px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
}

.wizard img {
    width: 30px;
    font-size:0;
    position: relative;
    top: 2px;
}

.wizard span:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.wizard span:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
/*
.wizard span:not(:last-child) {
    border-image:url(../images/arrow_off.png)1 25 41 1 stretch stretch;
    border-image-width: auto;
    padding:0;
}
*/
.wizard span:not(:last-child)::after {
    content:' ';
    position:absolute;
    display:block;
    height:40px;
    width:45px;
    top:0;
    right:-32px;
    background-image:url(../images/arrow_off.png);
    background-repeat:no-repeat;
    float:left;
    z-index:1;
}
.wizard .filled {
    background-image: url(../images/arrow_bg_on.png);
}
.wizard .filled:not(:last-child)::after {
    background-image:url(../images/arrow_on.png);
}

.wizard .filled::before {
    display: block;
    content: ' ';
    position: absolute;
    bottom: 3px;
    right: 12px;
    height:20px;
    width:20px;
    background-image: url(../images/nok.png);
    z-index: 2;
}
.wizard .filled.valid::before {
    background-image:url(../images/ok.png);
}
.wizard :not(.valid).current::before {
    background-image:none;
}


.ui-shadow {
    border:1px solid #504f54;
    box-shadow: 3px 3px 3px rgba(0,0,0,.5);
}

.buttons-box {
    margin-top: 45px;
    background-color: #a8a8a8;
    padding: 8px;
    border-radius: 0.4em;
}

.tips {
    display: none;
    position:relative;
    padding: 8px 40px 8px 12px;
    color: #396b9e;
    border: solid 1px #396b9e;
    border-radius: 18px;
}

.tips::before {
    content: ' ';
    display: block;
    position: absolute;
    top:7px;
    right: 8px;
    border-radius: 15px;
    background-image: url(../images/info.png);
    background-color: #396b9e;
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
    background-position: center center;
}

#preview {
    padding-top:10px;
}

.required label {
    font-weight:bold;
}

.required label:before {
    content:"*";
}

.required .mandatory {
    border:1px solid red !important;
}

#report_form p {
    position: relative;
    min-height: 65px;
}

#id_address {
    vertical-align: top;
    display: inline-block;
    position: absolute;
    right: 50px;
    left: 0;
    width:auto;
}

#description .buttons {
    text-align:right;
}

#description textarea {
    box-shadow: inset 2px 2px 8px #444;
    border-radius: 3px;
}

#description .buttons .ui-btn-corner-all {
    box-shadow: inset 0 1px 5px #444;
    border-radius: .4em;
    border:none;
}

#description .buttons .ui-btn {
    background-image: -webkit-linear-gradient(#5f8ae6 0%, #5f8ae6 43%, #2262de 57%, #2262de 100%);
    background-image: -moz-linear-gradient(#5f8ae6 0%, #5f8ae6 50%, #2262de 57%, #2262de 100%);
    background-image: -ms-linear-gradient(#5f8ae6 0%, #5f8ae6 50%, #2262de 57%, #2262de 100%);
    background-image: -o-linear-gradient(#5f8ae6 0%, #5f8ae6 50%, #2262de 57%, #2262de 100%);
    background-image: linear-gradient(#5f8ae6 0%, #5f8ae6 50%, #2262de 57%, #2262de 100%);
    border-bottom: 1px solid #c0c0c0;
}

#description .buttons .ui-btn .ui-btn-inner {
    padding: 0.6em 24px 0.4em;
}

ul.errorlist li {
	color:red;
}

#photo #preview img {
    max-width: 100%;
}

#menu-photo img {
    max-width: 100%;
}

#category li a {
    white-space: normal;
}
.error-msg {
	color:red;
}

#login-fb {
    background: url(../images/fb_connect_sprite.png) no-repeat scroll left -60px #29447E;
    line-height: 14px;
    outline: medium none;
    padding: 0 0 0 1px;
    color:white;
    text-decoration: none;
    cursor: pointer;
    height:40px;
    display: inline-block;
    font-weight: bold;
    margin-right:8px;
}

#login-fb span {
    background: url(../images/fb_connect_sprite.png) repeat scroll 0 0 #5F78AB;
    border-top: 1px solid #879AC0;
    font-size: 18px;
    margin: 1px 1px 0 38px;
    padding: 10px 14px 12px;
    display: inline-block;
}


/* MAP CSS */
#map .ui-content {
	margin: 0 auto;
    padding:0;
	position: absolute;
	top: 42px;
	bottom: 0;
	right: 0;
	left: 0;
}

#map-bxl{
	height:100%;
	width:100%;
}

#instructable {
	position:absolute;
	bottom:50%;
	left:50%;
	right:5px;
	font-size:.8em;
    color:black;
	z-index:1000;
    margin:0 0 70px 22px;
	background-color:white;
	padding:4px 14px;
	border:1px solid black;
	border-radius:12px;
	border-bottom-left-radius:0;
}

#instructable h3, #instructable p{
	margin: .5em 0;
}

#control-options {
	z-index: 1000;
	position: absolute;
	bottom: 10px;
	right: 10px;
    margin:0;
}

#locate {
    margin: 0;
    vertical-align: top;
    display: inline-block;
}

.olControlPanZoom {
    display:none;
}

#control-zoom {
	z-index: 1000;
	position: absolute;
	bottom: 10px;
	left: 10px;
    margin:0;
}
/*
#map .confirm {
	z-index: 1000;
	position: absolute;
	bottom: 10px;
	right: 10px;
}
*/

#search-form {
	z-index: 1000;
	position: absolute;
	top: 10px;
	right: 10px;
	left: 10px;
}

#search.loading + .ui-input-clear .ui-icon{
	background:url("../images/ajax-loader.gif") no-repeat center center transparent;
}

#proposal{
    margin:1em 0 0 0;
}
#proposal .ui-icon-arrow-r {
    display:none;
}

.map-control .ui-btn-icon-notext {
    width: 48px;
    height: 48px;
    position: relative;
    
}
.map-control .ui-btn-icon-notext.ui-btn-corner-all {
    border-radius: 12px;
    
}

.map-control .ui-btn-inner {
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
    padding: 0;
}

.map-control .ui-icon {
    height:100%;
    width:100%;
    border-radius: 18px;
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
}
.map-control .ui-icon {
    background-image: url("../jquery.mobile-1.0/images/icons-36-white.png");
    background-repeat: no-repeat;
}


.map-control .ui-icon-locate{
    background-image: url("../images/locate.png");
    background-position: 50% 50%;
}


.map-control .ui-icon-zoomin {
    background-position: 0 50%;
}

.map-control .ui-icon-zoomout {
    background-position: -72px 50%;
}

